@font-face {
    font-family: Samsung sans;
    src: url(../fonts/samsung-sans/SamsungSans-Medium.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Samsung sans;
    src: url(../fonts/samsung-sans/SamsungSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Samsung sans;
    src: url(../fonts/samsung-sans/SamsungSans-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* ------- Body | Header | Footer ------- */

* {
    box-sizing:border-box;
}

body {
    font-family: 'Samsung sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    line-height: 1.5em;
}

    body::before {
        content: "";
        position: fixed;
        left: -20px;
        right: 0;
        max-width: 103%;
        height: 100%;
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
        z-index: -10;
        background-image: url('../images/background.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity:.6;
    }

.mobile-menu {
    top: 0;
    height: 70px;
    width: 100vw;
    position: fixed;
    z-index: 100;
}

    .mobile-menu.menu-opened {
        height: 100vh;
    }

.menu {
    display: flex;
    height: 70px;
    width: 100vw;
    color: #244ba5;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.mobile-nav {
    display: none;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    color: #244ba5;
    width: 100%;
    padding: 0 2%;
    height: 0;
    flex-wrap: wrap;
}

    .mobile-nav > a {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #fff;
        padding: 0;
        font-size: 1em;
        height: 15vh;
        margin: 10px;
        width: 40%;
        border-radius: 8px;
        font-weight:300;
    }
        .mobile-nav > a:nth-child(2), .mobile-nav > a:nth-child(3), .mobile-nav > a:nth-child(6) {
            background-color: #244ba5;
        }

        .mobile-nav > a:nth-child(1), .mobile-nav > a:nth-child(4), .mobile-nav > a:nth-child(5) {
            background-color: #7c92c9;
        }

        .mobile-nav > a:before {
            content: '';
            background-repeat: no-repeat;
            height: 66px;
            width: 66px;
            background-size: contain;
            background-position:center;
        }

    .mobile-nav a.menu-home:before {
        background-image: url(../images/icons/home2.svg);
    }
    .mobile-nav a.menu-services:before {
        background-image: url(../images/icons/services.svg);
    }
    .mobile-nav a.menu-informations:before {
        background-image: url(../images/icons/information.svg);
    }
    .mobile-nav a.menu-help:before {
        background-image: url(../images/icons/help.svg);
        background-size:84px;
    }
    .mobile-nav a.menu-faq:before {
        background-image: url(../images/icons/faq.svg);
    }
    .mobile-nav a.menu-contact:before {
        background-image: url(../images/icons/contact.svg);
    }
    .mobile-nav > div {
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }

    .mobile-nav a:last-child {
        padding: 0;
    }

.app-icon {
    height: 50px;
}

.menu-opened .mobile-nav {
    display: flex;
    height: 100vh;
    padding-bottom: 70px;
}

body.menu-opened{
    overflow-y: hidden;
}

.menu-icon {
    content: "";
    background-image: url(../images/icons/menu.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
}

.menu-opened .menu-icon {
    content: "";
    background-image: url(../images/icons/menu_close.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 10px;
}

.menu-toggle {
    padding-right: 30px;
    padding-top: 5px;
}

.container {
    grid-area: content;
    margin-top: 70px;
    padding: 0 4%;
}

footer {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    footer .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        font-weight: 500;
        color: #5a5a5a;
        padding: 4%;
    }

        footer .item a {
            width: -moz-fit-content !important;
            width: -webkit-fit-content !important;
            width: fit-content !important;
        }

        footer .item a {
            padding: 5px 0;
            text-decoration: none;
            color: #5a5a5a;
        }

        footer .item p {
            margin: 3px 0;
            word-wrap: break-word;
        }

        footer .item:last-child {
            align-items:center;
        }

.social-icons {
    display: flex;
    justify-content: start;
}

    .social-icons a:not(:last-child) {
        margin-right:20px;
    }

    .social-icons img {
        width: 40px;
    }

.item > a:hover {
    color: #244ba5;
}

.item.language {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding:0 4% 4% 4%;
}

    .item.language > a {
        text-decoration: none;
        padding: 10px 20px;
    }

.item.language .btn-option {
    background-color:transparent;
    font-size:1em;
    width:auto;
}

#logo > a {
    font-size: 2em;
    text-decoration: none;
    color: inherit;
    padding-left: 8%;
    line-height: normal;
}

    #logo > a:active {
        color: inherit;
    }

#pbc-logo {
    width: 64px;
}

.item.mobile-app {
    padding-bottom: 0;
    margin-left: -6px;
}

    .item.mobile-app a {
        padding-bottom: 0;
        width: 100%;
        height: 50px;
    }

    .item.mobile-app img {
        height: 50px;
        padding-bottom: 0;
    }

/* ------- Home Page ------- */

.welcome {
    padding: 0 3%;
}

    .welcome > h1 {
        color: #5a5a5a;
        font-weight: bold;
    }

    .welcome > h2 {
        color: #244ba5;
        font-weight: 300;
        margin-top: 30px;
        line-height: 1.4em;
    }

    .welcome p {
        color: #303030;
        font-weight:300;
    }

.btn {
    width: 50%;
    height: 60px;
    cursor: pointer;
    border-radius: 2em;
    border: 1px solid #244ba5;
}

.sign-up {
    background-color: #244ba5;
    color: white;
    font-size: large;
    text-decoration: none;
    margin-right: 20px;
    line-height: 60px;
    text-align: center;
}

.sign-in {
    background-color: transparent;
    color: #244ba5;
    font-size: large;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
}

.home div:nth-child(2) {
    display: flex;
    justify-content: space-around;
}

.card-container {
    /*display: grid;
    grid-template-columns: 47% 47%;
    row-gap: 30px;
    column-gap: 6%;
    justify-items: center;*/
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1em;
    color: white;
    width: 42%;
    flex-grow: 1;
    margin-bottom:20px;
}

.card:nth-child(odd) {
    margin-right:10px;
}
    .card:nth-child(even) {
        margin-left: 10px;
    }
    .card:nth-last-child(1):nth-child(odd) {
        margin:0;
    }

    .info-icon {
        display: flex;
        text-align: center;
        justify-content: center;
        min-height: 70px;
    }

.card > * {
    margin: 8px 0;
}

.card > p {
    font-weight:300;
}

.card > h1 {
    font-weight:400;
}

.bg-pink {
    background-color: #ff4655;
}

.bg-yellow {
    background-color: #e5b000;
}

.bg-orange {
    background-color: #f67423;
}

.bg-blue {
    background-color: #00959d;
}

.bg-green {
    background-color: #4cbf22;
}

/* ------- Services ------- */

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* .arrow-bottom {
    transform: rotate(90deg);
} */

.count {
    position: absolute;
    margin-left: -31px;
    margin-top: -5px;
    color: white;
    font-size: smaller;
}

.btn-option {
    height: 60px;
    width:95%;
    margin-right: 5px;
    border: none;
    border-radius: 1em;
    background-color: #f0f0f0;
    color: #244ba5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

    .btn-option img {
        width: 25px;
        margin-right: 3px;
    }

    .btn-option:hover {
        background-color: white;
        color: #193575;
    }

    .btn-option:last-child {
        margin-right: 0;
    }

.btn-service {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 160px;
    border: 1px solid white;
    border-radius: 0.7em;
    text-decoration: none;
}

.btn-service.hide {
    display:none;
}

    .btn-service > * {
        margin: 6px 0;
        color: #244ba5;
        font-weight: 500;
    }

    .btn-service > span {
        transition: transform 0.25s;
        background-position: center;
        max-height: 66px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .btn-service:hover > span {
        transform: scale(1.2);
    }

    .btn-service > .information-icon[data-service="family"] {
        background-image: url(../images/icons/family.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="property"] {
        background-image: url(../images/icons/property.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="work"] {
        background-image: url(../images/icons/work.svg);
        background-size: 60px 52.31px;
        height: 52.31px;
    }

    .btn-service > .information-icon[data-service="business"] {
        background-image: url(../images/icons/business.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="education"] {
        background-image: url(../images/icons/education.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="vehicle"] {
        background-image: url(../images/icons/vehicle.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="taxes"] {
        background-image: url(../images/icons/taxes.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="customs"] {
        background-image: url(../images/icons/customs.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="police"] {
        background-image: url(../images/icons/police.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="judiciary"] {
        background-image: url(../images/icons/judiciary.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="communal"] {
        background-image: url(../images/icons/communal.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="idcard"] {
        background-image: url(../images/icons/id-card.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="permission"] {
        background-image: url(../images/icons/permission.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="health"] {
        background-image: url(../images/icons/health.svg);
        background-size: 60px 52.31px;
        height: 52.31px;
    }

    .btn-service > .information-icon[data-service="ngo"] {
        background-image: url(../images/icons/ngo.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-service > .information-icon[data-service="consul"] {
        background-image: url(../images/icons/consul.svg);
        background-size: 60px 61.22px;
        height: 61.22px;
    }

.sv-content {
    display: grid;
    grid-template-columns: 47% 47%;
    row-gap: 30px;
    column-gap: 6%;
    justify-items: center;
}

.searchbox > button img {
    transition: transform 0.25s;
}

.searchbox button:hover > img {
    transform: scale(1.2);
}

.searchbox button:focus {
    outline: none;
}

.searchbox {
    height: 60px;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 1em;
    display: flex;
    position:relative;
}

    .searchbox > .search {
        border-radius: inherit;
        border: none;
        width: 100%;
        height: inherit;
        background-color: transparent;
        padding-left: 30px;
    }

    .searchbox > .btn-search {
        padding: 16px 16px 6px 16px;
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 0;
    }

    .searchbox > input::placeholder {
        color: #b4b4b4;
        font-weight: 500;
    }

/* ------- My family ------- */

.mf-content {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 30px;
}

.btn-mf {
    display: flex;
    align-items: center;
    width: 100%;
    height: 126px;
    border: 1px solid white;
    border-radius: 0.7em;
    text-decoration: none;
    color: #244ba5;
    position:relative;
}

    .btn-mf:hover:before {
        transform: scale(1.2);
    }

    /*.btn-mf > :nth-child(odd) {
        flex-grow: 1;
    }*/

    .btn-mf:before {
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: transform 0.25s;
        width: 70px;
        height: 48px;
        margin: 0 5px 0 45px;
    }

    .btn-mf[data-family-service="birth-extract"]:before {
        background-image: url(../images/icons/birth-extract.svg);
    }

    .btn-mf[data-family-service="birth-certificate"]:before {
        background-image: url(../images/icons/birth-certificate.svg);
    }

    .btn-mf[data-family-service="marriage-certificate"]:before {
        background-image: url(../images/icons/marriage-certificate.svg);
    }

    .btn-mf[data-family-service="residence-certificate"]:before {
        background-image: url(../images/icons/residence-certificate.svg);
    }

    .btn-mf[data-family-service="citizenship-certificate"]:before {
        background-image: url(../images/icons/citizenship-certificate.svg);
    }

    .btn-mf:after {
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/icons/arrow-right.svg);
        height: 24px;
        width: 24px;
        margin: 0 15px;
    }

    .btn-mf h1 {
        font-weight:400;
        font-size: 1.2em;
        text-align:center;
    }

.info {
    width: 32px;
    height: 32px;
    background-color: white;
    color: #244ba5;
    border-radius: 50%;
    text-align: center;
    font-size: small;
    align-items: center;
    line-height: 32px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    cursor: help;
}

.mf-icon {
    flex-grow: 1;
    width: 33%;
    text-align: center;
    margin-left: 20px;
}

    .mf-icon img {
        width: 50px;
        height: 50px;
    }

.btn-mf .sv-arrow {
    width: 12px;
    height: 20px;
    margin: 0 20px;
}

/* ------- Loading ------- */

.loader {
    display: none;
    background-color: #ffffffe3;
    background-color: #ffffffe3;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 99999;
}

    .loader > img {
        top: 50%;
        position: absolute;
        margin-top: -100px;
        width: 100%;
        height: 115px;
    }

    .loader > h3 {
        text-align: center;
        font-weight: 300;
        margin: 0;
        color: #244ba5;
        position: absolute;
        top: 50%;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

/* ------- e Invoice ------- */

.e-invoice {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    justify-items: center;
    margin-bottom: 30px;
    color: #244ba5;
}

    .e-invoice > * {
        width: 100%;
        border-bottom: 1px solid #b4b4b4;
    }

    .e-invoice > :last-child {
        border: none;
    }

.title > h2, .text > h2 {
    font-weight: 300;
}

.text {
    color: #303030;
}

.price {
    font-weight: 350;
    font-size: 3em;
    margin: 0;
    margin-left: 20px;
}

.penny {
    font-size: 1.5em;
    margin-left: 8px;
    margin-bottom: 24px;
}

.btn-pay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #244ba5;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto;
}

    .btn-pay > img {
        width: 30px;
        margin-left: 3px;
    }

.price-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .price-area > h1 {
        font-weight: 300;
    }

/* ------- Online Payment ------- */

.online-payment {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    color: #244ba5;
    margin-bottom: 30px;
}

    .online-payment > .title {
        border-bottom: 1px solid #b4b4b4;
    }

    .online-payment > .title h2 {
        margin-bottom: 30px;
    }

    .online-payment p {
        font-size: 0.9em;
        color: #111111;
    }

.payment-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

    .payment-info input {
        width: 100%;
        background-color: white;
        border-radius: 1.5em;
        border: none;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

.date-ccv {
    display: flex;
    align-items: flex-end;
}

    .date-ccv div {
        width: 50%
    }

    .date-ccv > :first-child {
        margin-right: 20px;
    }

#expiredt {
    text-align: center;
}

input[type=month]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=month]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

#lock, #exc-mark {
    position: relative;
}

#calendar {
    position: absolute;
    margin-top: 33px;
    margin-left: 12px;
}

.ccv-icons {
    display: flex;
    position: absolute;
    margin-top: -58px;
    width: 43% !important;
}

#lock {
    margin-left: 30%;
}

#exc-mark {
    margin-left: 23%;
}

/* ------- Finish ------- */

.finish {
    text-align: center;
    color: #244ba5;
    margin-bottom: 50px;
}

    .finish > img:first-child {
        justify-self: center;
        padding-top: 50px;
    }

    .finish > h3 {
        margin: 0;
        font-weight: 400;
    }

.button-area {
    display: flex;
}

    .button-area :first-child {
        margin-right: 4%;
    }

.btn-finish {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 60px;
    color: white;
    background-color: #244ba5;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

    .btn-finish > img {
        width: 30px;
        margin-right: 5px;
    }

/* ------- Registeration ------- */

.registration {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #244ba5;
    margin-bottom: 30px;
}

    .registration > .title > h2 {
        margin-bottom: 10px;
    }

    .registration > .text {
        margin-bottom: 20px;
    }

.register-row {
    display: flex;
    flex-direction: column;
}

    .register-row div {
        display: flex;
        align-items: center
    }

    .register-row input {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 10px;
        text-indent: 30px;
        width: 100%;
    }

    .register-row > div > label {
        margin-bottom: 10px;
    }

.play-video, .listen-audio {
    width: 40px;
}

.terms {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

    .terms > a {
        align-self: center;
        margin-top: 15px;
        text-decoration: none;
        color: #5a5a5a;
    }

        .terms > a:first-child {
            margin-right: 18px;
            margin-bottom: 20px;
            width: 100%;
            text-align: left;
            color: #303030;
        }

        .terms > a:active {
            color: #5a5a5a;
        }

.btn-continue, .btn-cancel {
    height: 60px;
    cursor: pointer;
    border-radius: 2em;
    border: none;
    color: white;
    width: 48%;
    margin: 20px 0;
}

.btn-continue {
    background-color: #244ba5;
}

.btn-cancel {
    background-color: red;
}

.registeration > form:last-child {
    margin-bottom: 30px;
}

.verification {
    display: flex;
    padding-top: 50px;
    margin-bottom: 30px;
}

    .verification form {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 30px;
    }

.register-row .select {
    margin-top: 10px;
}

form > .text {
    text-align: left;
}

.register-row > label {
    width: 100%;
    text-align: left;
}

.register-row > select {
    align-self: center;
    margin-right: 20px;
    margin-left: 170px;
    width: 100%;
}

.register-row.select > div {
    margin-bottom: 20px;
    width: 50%;
}

.select {
    margin: 30px 0;
}

.register-row.attach {
    flex-direction: row !important;
    margin-bottom: 10px;
    align-items: center;
}

    .register-row.attach > label {
        display: flex;
        flex: 1;
    }

        .register-row.attach > label > img {
            margin-right: 10px;
        }

#document-type {
    padding-left: 30px;
    color: #5a5a5a;
    width: 100%;
    margin-right: 18px;
}

    #document-type > option {
        line-height: 52px;
    }

option:disabled {
    color: #bebebe;
}

/* ------- Login ------- */

.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    color: #2249a5;
    margin-bottom: 30px;
}

    .login .title h2 {
        margin-bottom: 30px;
    }

    .login a {
        text-decoration: none;
    }

.signin, .signin > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

    .signin input {
        margin-bottom: 20px;
        text-align: left;
        padding: 0 40px;
        font-size: 0.9em;
    }

    .signin label {
        margin-bottom: 10px;
    }

    .signin input::placeholder {
        text-align: left;
    }

.rememberme {
    margin-bottom: 20px !important;
}

.forgot-password {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 0.9em;
}

    .forgot-password > * {
        margin: 10px 0;
        color: #2249a5;
    }

    .forgot-password > a:last-child {
        text-decoration: none;
    }

.btn-signin {
    height: 60px;
    cursor: pointer;
    border-radius: 2em;
    border: 1px solid #244ba5;
    color: #244ba5;
    font-size: 1em;
    background-color: transparent;
}

.btn-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #244ba5;
    color: white;
    border-radius: 2em;
}

#lock2, #user2 {
    position: absolute;
    margin-top: 62px;
    margin-left: 17px;
}

input[type="checkbox"] {
    height: auto;
}

.custom-checkbox input[type=checkbox] {
    display: none;
}

.custom-checkbox label {
    display: flex;
    align-items: center;
    padding-left: 30px;
    position: relative;
}

    .custom-checkbox label:before {
        content: '';
        height: 20px;
        width: 20px;
        border: 1px solid #555;
        background-color: transparent;
        position: absolute;
        left: 0;
        border-radius: 4px;
    }

.custom-checkbox input[type=checkbox]:checked + label:before {
    background-color: #244ba5;
    background-image: url(../images/icons/check-white.svg);
    background-size: cover;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    border-color: #244ba5;
    transition: background-color .1s cubic-bezier(0,.5,.5,.1);
}

    .custom-dropdown select {
        display: none;
    }

.custom-dropdown .btn-option.profile:before {
    content: '';
    background-image: url(../images/icons/profile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
    height: 20px;
    width: 20px;
}

    .custom-dropdown .btn-option.home:before {
        content: '';
        height: 20px;
        width: 20px;
        background-image: url(../images/icons/home.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 5px;
    }

.custom-dropdown .options {
    position: fixed;
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    visibility: hidden;
    border-radius: 0;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #000000b5;
}

.custom-dropdown.open .options {
    max-height: 100%;
    opacity: 1;
    z-index: 999;
    visibility: visible;
}

    .custom-dropdown.open .options .option {
        opacity: 1;
    }

.custom-dropdown .options .option {
    text-align: center;
    padding: 10px;
    color: #244ba5;
    user-select: none;
    cursor: pointer;
    background-color: #fafafa;
    font-weight: 400;
    opacity: 0;
    transition: opacity .15s ease;
}

    .custom-dropdown .options .option.option-label {
        background-color: transparent !important;
        border: 0;
        color: #fafafa;
        font-size: 1.1em;
        padding: 10px 10px 0 10px;
    }
        .custom-dropdown .options .option.option-label:after {
            content: '___';
            display: block;
            position: relative;
            top: -15px;
        }

.custom-dropdown .options .option.selected {
    background-color: #fff;
}

        .custom-dropdown .options .option.disabled {
            background-color: #d9d9d9;
            color: #777;
            cursor: not-allowed;
        }

        .custom-dropdown .options span:first-child {
            border-top: 1px solid #b8ccec;
        }

        .custom-dropdown .options span:not(:last-child) {
            border-bottom: 1px solid #b8ccec;
        }

/* ------- FAQ ------- */

.faq {
    padding-bottom: 30px;
}

.faq .title h2 {
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 30px;
}

.faqanswer {
    display: none;
    width: auto;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: -10px;
    border: 1px solid #244ba5;
    border-radius: 1.5em;
    padding: 20px 20px 0 30px;
    background-color: white;
    word-break: break-word;
}

    .faqanswer p {
        line-height: 30px;
    }

.faq a.active {
    font-weight: bold;
}

.togglefaq {
    text-decoration: none;
    color: #333;
    background-color: white;
    padding: 10px 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #244ba5;
    border-radius: 1.5em;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 52px;
}

    .togglefaq > img {
        width: 14px;
        margin-left: 10px;
    }

    .togglefaq.active > img {
        transform: rotate(-90deg);
    }

.faq p {
    margin: 0;
    padding-bottom: 20px;
}

.question-row {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    align-items: center;
}

    .question-row > a > img {
        margin-bottom: 0;
        margin-top: 1px;
    }

.icons {
    display: flex;
    flex-direction: column;
}

.fixed-icons {
    position: fixed;
    right: 0;
    top:35%;
    padding: 3px 8px;
    border: 1px solid #a5adb9;
    border-radius: 1em 0 0 1em;
    background-color: #e7eef8;
}

    .fixed-icons a { 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 32px;
    }
        .fixed-icons a img {
            position: relative;
            height: 28px !important;
            width: 28px !important;
            margin: 0 !important;
        }
            .fixed-icons a img.listen-audio {
                left: 4px;
            }

.register input {
    padding: 0 30px;
}

.listen-audio {
    margin-left: 6px;
}

/* ------- Help ------- */

.help {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    color: #244ba5;
    margin-bottom: 40px;
}

    .help .title h2 {
        margin-bottom: 30px;
    }

.help-form {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 100%;
}

    .help-form input {
        width: 100%;
        padding: 0 5%;
        margin-top: 10px;
    }

    .help-form label {
        margin-bottom: 10px;
    }

#description {
    border: none;
    border-radius: 1.5em;
    padding: 0 5%;
    padding-top: 20px;
    width: 100%;
    font-size: 1em;
    margin-top: 10px;
}

.btn-submit {
    width: 50%;
    height: 60px;
    cursor: pointer;
    border-radius: 2em;
    border: none;
    background-color: #244ba5;
    color: white;
    justify-self: center;
}

/* ------ Contact -------*/

.contact-form {
    display:grid;
    grid-row-gap:20px;
}

form.contact-form input {
    width:100%;
    text-indent:20px;
}

.contact-form label {
    margin-bottom:10px;
}

.contact-form button {
    justify-self: center;
}

.contact-form textarea {
    resize:none;
}

/* ------- Informations ------- */

.info-content {
    display: grid;
    grid-template-columns: 47% 47%;
    row-gap: 30px;
    column-gap: 6%;
    justify-items: center;
}

.btn-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 160px;
    border: 1px solid white;
    border-radius: 0.7em;
    text-decoration: none;
}

    .btn-info > * {
        margin: 6px 0;
        color: #244ba5;
        font-weight: 500;
    }

    .btn-info > span {
        transition: transform 0.25s;
        background-position: center;
        max-height: 66px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .btn-info:hover > span {
        transform: scale(1.2);
    }

    .btn-info > .information-icon[data-name="benefits"] {
        background-image: url(../images/icons/benefits.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-info > .information-icon[data-name="motion"] {
        background-image: url(../images/icons/motion.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-info > .information-icon[data-name="family"] {
        background-image: url(../images/icons/family2.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-info > .information-icon[data-name="security"] {
        background-image: url(../images/icons/security.svg);
        background-size: 60px 66px;
        height: 66px;
    }

    .btn-info > .information-icon[data-name="health"] {
        background-image: url(../images/icons/health2.svg);
        background-size: 60px 52.31px;
        height: 52.31px;
    }

    .btn-info > .information-icon[data-name="nature"] {
        background-image: url(../images/icons/nature.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-info > .information-icon[data-name="education"] {
        background-image: url(../images/icons/education2.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-info > .information-icon[data-name="diaspora"] {
        background-image: url(../images/icons/diaspora.svg);
        background-size: 60px 61.22px;
        height: 61.22px;
    }

    .btn-info > .information-icon[data-name="work"] {
        background-image: url(../images/icons/work2.svg);
        background-size: 60px 52.31px;
        height: 52.31px;
    }

    .btn-info > .information-icon[data-name="property"] {
        background-image: url(../images/icons/property2.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-info > .information-icon[data-name="informations"] {
        background-image: url(../images/icons/informations.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-info > .information-icon[data-name="culture"] {
        background-image: url(../images/icons/culture.svg);
        background-size: 60px 60px;
        height: 60px;
    }

    .btn-info > .information-icon[data-name="documents"] {
        background-image: url(../images/icons/document.svg);
        background-size: 60px 41.28px;
        height: 41.28px;
    }

    .btn-info > .information-icon[data-name="freedom"] {
        background-image: url(../images/icons/freedom.svg);
        background-size: 60px 66px;
        height: 66px;
    }

.links {
    text-align: center;
}

    .links a {
        text-decoration: none;
        color: #244ba5;
    }

        .links a:active {
            color: white;
        }

    .links span {
        margin: 0 10px;
        color: white;
    }

/* ------- Informations Open ------- */

/* .io-content {
    display: flex;
    flex-direction: column;
}

.io-content .title {
    display: block;
    color: white;
    background-color: #244ba5;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 4px;
} */

.io-content .description {
    /* padding: 0px 20px;
    flex: 4;
    border-left: none;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 3px; */
    display: none;
    width: auto;
    margin-bottom: 20px;
    margin-top: -10px;
    border: 1px solid #244ba5;
    border-radius: 1.5em;
    padding: 20px 20px 0 30px;
    background-color: rgba(255, 255, 255, 0.5);
    word-break: break-word;
}

.info-row {
    display: flex;
    flex-direction: row-reverse;
    /* margin-right: -20px; */
    margin-bottom: 20px;
    align-items: center;
}

.toggle-info {
    text-decoration: none;
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #244ba5;
    border-radius: 1.5em;
    width: 100%;
    margin-bottom: -1px;
    /* margin-right: 20px; */
    height: 52px;
    font-size: 0.9em;
}

    .toggle-info.active {
        color: white;
        background-color: #244ba5;
    }

    .toggle-info > img {
        width: 14px;
        margin-left: 10px;
    }

    .toggle-info.active > img {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        transform: rotate(-90deg);
    }

/* ------- General ------- */

section.home, .services, .my-family, .informations, .informations-open, .finish, .loading {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: 100%;
    grid-row-gap: 30px;
    height: 100%;
    margin-bottom: 30px;
}

input, select {
    height: 60px;
    width: auto;
    background-color: white;
    border-radius: 1.5em;
    border: none;
    font-size: 0.9em;
}

    input[type="file"] {
        display: none;
    }

input, select, textarea, button {
    font-family: inherit;
    outline: none;
}

button {
    font-size: 1em;
}

label {
    color: #303030;
}

.m0 {
    margin: 0;
}

.mb-10 {
    margin-bottom:10px;
}

.p0 {
    padding: 0;
}

.title h2 {
    color: #244ba5;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

.p-fixed {
    position:fixed;
}

.d-block {
    display:block;
}

.hidden {
    display: none;
}

.file {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

    .file.done:before {
        background-image: url(../images/icons/check-white.svg);
        background-position: center;
        background-color: #07b150;
        background-size: 24px;
        border-radius: 1.5em;
    }

    .file span {
        padding: 0 15px 0 55px;
        font-size: .9em;
        word-break: break-word;
    }

    .file:before {
        content: '';
        background-image: url(../images/icons/attach.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        height: 42px;
        width: 42px;
    }

    .file input[type=file] {
        display: none;
    }

/* Retina display */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    body::before {
        background-image: url('../images/background@2x.png');
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .mobile-menu.menu-opened {
        height: 100%;
    }
}

@media only screen and (orientation:landscape) {
    .mobile-menu.menu-opened {
        overflow: auto;
    }
    .menu-opened .mobile-nav {
        padding-bottom: 0;
        padding-top: 70px;
    }
    .mobile-nav a {
        flex-direction:row;
    }
        .mobile-nav a:before {
            margin-right: 6px;
            margin-bottom: 0;
            height: 48px;
            width: 48px;
        }
        .mobile-nav a.menu-help:before {
            background-size:72px;
        }
        .mobile-nav > div {
            position: relative;
        }
    .custom-dropdown .options span {
        border: 1px solid #b8ccec;
    }
            .custom-dropdown .options span:first-child {
                border-radius: 8px 8px 0 0;
            }
            .custom-dropdown .options span:last-child {
                border-radius: 0 0 8px 8px;
            }

    .btn-mf:after {
        position:absolute;
        right:20px;
    }
    .loader > img, .loader > h3 {
        top:60%;
    }

    .card {
        margin-bottom:30px;
    }
        .card:nth-child(even) {
            margin-left:20px;
        }

        .card:nth-child(odd) {
            margin-right: 20px;
        }

        footer {
            display: inline-flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    footer .item.mobile-app {
        width:100%;
    }
    footer .item:nth-child(2), footer .item:nth-child(3) {
        width:42%;
    }
    footer .item:nth-child(3) {
        text-align:right;
    }
        footer .social-icons {
            justify-content:flex-end;
        }
            footer .social-icons a {
                margin-right:0 !important;
                margin-left: 15px;
            }
        footer .social-icons a img {
            width:40px;
            padding: 0;
        }
}

/*@media screen and (orientation:landscape) {
    .mobile-nav > a {
        padding: 3px 24px 3px 90%;
    }

    .mobile-nav>a:first-child {
        margin-top: 0;
    }

    .mobile-nav > div {
        bottom: 0;
        position:relative;
        justify-content: flex-end;
    }

    #logo > a {
        font-size: 1.5em;
        padding-left: 16%;
    }

    .menu-icon {
        width: 40px;
        height: 52px;
    }

    .menu-opened .menu-icon {
        width: 20px;
        height: 20px;
    }

    .card-container, .info-content, .sv-content {
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;
    }

    .login {
        width: 50%;
    }

    .help, .finish, .loading {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .mf-icon {
        width: unset;
        margin-left: 30px;
    }

    .registration, .verification, .online-payment {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

        .registration form > div:last-child, .verification form > div:last-child {
            width: 70%;
            margin: 0 auto;
        }

    .btn-pay {
        width: 50%;
    }

    .payment-info .btn-pay {
        width: 60%;
    }
}*/

/* Firefox */

@-moz-document url-prefix() {
    .count {
        margin-left: -64px;
        margin-top: -12px;
    }

    .btn-mf > img {
        width: 70px;
        height: 70px;
    }

    .sv-arrow {
        height: 38px !important;
    }

    #logo > a {
        padding-left: 20px;
    }
}