﻿@model eKosovaInternal.Domain.Credentials
@{
	ViewData["Title"] = "Kyçu";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
	.selected-language {
		color: #ff9b44
	}

	.select-class > .select2-container--default .select2-selection--single {
		height: 43px !important;
		padding-top: 7px;
		padding-left: 10px;
	}

		.select-class > .select2-container--default .select2-selection--single .select2-selection__arrow b {
			margin-top: 5px !important;
		}
</style>
<link href="~/css/select2.min.css" rel="stylesheet" />
<script src="~/js/select2.min.js"></script>
<h3 class="account-title">Kyçu</h3>

<div id="alert-space"></div>
@using (@Html.BeginForm("Login", "Security", FormMethod.Post))
{
	<div class="form-group">
		<label>Përdoruesi</label>
		<input class="form-control" type="text" asp-for="@Model.Account">
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col">
				<label>Fjalëkalimi</label>
			</div>
		</div>
		<input class="form-control" type="password" asp-for="@Model.Password">
		<div class="row pull-right mt-2">
			<div class="col-auto">
				<a class="text-muted" href="#">Keni harruar fjalëkalimin?</a>
			</div>
		</div>
		<br />
	</div>
	<div class="form-group select-class">
		<select class="form-control select" id="Language" value="Shqip">
			<option value="sq-AL">Shqip</option>
			<option value="en-US">Anglisht</option>
			<option value="sr-Latn-RS">Serbisht</option>
			@*<option><a onclick="changeLanugage('sq-AL')" asp-for class="dropdown-item">Shqip</a></option>
				<option><a onclick="changeLanugage('en-US')" asp-for class="dropdown-item">English</a></option>
				<option><a onclick="changeLanugage('sr-Latn-RS')" asp-for class="dropdown-item">Srpski</a></option>*@
		</select>
	</div>
	<span class="error-message">@Html.ValidationMessage("Credentials")</span>
	<br />
	<div class="form-group text-center">
		<button class="btn btn-primary account-btn" type="submit">Kyçu</button>
	</div>

	<input type="hidden" name="returnUrl" value="@Context.Request.Query["returnUrl"]" />
}

<script src="~/js/requests.js"></script>