﻿@{
	Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
<script src="~/js/requests.js"></script>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Gjurmët</h4>
				<ul class="nav nav-tabs nav-justified" id="log">
					@*<li class="nav-item" data-url="@Url.Action("LogFailedAuthentication", "Logs")"><a onclick="showPartial('@Url.Action("LogFailedAuthentication", "Logs")', 'tab-content-log')" class="nav-link" data-toggle="tab">LogFailed</a></li>*@
					<li class="nav-item" data-url="@Url.Action("LogUserAuthorization", "Logs")"><a onclick="showPartial('@Url.Action("LogUserAuthorization", "Logs")', 'tab-content-log')" class="nav-link" data-toggle="tab">Hyrje/dalje</a></li>
					<li class="nav-item" data-url="@Url.Action("LogFailedAuthentication", "Logs")"><a onclick="showPartial('@Url.Action("LogFailedAuthentication", "Logs")', 'tab-content-log')" class="nav-link" data-toggle="tab">Ndalimet e qasjes</a></li>
				</ul>
				<br />
				<div id="tab-content-log">
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		var first = $('#log .nav-item').first();
		first.children('.nav-link').addClass('active show');
		loadFirstPartial(first.attr("data-url"), 'tab-content-log');
	});

	function showPartial(url, content) {
		var content = $("#" + content);
		content.fadeOut("fast", function () {
			content.html("");
			GetPartial(url).done(function (result) {
				content.html(result);
				content.fadeIn();
			});
		});
	};

	function loadFirstPartial(url, content) {
		var content = $("#" + content);
		content.fadeOut("fast", function () {
			GetEmpty(url).done(function (result) {
				content.html(result);
				content.fadeIn();
			});
		});
	};

</script>
<style>
	.nav-link {
		color: #1f1f1f !important;
	}
</style>