﻿@{
	Layout = null;
}
<style>
	span.k-icon.k-i-calendar {
		margin-top: 14px;
	}

	button[type=submit].k-button.k-primary {
		color: #1f1f1f !important;
	}
</style>
<script src="~/kendo-files/js/kendoCulture.js"></script>
<div id="example">
	<div id="grid"></div>
	<script>
            $(document).ready(function () {
                $("#grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        pageSize: 10,
                        transport: {
                            read: {
                                url: "@Url.Action("Read_LogFailedAuthentication", "Logs")",
                                type: "GET",
                                dataType: "json"
                            }
                        },
                        batch: false,
                        pageSize: 20,
                        serverPaging: true,
                        serverFiltering: true,
                    },
					height: 550,
                    filterable: {
                        mode:"menu",
						extra: false,
						operators: {
							string: {
								eq: "të barabartë me",
								contains: "përmbajnë"
							}
						},
						messages: {
							info: "Shfaq të dhëna që janë",
							clear: "Fshij",
							filter: "Filtro"
						}
					},
					toolbar: [{
						template: `<div class='d-inline-flex pull-right'>
                                <ul class="nav nav-tabs nav-tabs-bottom" style='border-bottom: 0 !important;'>
                                    <li class="nav-item" id='pdfExport'><button class="nav-link"><i class='la la-file-pdf-o'></i> PDF</button></li>
                                    <li class="nav-item" id='xlsExport'><button class="nav-link"><i class='la la-file-excel-o'></i> EXCEL</button></li>
                                </ul>
                            </div>` }],
                    editable: false,
                    pageable: true,
                    columns:
                        [{
                            field: "account",
                            title: "Përdoruesi",
                        }, {
                            field: "computerName",
                            title: "PC"
                            }, {
                                field: "ipAddress",
                                title: "IP Addresa"
                            }, {
								field: "entryDate",
								title: "Data",
								template: "#= new Date(entryDate).toLocaleString('en-GB') #",
								filterable: {
                                    extra: false,
                                    operators: {
                                        string: {
											eq: "më datën"
                                        }
                                    },
                                    ui: datePickerScript
                                }
							}
                        ]
				});
				$("#pdfExport").click(function (e) {
					var grid = $("#grid").data("kendoGrid");
					grid.saveAsPDF();
				});

				$("#xlsExport").click(function (e) {
					var grid = $("#grid").data("kendoGrid");
					grid.saveAsExcel();
				});
			});
            function datePickerScript(element) {
                    element.kendoDatePicker({
                        format: '{0: dd.MM.yyyy}',
						culture: "sq-AL",
						filterable: {
							extra: false,
							operators: {
								string: {
									eq: "më datën"
								}
							}
						}
                    })
                }
	</script>
</div>