﻿@model IList<eKosovaInternal.Domain.PublicUsers.PublicUser>
@using Newtonsoft.Json;
@*@ eKosovaInternal.Domain.PublicUsers.PublicUser*@
@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}


<style>
    .userpictures {
        width: 32% !important;
    }

    .userimagesection {
        padding: 25px 10px 10px 10px;
        line-height: 32px;
        font-weight: 400;
        background-color: #f0f3f5;
        margin: 10px;
    }

    .userprofile {
        padding: 25px 10px 10px 10px;
        line-height: 32px;
        font-weight: 400;
        /*background-color: #f0f3f5;*/
        margin: 10px;
    }

        .userprofile p {
            font-size: 20px;
        }

        .userprofile ul {
            list-style: none !important;
            /*margin-left: -40px;*/
        }

            .userprofile ul li span {
                color: #4890fd;
                font-weight: 600;
            }

    .list-picturepath li {
        list-style: none;
        width: 125px;
        height: auto;
        display: inline-block;
        margin-right: 43px;
    }

        .list-picturepath li:last-child {
            margin-right: 0px;
        }

        .list-picturepath li span {
            display: block;
            margin-top: 15px;
        }

    .modalPictures {
        margin-bottom: 30px;
    }

    .bg1 {
        background-color: #fafafa;
        padding: 6px;
        border: 1px solid #e6e6e6;
    }

        .bg1 p {
            text-align: center;
            padding: 10px;
            font-weight: 500;
            font-size: 18px;
        }

        .bg1:hover {
            background-color: #e3edf1;
            padding: 6px;
        }

    .k-window {
        /* padding-top: 42px; */
        min-width: 90px;
        min-height: 50px;
        top: 50px;
        left: 50px;
        z-index: 10003;
        opacity: 1;
        transform: scale(1);
        /* height: 85vh; */
        /* margin-right: auto; */
        /* margin-left: auto; */
        width: 95vw;
    }

    .k-edit-form-container {
        width: 100%
    }

    .k-content {
    }

    .usereditModal {
        overflow-x: hidden;
        height: 80vh;
    }

    .edit-modal-user-profile {
        flex-wrap: unset !important;
        margin-right: 100px !important;
        margin-left: 40px !important;
    }

    .edit-modal-user-profile2 {
        flex-wrap: unset !important;
        margin-right: 140px !important;
        margin-left: 40px !important;
    }

    .userHistory {
        margin-top: 70px;
    }

    .my-custom-scrollbar {
        position: relative;
        height: 450px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .k-primary {
        background-color: #ff851a !important;
        border-color: #ff851a !important;
        color: #fff !important;
    }
    #commentbox:first-child {
        display: none
    }
    .fototePerdoruesit{
        margin-top: 20px;
    }
    .infoePerdoruesit {
        background-color: #fafafa;
        padding: 10px;
        border: 1px solid #e6e6e6;
    }
    .infoFotoBg {
        background-color: #ececec;
        padding: 6px;
        border: 1px solid #e6e6e6;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div id="grid"></div>

            </div>
        </div>

    </div>
</div>
<script type="text/x-kendo-template" id="template">
    <div class='d-inline-flex w-100 justify-content-between'>
        <div>
            <select class="form-control" id="selectStatus" onchange="kerkoClick()" style="height: 21px">
                <option>Zgjedh Statusin</option>
                <option>Approved</option>
                <option>Refused</option>
                <option>Pending</option>
            </select>
        </div>
        <ul class="nav nav-tabs nav-tabs-bottom" style='border-bottom: 0 !important;'>
            <li class="nav-item" id='pdfExport'><button class="nav-link"><i class='la la-file-pdf-o' id='pdfExport'></i> PDF</button></li>
            <li class="nav-item" id='xlsExport'><button class="nav-link"><i class='la la-file-excel-o' id='xlsExport'></i> EXCEL</button></li>
        </ul>
    </div>
</script>
<script src="~/js/cache.js"></script>

<div style="display: none">
    <div id="popup-editor">
        <div class="k-content usereditModal">
            <div class="container-fluid">
                <div class="row edit-modal-user-profile">
                    <div class="col-4">
                        <div class="userprofile">
                            <p>Informatat e perdoruesit</p>
                            <div class="infoePerdoruesit">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>First Names:</th>
                                            <td><span id="first"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Last Name:</th>
                                            <td><span id="last"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Email:</th>
                                            <td><span id="email"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Personal Number:</th>
                                            <td><span id="personal-number"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Phone Number:</th>
                                            <td><span id="phone-number"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="userprofile" id="commentbox">
                            <p>Arsyja</p>
                            <div class="infoePerdoruesit">
                                <textarea id="editor" data-bind="value: textareaValue" rows="5" cols="30" style="height: 152px; width: 100%;"></textarea>
                                @*<textarea id="reason" class="form-control" typeof="text" data-bind="textarea" rows="4"></textarea>*@
                                <pre style="display:none">
                                {
                                    checkboxValue: <span id="checkme" data-bind="text: checkboxValue"></span>
                                    checkboxValue2: <span id="checkme" data-bind="text: checkboxValue2"></span>
                                    checkboxValue3: <span id="checkme" data-bind="text: checkboxValue3"></span>
                                    textareaValue: <input data-bind="value: textareaValue" id="kom" />



                                }
                            </pre>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row edit-modal-user-profile2">

                    <div class="col-4">
                        <div class="bg1">
                            <p>Fotografia e prapme</p>
                            <img class="img-fluid modalPictures " id="backId" />
                            <label>
                                <input type="checkbox" name="backtest" data-bind="checked: checkboxValue" id="backCheck" onchange="showReason(this)"  />Refuzim
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="bg1">
                            <p>Fotografia e parme</p>
                            <img class="img-fluid modalPictures" id="frontId" />
                            <div class="form-check">
                                <label>
                                    <input type="checkbox" data-bind="checked: checkboxValue2" id="frontCheck" onchange="showReason(this)"/>Refuzim
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="bg1">
                            <p>Fotografia Selfi</p>
                            <img class="img-fluid modalPictures" id="selfieId" />
                            <div class="form-check">
                                <label>
                                    <input type="checkbox" data-bind="checked: checkboxValue3" id="selfiCheck" onchange="showReason(this)" />Refuzim
                                </label>
                            </div>
                        </div>
                    </div>
                     
                </div>
            </div>

            <!--<div class="col-12" style="margin-right: 30px;  margin-left: 0px;">
            <div class="row">
                <div class="col-4 userprofile">
                    <table>
                        <tbody>
                            <tr>
                                <th>First Names:</th>
                                <td><span id="first"></span></td>
                            </tr>
                            <tr>
                                <th>Last Name:</th>
                                <td><span id="last"></span></td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td><span id="email"></span></td>
                            </tr>
                            <tr>
                                <th>Personal Number:</th>
                                <td><span id="personal-number"></span></td>
                            </tr>
                            <tr>
                                <th>Phone Number:</th>
                                <td><span id="phone-number"></span></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-7 ">
                    <div class="view" id="commentbox">

                        <label>
                            Arsyja:
                            <textarea id="editor" data-bind="value: textareaValue" rows="10" cols="30"></textarea>-->
            @*<textarea id="reason" class="form-control" typeof="text" data-bind="textarea" rows="4"></textarea>*@

            <!--</label>
                        </div>
                        <pre style="display:none">
                            {
                                checkboxValue: <span id="checkme" data-bind="text: checkboxValue"></span>
                                checkboxValue2: <span id="checkme" data-bind="text: checkboxValue2"></span>
                                checkboxValue3: <span id="checkme" data-bind="text: checkboxValue3"></span>
                                textareaValue: <input data-bind="value: textareaValue" id="kom" />
                            }
                        </pre>
                    </div>
                </div>
            </div>
            <div class="row" style=" padding:0px; margin-top: 25px; margin-bottom: 10px;">
                <div class="col-3">
                    <div class="bg1">
                        <p>Fotografia e prapme</p>
                        <img class="img-fluid modalPictures " id="backId" />
                        <label>
                            <input type="checkbox" data-bind="checked: checkboxValue"  id="backCheck" />Refuzim
                        </label>

                    </div>
                </div>
                <div class="col-3">
                    <div class="bg1">
                        <p>Fotografia e parme</p>
                        <img class="img-fluid modalPictures" id="frontId" />
                        <div class="form-check">
                            <label>
                                <input type="checkbox" data-bind="checked: checkboxValue2" id="frontCheck" />Refuzim
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="bg1">
                        <p>Fotografia Selfi</p>
                        <img class="img-fluid modalPictures" id="selfieId" />
                        <div class="form-check">
                             <label>
                                <input type="checkbox" data-bind="checked: checkboxValue3" id="selfiCheck" />Refuzim
                            </label>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<div style="display: none">
    <div id="popup-info">
        <div class="k-content usereditModal">
            <div class="container-fluid">
                <div class="row edit-modal-user-profile">
                    <div class="col-4">
                        <div class="userprofile">
                            <p>Informatat e përdoruesit</p>
                            <div class="infoePerdoruesit">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>First Names:</th>
                                            <td><span id="first2"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Last Name:</th>
                                            <td><span id="last2"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Email:</th>
                                            <td><span id="email2"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Personal Number:</th>
                                            <td><span id="personal-number2"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Phone Number:</th>
                                            <td><span id="phone-number2"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            <div class="fototePerdoruesit">
                                <p>Fotografit e përdoruesit</p>
                                <div class="infoePerdoruesit">
                                    <div class="d-flex flex-row " @*edit-modal-user-profile2*@>
                                        <div class=" " style="padding-right: 0px !important; margin-right: 5px;">
                                            <div class="infoFotoBg "> 
                                                <img class="img-fluid modalPictures " id="backId2" /> 
                                            </div>
                                        </div>
                                        <div class="infoFotoBg " style="padding-right: 0px !important;margin-right: 5px;">
                                            <div class=" "> 
                                                <img class="img-fluid modalPictures" id="frontId2" /> 
                                            </div>
                                        </div>
                                        <div class="infoFotoBg " style="padding-right: 0px !important;margin-right: 5px;">
                                            <div class=" "> 
                                                <img class="img-fluid modalPictures" id="selfieId2" />
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            
                        </div> 
                             
                    </div>
                    <div class="col-8">
                        <div class="userprofile">
                            <p>Historiku i përdoruesit</p>
                                <div id="popup-grid"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    if (document.getElementById('backCheck').checked) {
        alert("Checked");
    } else {
        alert("Unchecked");
    }
      
    function showReason(element) { 
        if (element.checked) {
            $('#commentbox:first-child').css('display', 'block');
        }
        else {
            $('#commentbox:first-child').css('display', 'none');
        }
    } 
        //function showReason(element) { 
    //       var backcheck = document.querySelectorAll("span[data-bind='text: checkboxValue']")[1].innerHTML;
    //       var frontcheck = document.querySelectorAll("span[data-bind='text: checkboxValue2']")[1].innerHTML;
    //       var selficheck = document.querySelectorAll("span[data-bind='text: checkboxValue3']")[1].innerHTML;
    //    debugger;
    //    if (backcheck.checked != false) {
    //        alert("true");
    //        $('#commentbox:first-child').css('display', 'block');
    //    }
    //    else {
    //        alert("false");
    //        $('#commentbox:first-child').css('display', 'none');
    //    }
    //}
    //function showReason() {

    //    var backcheck = document.querySelectorAll("span[data-bind='text: checkboxValue']")[1].innerHTML;
    //    var frontcheck = document.querySelectorAll("span[data-bind='text: checkboxValue2']")[1].innerHTML;
    //    var selficheck = document.querySelectorAll("span[data-bind='text: checkboxValue3']")[1].innerHTML;



    //    backcheck = !backcheck || backcheck == "false" ? false : true;
    //    frontcheck = !frontcheck || frontcheck == "false" ? false : true;
    //    selficheck = !selficheck || selficheck == "false" ? false : true;

    //    console.log("backcheck", backcheck);
    //    console.log("frontcheck", frontcheck);
    //    console.log("selficheck", selficheck);

    //    debugger;
    //    if ((!backcheck || backcheck.checked == "true") && (!frontcheck || frontcheck.checked == "true") && (!selficheck || selficheck.checked == "true")) {

    //        $('#commentbox:first-child').css('display', 'none');
    //    } else {
    //        $('#commentbox:first-child').css('display', 'block');
    //    }


    //    if (!backcheck || backcheck == "false") {
    //        $('#commentbox:first-child').css('display', 'block');
    //    } else {
    //        $('#commentbox:first-child').css('display', 'none');
    //    }
    //    if (!frontcheck || frontcheck == "false") {
    //        $('#commentbox:first-child').css('display', 'block');
    //    } else {
    //        $('#commentbox:first-child').css('display', 'none');
    //    }
    //    if (!selficheck || selficheck == "false") {
    //        $('#commentbox:first-child').css('display', 'block');
    //    } else {
    //        $('#commentbox:first-child').css('display', 'none');
    //    }
    //}
    
    function kerkoClick() {
        filterGrid();
        $("#grid").data("kendoGrid").dataSource.refresh();
    }
    function filterGrid() {
        var filterStatus = $("#selectStatus").val();
        if ($("#selectStatus")[0].selectedIndex > 0) {
            $("#grid").data("kendoGrid").dataSource.filter
                ({
                    filters: [
                        {
                            field: "status",
                            operator: "eq",
                            value: filterStatus
                        },
                    ]
                });
        } else {
            $("#grid").data("kendoGrid").dataSource.filter({});
        }
    }

    var viewModel = kendo.observable({
        checkboxValue: true,
        checkboxValue2: true,
        checkboxValue3: true,
        inputValue: "Input value",
        textareaValue: "Textarea value"
    });

    kendo.bind($("view"), viewModel);
   
    var userlist = GetSyncWithOutLoader("@Url.Action("Data","PublicUser")").responseJSON; 
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    data: userlist,
                    schema: {
                        model: {
                            id: "id",
                            fields: {
                                personalNumber: { type: "number" },
                                status: { type: "string" },
                                first: { type: "string" },
                                last: { type: "string" },
                                email: { type: "string" },
                                phoneNumber: { type: "string" },
                                businessName: { type: "string" },
                                businessNumber: { type: "string" },
                                category: { type: "string" }

                            }
                        }
                    },
                    pageSize: 10
                },
                scrollable: true,
                sortable: true,
                filterable: {
                    mode: "menu"
                },
                pageable: {
                    input: true,
                    numeric: false
                },
                excel: {
                    fileName: "Lista e aplikuesve.xlsx",
                    allPages: true
                },
                pdf: {
                    fileName: "Lista e aplikuesve.pdf",
                    allPages: true,
                    avoidLinks: true,
                    landscape: true,
                    scale: 0.7,
                    paperSize: "A4",
                    margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                    repeatHeaders: true,
                    forcePageBreak: "tr:nth-child(15n)"
                    //, template: $("#page-template").html()
                },
                toolbar: kendo.template($("#template").html()),
                columns: [
                    {
                        field: "personalNumber", title: "Numri personal", width: "200px",
                        filterable: {
                            messages: {
                                info: 'Shfaq të dhënat me vlerën:',
                                filter: "Filtro",
                                clear: "Anulo"
                            },
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Përmban",
                                    startswith: "Fillon me",
                                    eq: "Barabartë me"
                                }
                            }
                        }
                    },
                    {
                        field: "status", title: "Statusi",
                        filterable: {
                            messages: {
                                info: 'Shfaq të dhënat me vlerën:',
                                filter: "Filtro",
                                clear: "Anulo"
                            },
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Përmban",
                                    startswith: "Fillon me",
                                    eq: "Barabartë me"
                                }
                            }, ui: dropdownStatusTypes
                        }
                    },
                    {
                        field: "first", title: "Emri",
                        filterable: {
                            messages: {
                                info: 'Shfaq të dhënat me vlerën:',
                                filter: "Filtro",
                                clear: "Anulo"
                            },
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Përmban",
                                    startswith: "Fillon me",
                                    eq: "Barabartë me"
                                }
                            }
                        }
                    },
                    {
                        field: "last", title: "Mbiemri",
                        filterable: {
                            messages: {
                                info: 'Shfaq të dhënat me vlerën:',
                                filter: "Filtro",
                                clear: "Anulo"
                            },
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Përmban",
                                    startswith: "Fillon me",
                                    eq: "Barabartë me"
                                }
                            }
                        }
                    },

                    {
                        field: "email", title: "Email",
                        filterable: {
                            messages: {
                                info: 'Shfaq të dhënat me vlerën:',
                                filter: "Filtro",
                                clear: "Anulo"
                            },
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Përmban",
                                    startswith: "Fillon me",
                                    eq: "Barabartë me"
                                }
                            }
                        }
                    },
                    {
                        field: "phoneNumber", title: "Numri i telefonit", width: "200px",
                        filterable: {
                            messages: {
                                info: 'Shfaq të dhënat me vlerën:',
                                filter: "Filtro",
                                clear: "Anulo"
                            },
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Përmban",
                                    startswith: "Fillon me",
                                    eq: "Barabartë me"
                                }
                            }
                        }
                    },

                    {
                        field: "businessName", title: "Biznesi",
                        filterable: {
                            messages: {
                                info: 'Shfaq të dhënat me vlerën:',
                                filter: "Filtro",
                                clear: "Anulo"
                            },
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Përmban",
                                    startswith: "Fillon me",
                                    eq: "Barabartë me"
                                }
                            }
                        }
                    },
                    {
                        field: "businessNumber", title: "NUI",
                        filterable: {
                            messages: {
                                info: 'Shfaq të dhënat me vlerën:',
                                filter: "Filtro",
                                clear: "Anulo"
                            },
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Përmban",
                                    startswith: "Fillon me",
                                    eq: "Barabartë me"
                                }
                            }
                        }
                    },
                    {
                        field: "category", title: "Kategoria",
                        filterable: {
                            messages: {
                                info: 'Shfaq të dhënat me vlerën:',
                                filter: "Filtro",
                                clear: "Anulo"
                            },
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Përmban",
                                    startswith: "Fillon me",
                                    eq: "Barabartë me"
                                }
                            }
                        }
                    },
                    { command: "edit" },
                    {
                        command: [
                            {
                                name: "onabai",
                                text: " Info",
                                imageClass: "fa fa-trash",
                                iconClass: "fa fa-info-circle",
                                click: function (e) {
                                    var user = this.dataItem($(e.currentTarget).closest("tr"));
                                    popUpKendoGrid(user.id);
                                    $("#personal-number2").html(user.personalNumber);
                                    $("#first2").html(user.first);
                                    $("#last2").html(user.last);
                                    $("#email2").html(user.email);
                                    $("#phone-number2").html(user.phoneNumber);
                                    //$("#backId").html(data.PathIDFront);
                                    $.ajax({
                                        type: "POST",
                                        url: '/PublicUser/UserPictures',
                                        data: JSON.stringify({ Identification: `${user.personalNumber}` }),
                                        async: false,
                                        success: function (response) {
                                            $("#backId2").attr("src", "data:image/png;base64, " + response.backID);
                                            $("#frontId2").attr("src", "data:image/png;base64, " + response.frontID);
                                            $("#selfieId2").attr("src", "data:image/png;base64, " + response.selfie);
                                        },
                                        dataType: 'json',
                                        contentType: "application/json"
                                    });
                                    //return $("#popup-editor").html()

                                    var pop2 = $("#popup-info").kendoWindow({

                                        modal: true,

                                        title: "",
                                        visible: false,
                                        draggable: false,
                                        resizable: false
                                    }).data("kendoWindow").open().center();

                                },
                            }
                        ]
                    }],

                editable: {
                    mode: "popup",
                    template: kendo.template(
                        function (user) {
                            $("#personal-number").html(user.personalNumber);
                            $("#first").html(user.first);
                            $("#last").html(user.last);
                            $("#email").html(user.email);
                            $("#phone-number").html(user.phoneNumber);
                            $.ajax({
                                type: "POST",
                                url: '/PublicUser/UserPictures',
                                data: JSON.stringify({ Identification: `${user.personalNumber}` }),
                                async: false,
                                success: function (response) {
                                    $("#backId").attr("src", "data:image/png;base64, " + response.backID);
                                    $("#frontId").attr("src", "data:image/png;base64, " + response.frontID);
                                    $("#selfieId").attr("src", "data:image/png;base64, " + response.selfie);
                                },
                                dataType: 'json',
                                contentType: "application/json"
                            });
                            return $("#popup-editor").html()
                        })

                },
                columnMenu: {
                    messages: {
                        columns: "Kolonat",
                        sortAscending: "Renditja A-Z",
                        sortDescending: "Renditja Z-A"
                    }
                },
                dataBound: function (e) {
                    var grid = $("#grid").data("kendoGrid");
                    var data = grid.dataSource.data();
                    $.each(data, function (i, row) {
                        if (row.status == "Refused") {
                            var element = $('tr[data-uid="' + row.uid + '"] ');
                            $(element).css("background-color", "#feeeee");
                        }
                        if (row.status == "Approved") {
                            var element = $('tr[data-uid="' + row.uid + '"] ');
                            $(element).css("background-color", "#fdfde4");
                        }
                    });
                },
                save: function (e) {
                    var commentcheck = document.querySelectorAll("#kom")[1].value;
                    var backcheck = document.querySelectorAll("span[data-bind='text: checkboxValue']")[1].innerHTML;
                    var frontcheck = document.querySelectorAll("span[data-bind='text: checkboxValue2']")[1].innerHTML;
                    var selficheck = document.querySelectorAll("span[data-bind='text: checkboxValue3']")[1].innerHTML;

                    backcheck = !backcheck || backcheck == "false" ? true : false;
                    frontcheck = !frontcheck || frontcheck == "false" ? true : false;
                    selficheck = !selficheck || selficheck == "false" ? true : false;


                    $.ajax({
                        url: 'PublicUser/Update',
                        type: 'POST',
                        dataType: 'json',
                        contentType: "application/json",
                        data: JSON.stringify({
                            "ID": e.model.id,
                            "IDFront": frontcheck,
                            "IDBack": backcheck,
                            "IDSelfie": selficheck,
                            "Reason": commentcheck
                        }),
                        success: function (data) {
                             
                            setTimeout(function () {// wait for 5 secs(2)
                                location.reload(); // then reload the page.(3)
                            }, 0);
                        },
                        error: function (data) {
                             
                            console.log(data);
                            setTimeout(function () {// wait for 5 secs(2)
                                location.reload(); // then reload the page.(3)
                            }, 0);
                        }
                    });
                },
                
            });
            function popUpKendoGrid(publicUserId){
                //var userHistoryList = GetSyncWithOutLoader("@Url.Action("Data","PublicUserHistory")").responseJSON;
                try {
                    var userHistoryList = [];

                    GetSync({ publicUserId }, "@Url.Action("Data","PublicUserHistory")").done(function (response) {
                        userHistoryList = response;
                    })
                }
                catch (error) {

                }
                 
                //console.log('userHistoryList', userHistoryList);
 
                return $("#popup-grid").kendoGrid({
                    dataSource: {
                        data: userHistoryList,
                        schema: {
                            model: {
                                id: "idPublicUser",
                                fields: {

                                    insertionDate: { type: "string" },
                                    status: { type: "string" },
                                    reason: { type: "string" }
                                }
                            }
                        },
                        pageSize: 10
                    },
                    scrollable: true,
                    sortable: true,
                    filterable: {
                        mode: "menu"
                    },
                    pageable: {
                        input: true,
                        numeric: false
                    },
                    excel: {
                        fileName: "Lista e aplikuesve.xlsx",
                        allPages: true
                    },
                    pdf: {
                        fileName: "Lista e aplikuesve.pdf",
                        allPages: true,
                        avoidLinks: true,
                        landscape: true,
                        scale: 0.7,
                        paperSize: "A4",
                        margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                        repeatHeaders: true,
                        forcePageBreak: "tr:nth-child(15n)"
                        //, template: $("#page-template").html()
                    },
                    toolbar: [{
                        template: `<div class='d-inline-flex w-100 justify-content-between'>
                                <div></div>
                                <ul class="nav nav-tabs nav-tabs-bottom" style='border-bottom: 0 !important;'>
                                    <li class="nav-item" id='pdfExport'><button class="nav-link"><i class='la la-file-pdf-o' id='pdfExport'></i> PDF</button></li>
                                    <li class="nav-item" id='xlsExport'><button class="nav-link"><i class='la la-file-excel-o' id='xlsExport'></i> EXCEL</button></li>
                                </ul>
                            </div>` }],
                    columns: [

                        {
                            field: "insertionDate", title: "Data",
                            filterable: {
                                messages: {
                                    info: 'Shfaq të dhënat me vlerën:',
                                    filter: "Filtro",
                                    clear: "Anulo"
                                },
                                extra: false,
                                operators: {
                                    string: {
                                        contains: "Përmban",
                                        startswith: "Fillon me",
                                        eq: "Barabartë me"
                                    }
                                }
                            }
                        },
                        {
                            field: "status", title: "Status",
                            filterable: {
                                messages: {
                                    info: 'Shfaq të dhënat me vlerën:',
                                    filter: "Filtro",
                                    clear: "Anulo"
                                },
                                extra: false,
                                operators: {
                                    string: {
                                        contains: "Përmban",
                                        startswith: "Fillon me",
                                        eq: "Barabartë me"
                                    }
                                }
                            }
                        },

                        {
                            field: "reason", title: "Mesazhi",
                            filterable: {
                                messages: {
                                    info: 'Shfaq të dhënat me vlerën:',
                                    filter: "Filtro",
                                    clear: "Anulo"
                                },
                                extra: false,
                                operators: {
                                    string: {
                                        contains: "Përmban",
                                        startswith: "Fillon me",
                                        eq: "Barabartë me"
                                    }
                                }
                            }
                        }
                          ],

                    //editable: {
                    //    mode: "popup",
                    //    template: kendo.template(
                    //        function (user) {
                    //            console.log(user.first);
                    //            $("#personal-number").html(user.personalNumber);
                    //            $("#first").html(user.first);
                    //            $("#last").html(user.last);
                    //            $("#email").html(user.email);
                    //            $("#phone-number").html(user.phoneNumber);
                    //            //$("#backId").html(data.PathIDFront);
                    //            $("#backId").attr("src", "data:image/png;base64, " + user.base64.backID);
                    //            $("#frontId").attr("src", "data:image/png;base64, " + user.base64.frontID);
                    //            $("#selfieId").attr("src", "data:image/png;base64, " + user.base64.selfie);
                    //            return $("#popup-editor").html()
                    //        })

                    //},
                    columnMenu: {
                        messages: {
                            columns: "Kolonat",
                            sortAscending: "Renditja A-Z",
                            sortDescending: "Renditja Z-A"
                        }
                    },
                    //dataBound: function (e) {
                    //    var grid = $("#grid").data("kendoGrid");
                    //    var c = grid.dataSource.data();
                    //    $.each(data, function (i, row) {
                    //        if (row.status == "Refused") {
                    //            var element = $('tr[data-uid="' + row.uid + '"] ');
                    //            $(element).css("background-color", "#fba8a8");
                    //        }
                    //        if (row.status == "Approved") {
                    //            var element = $('tr[data-uid="' + row.uid + '"] ');
                    //            $(element).css("background-color", "#f7f77a");
                    //        } 
                    //    });  
                    //}
                });
            };

             $("#pdfExport").click(function (e) {
                 var grid = $("#grid").data("kendoGrid");
                 grid.saveAsPDF();
             });
             $("#xlsExport").click(function (e) {
                 var grid = $("#grid").data("kendoGrid");
                 grid.saveAsExcel();
             });
             function dropdownStatusTypes(input) {
                 input.kendoDropDownList({
                     dataSource: [
                         { text: 'Pending', value: 'Pending' },
                         { text: 'Refused', value: 'Refused' },
                         { text: 'Approved', value: 'Approved' }
                     ],
                     dataTextField: "text",
                     dataValueField: "value",
                     valuePrimitive: true,
                     optionLabel: "Zgjedh llojin e statusit"
                 });
             }
         })
     
</script>
