﻿@model List<eKosovaInternal.SharedModel.Modules.ModuleModel>
@{
    Layout = null;
    List<SelectListItem> accessList = new List<SelectListItem>() {
        new SelectListItem {
            Text = "Denied", Value = "3"
        },
        new SelectListItem {
            Text = "Read Only", Value = "2"
        },
        new SelectListItem {
            Text = "Full Access", Value = "1"
        }
    };

    var isFrom = ViewBag.IsFromRole;
}
    <style>
        .status-toggle > .select2 {
            width: 115px !important;
        }

        .notification-list > .list-group-item {
            padding-top: 10px !important;
            padding-bottom: 5px !important;
        }
        .access-group > .notification-list .list-group-item {
            margin-top: 3px;
        }
        .child{
            display:none;
        }

        .select2-search__field {
            height: unset !important;
            width: 100%;
            background-color: unset !important;
            border-radius: unset !important;
            border: 1px solid black;
        }
    </style>

<link href="~/css/select2.min.css" rel="stylesheet" />
<h6 class="card-title m-b-20">Lista e qasjeve individuale</h6>
<div class="m-b-30 access-group">

    <ul class="list-group notification-list">
        @foreach (var item in Model)
        {
            var parentID = item.IDParent;
            var addChildClass = item.IDParent == null ? "is-parent-"+ item.ID : "is-child-"+parentID+" child";
        <li class="list-group-item @addChildClass" style="margin-left:@(item.MarginDistance)px">
            @item.Title
    
            <div class="status-toggle">
                <input type="hidden" id="ids-@item.IDRoleAuthorization" value="@string.Join( ", ", item.IDs)" />
                @*<select class="form-control select modules" asp-for="@item.IDRoleAuthorization" id="@item.IDRoleAuthorization" asp-items="@accessList" data_role_id="@item.IDRole" value="@item.IDRoleAuthorizationType"  id_module="@item.Id">
                    

                </select>*@
                <input type="hidden" id="ids-@item.IDRoleAuthorization" value="@string.Join( ", ", item.IDs)" />
                @Html.DropDownListFor(model => item.IDRoleAuthorizationType, accessList, new { @class = "select modules", @id = item.IDRoleAuthorization, @data_role_id = item.IDRole, @id_module = item.ID })
            </div>

        </li>
        }
    </ul>
</div>
<script src="~/js/select2.min.js"></script>
<script>

    $(document).ready(function () {
        $(".list-group-item").click(function (e) {
            var className = this.className;
            var id = className.split("-")[4];
            var nameHide = ".is-child-" + id;
            $(nameHide).toggle(0);
        });
        $(".status-toggle").click(function (e) {
            return false;
        });

        $(".modules").select2();
        if ('@isFrom' == 'True') {
            $('.modules').on('select2:select', function (e) {
                var id = $(this)[0].id;
                var idAccessType = $(this)[0].value;
                changeRoleAccess(id, idAccessType);
                var items = $("#ids-" + id).val();
                var array = items.split(', ');
                if (array[0] != "") {
                    $.each(array, function (key, value) {
                        var access = $("#" + value).val();
                        if (parseInt(idAccessType) > parseInt(access)) {
                            $('select#' + value).val(idAccessType).trigger('change');
                            changeRoleAccess(value, idAccessType);
                        }
                    });
                }
            });
        } else {
            $('.modules').on('select2:select', function (e) {
                var id = $(this)[0].id;
                var idAccessType = $(this)[0].value;
                var items = $("#ids-" + id).val();
                var array = items.split(', ');
                if (array[0] != "") {
                    $.each(array, function (key, value) {
                        var access = $("#" + value).val();
                        if (parseInt(idAccessType) > parseInt(access)) {
                            $('select#' + value).val(idAccessType).trigger('change');
                        }
                    });
                }
            });
        }
    });

    function changeRoleAccess(id, idAccessType) {
            var model = {
                IdRoleAuthorizationType: idAccessType
            }
           Post({ data: model, id }, "@Url.Action("SetRoleAccess", "Administration")").done(function (result) {

          })
    }
</script>
