﻿@model List<eKosovaInternal.SharedModel.Modules.ModuleModel>
@{
    Layout = null;
    List<SelectListItem> accessList = new List<SelectListItem>() {
        new SelectListItem {
            Text = "Denied", Value = "3"
        },
        new SelectListItem {
            Text = "Read Only", Value = "2"
        },
        new SelectListItem {
            Text = "Full Access", Value = "1"
        }
    };

    var isFrom = ViewBag.IsFromRole;
}
    <style>
            /*.select2 {
            width: 115px !important;
        }

        .list-group-item {
            padding-top: 10px !important;
            padding-bottom: 5px !important;
        }

        .notification-list .list-group-item {
            margin-top: 3px;
        }*/
 
            .status-toggle > .select2 {
                width: 115px !important;
            }

            .notification-list > .list-group-item {
                padding-top: 10px !important;
                padding-bottom: 5px !important;
            }

            .access-group > .notification-list .list-group-item {
                margin-top: 3px;
            }

</style>

<h6 class="card-title m-b-20">Lista e qasjeve individuale</h6>
<div class="m-b-30">

    <ul class="list-group notification-list">
        @foreach (var item in Model)
        {   
            
            <li class="list-group-item" style="margin-left:@(item.MarginDistance)px">
                @item.Title

                <div class="status-toggle">
                    @*<select class="form-control select" asp-for="@item.IDRoleAuthorization" asp-items="@accessList"  data_role_id = "@item.IDRole" d" >*@

                    @*</select>*@
                    <input type="hidden" id="ids-@item.IDRoleAuthorization" value="@string.Join( ", ", item.IDs)" />
                    @Html.DropDownListFor(model => item.IDRoleAuthorizationType, accessList, new { @class = "modules", @id = item.IDRoleAuthorization, @data_role_id = item.IDRole, @id_module = item.ID })
                </div>

            </li>
        }
    </ul>
</div>

<script>

    $(document).ready(function () {

 
        $(".modules").select2();

        $('.modules').on('select2:select', function (e) {
            var id = $(this)[0].id;
            var idAccessType = $(this)[0].value;
            var idModule = $("#" + id).attr("id-module");
            changeRoleAccess(id, idAccessType, idModule);
                var items = $("#ids-" + id).val();
                var array = items.split(', ');
            if (array[0] != "") {
                $.each(array, function (key, value) {
                    var access = $("#" + value).val();
                    var idMod = $("#" + value).attr("id-module");
                    if (parseInt(idAccessType) > parseInt(access)) {
                        $('select#' + value).val(idAccessType).trigger('change');
                        changeRoleAccess(value, idAccessType, idMod);
                    }
                });
              }
            });
    });

    function changeRoleAccess(id, idAccessType, idModule) {
        var model = {
            IdUser: $("#IDUser").val(),
              IdModule: idModule,
              IdRoleAuhtorizationType: idAccessType
        }

           Post({ data: model, id }, "@Url.Action("SetUserAccess", "Administration")").done(function (result) {

          })
    }
</script>
