﻿@model List<eKosovaInternal.SharedModel.Roles.RoleModel>
@{
    var idFirstLoad = Model.FirstOrDefault().Id;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
    //var access = new AuthorizeHelper();
}
<!-- Main Wrapper -->
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

<!-- Bootstrap CSS -->
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<!-- Fontawesome CSS -->
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<!-- Lineawesome CSS -->
<link href="~/css/line-awesome.min.css" rel="stylesheet" />
<!-- Main CSS -->

<link href="~/css/style.css" rel="stylesheet" />

<div class="">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Rolet & Autorizimet</h3>
                    <ul class="breadcrumb">
                        @*<li class="breadcrumb-item"><a href="#">@SharedLocalizer["Administration"]</a></li>*@
                        <li class="breadcrumb-item"><a href="#">Administration</a></li>
                        <li class="breadcrumb-item"><a href="#">Rolet</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3">
                <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add_role"><i class="fa fa-plus"></i> Shto rol</a>
                <div class="roles-menu">
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li class="@(item.Id == idFirstLoad ? "active li-class":"li-class")" id="role-@item.Id">
                                <a onclick="changeView(@item.Id)" id-role="@item.Id" role-name="@item.Title">
                                    <span id="data-@item.Id">@item.Title</span>
                                    <span class="role-action">
                                        <input type="hidden" id="RoleDiv-@item.Id" value="@item.Title" />
                                        <input type="hidden" id="DescriptionRoleDiv-@item.Id" value="@item.Description" />
                                        <input type="hidden" id="IDRoleDiv-@item.Id" value="@item.Id" />
                                        <span class="action-circle large" data-toggle="modal" data-target="#edit_role" onclick="showRoleName(@item.Id)">
                                            <i class="material-icons">edit</i>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <input type="hidden" id="urlModule" value="@Url.Action("GetModules", "Administration")" />
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-9" id="data-result">

            </div>
        </div>
    </div>
    <!-- /Page Content -->
    <!-- Add Role Modal -->

    <input type="hidden" id="urlAddRole" value="@Url.Action("AddRole", "Administration")" />
    <div id="add_role" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Shto rolin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form1">
                        <div class="form-group">
                            <label for="RoleNameAddModal">Emri i rolit<span class="text-danger">*</span></label>
                            <input name="Required" class="form-control" type="text" id="RoleNameAddModal" required>
                        </div>
                        <div class="form-group">
                            <label for="DescriptionAddModal">Pershkrimi i rolit <span class="text-danger">*</span></label>
                            <input name="Required" class="form-control" type="text" id="DescriptionAddModal" required>

                        </div>
                        <div class="submit-section">
                            <a class="btn btn-primary continue-btn" id="savename" value="validate" onclick="AddRole()">Ruaj</a>
                            @*<button class="btn btn-primary" onclick="AddRole()">Submit</button>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Role Modal -->
    <!-- Edit Role Modal -->

    <input type="hidden" id="urlEditRole" value="@Url.Action("EditRole", "Administration")" />

    <div id="edit_role" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-md">
                <div class="modal-header">
                    <h5 class="modal-title">Ndrysho rolin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Emri i rolit <span class="text-danger">*</span></label>
                            <input value="" type="hidden" id="IDRoleEditModal">
                            <input class="form-control" value="" type="text" id="RoleNameEditModal">
                        </div>
                        <div class="form-group">
                            <label>Pershkrimi i rolit <span class="text-danger">*</span></label>
                            <input class="form-control" value="" type="text" id="DescriptionNameEditModal">
                        </div>
                        <div class="submit-section">
                            <a onclick="EditRole()" class="btn btn-primary continue-btn">Ruaj</a>
                            @*<button class="btn btn-primary submit-btn" onclick="EditRole();return false">Save</button>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Role Modal -->


</div>

<script src="~/js/jquery-3.5.0.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/select2.min.js"></script>
<script src="~/js/jquery.slimscroll.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/plugins/raphael/raphael.min.js"></script>
<script src="~/plugins/morris/morris.min.js"></script>
<script src="~/js/app.js"></script>
<script src="~/js/administration/administration.js"></script>
<script>
    //    function AddRole() {
    //     var url = $("#urlAddRole").val();
    //     var data = {
    //         Title: $("#RoleNameAddModal").val(),
    //         Description: $("#DescriptionAddModal").val(),

    //     }
    //     Post(data, url).done(function (result) {
    //        $(".roles-menu ul li:last").append('<li class="li-class" id="' + result.id + '">' +
    //            '<a onclick="changeView(' + result.id + ')" id-role="' + result.id + '" role-name="' + result.title + '">' +
    //                '<span id="data-' + result.id + '">' + result.title + '</span>' +
    //                '<span class="role-action">' +
    //                '<input type="hidden" id="RoleDiv-' + result.id + '" value="' + result.title + '" />' +
    //                '<input type="hidden" id="DescriptionRoleDiv-' + result.id + '" value="' + result.description + '" />' +
    //                '<input type="hidden" id="IDRoleDiv-' + result.id + '" value="' + result.id + '" />' +
    //                '<span class="action-circle large" data-toggle="modal" data-target="#edit_role" onclick="showRoleName(' + result.id + ')">' +
    //                '<i class="material-icons">edit</i>' +
    //                '</span>' +
    //                '<span class="action-circle large delete-btn" data-toggle="modal" data-target="#delete_role" onclick="deleteRoleName(' + result.id + ')">' +
    //                '<i class="material-icons">delete</i>' +
    //                '</span>' +
    //                '</span>' +
    //            '</a>' +
    //        '</li>');

    //    $("#add_role").toggle();
    //    $(".modal-backdrop").removeClass("modal-backdrop");
    //});
    //}
     //function EditRole() {
     //   var url = $("#urlEditRole").val();
     //   var id = $("#IDRoleEditModal").val();
     //   var name = $("#RoleNameEditModal").val();
     //   var decription = $("#DescriptionNameEditModal").val();



     //   var model = {
     //       Title: name,
     //       Description: decription
     //   }
     //   Post({ data: model, id: id }, url).done(function (result) {
     //       $("#edit_role").toggle();
     //       $(".modal-backdrop").removeClass("modal-backdrop");
     //       $("#data-" + id).html(name);
     //       $("#RoleDiv-" + id).val(name);
     //       $("#IDRoleDiv-" + id).val(id);

     //   });
     //   }
    @*function DeleteRole() {
        var url = $("#urlDeleteRole").val();
        var id = $("#IDRoleDeleteModal").val();
        Post({ ID: id }, '@Url.Action("DeleteRole", "Administration")').done(function (result) {
            $("#" + id).remove();
            $("#delete_role").toggle();
            $(".modal-backdrop").removeClass("modal-backdrop");
        });
    }*@
    //function showRoleName(id) {
    //    $("#IDRoleEditModal").val($("#IDRoleDiv-" + id).val());
    //    $("#RoleNameEditModal").val($("#RoleDiv-" + id).val());
    //    $("#DescriptionNameEditModal").val($("#DescriptionRoleDiv-" + id).val());
    //}
    // function deleteRoleName(id) {

    //    $("#IDRoleDeleteModal").val(id);
    //}
    //function changeView(id) {
    //    //loadPartialModule(id);
    //    $(".li-class").removeClass("active");
    //    $("#role-" + id).addClass("active");
    //}

    //function loadPartialModule(id) {
    //    var url = $("#urlModule").val();
    //    Get({ ID: id }, url).done(function (data) {
    //        $("#data-result").html(data);
    //    });
    //}        
        $(document).ready(function () {

            loadPartialModule(@idFirstLoad);
            
        });

    //$(document).ready(function () {
    //    $("#form1").validate({
    //        messages: {
    //            Required: "Please asdadsspecify your name"
    //        }
    //    })

    //    $('#savename').click(function () {
    //        $("#form1").valid();
    //    });
    //});

</script>


