﻿@using eKosova.Custom.ExtensionMethods
@{
	bool loggedIn = eKosova.Custom.Helpers.LogedUser.LoggedIn();
}
<section class="informations">
	<div class="sv-header">
		<div class="navigation">
			<div class="title">
				<h2>Informata</h2>
			</div>
			@if (loggedIn)
			{
				<button class="push btn-option notifications" id="btnNotification">
					<span class="count">@eKosova.Custom.Helpers.LogedUser.GetNotificationCount()</span>
					Njoftimet
				</button>
				<div id="notificationContainer">
					<div id="notificationTitle">Njoftimet</div>
					@foreach (var notification in eKosova.Custom.Helpers.LogedUser.GetNotifications().Take(5))
					{
						<a href="#@notification.ID" class="notificationsLink">
							<div class="notificationsBody@(notification.IsRead ? "" : " highlight")">
								<span class="notificationsMessage">@notification.Message</span>
								<span class="notificationsTime">@notification.SentDate.ToString(@"HH\:mm, dd\/MM\/yyyy")</span>
							</div>
						</a>
					}
					<div id="notificationFooter"><a href="#">Shiko te gjitha</a></div>
				</div>
			}
			@Html.CustomDropdown("ServiceType", new SelectListItem[] {
				new SelectListItem{ Text = "Qytetar", Value = "1", Selected = true },
				new SelectListItem{ Text = "Biznes", Value = "2", Selected = false }
				}, null, new { @class = loggedIn ? "mr-20" : "push" }, "home")
			@if (loggedIn)
			{
				@Html.CustomDropdown("Profile", new SelectListItem[] {
						new SelectListItem{ Text = "Historiku", Value = "1" },
						new SelectListItem{ Text = "Dalja", Value = "2" } },
					eKosova.Custom.Helpers.LogedUser.GetLoggedUserFull(), "0", "profile")
			}
		</div>
	</div>
	<style>
		.btn-info span {
			background-size: 60px 60px;
			height: 60px;
		}
	</style>
	<div class="info-content">
	</div>
</section>
<script src="~/js/cache.js"></script>
<script>
	checkCache('Informations');

	var cache = JSON.parse(window.localStorage.getItem('InformationsCache'));

	var items = JSON.parse(cache.Data);
	items.forEach(function (arrayItem) {
		var aTag = document.createElement("a");
		aTag.setAttribute('href', `/Informations/Open/${arrayItem.id}`);
		aTag.setAttribute('class', 'btn-info');

		var sTag = document.createElement("span");
		sTag.setAttribute('style', `background-image: url(/images/icons/${arrayItem.iconContent})`);

		var pTag = document.createElement("p");
		var text = document.createTextNode(arrayItem.name);
		pTag.appendChild(text);

		aTag.appendChild(sTag);
		aTag.appendChild(pTag);

		var element = document.getElementsByClassName("info-content")[0];
		element.appendChild(aTag);
	});
</script>