﻿@model Int32
@using eKosova.Custom.ExtensionMethods
@{
	bool loggedIn = eKosova.Custom.Helpers.LogedUser.LoggedIn();
}

<section class="informations-open">
	<div class="sv-header">
		<div class="navigation">
			<div class="title">
				<h2>Informata</h2>
			</div>
			@if (loggedIn)
			{
				<button class="push btn-option notifications" id="btnNotification">
					<span class="count">@eKosova.Custom.Helpers.LogedUser.GetNotificationCount()</span>
					Njoftimet
				</button>
				<div id="notificationContainer">
					<div id="notificationTitle">Njoftimet</div>
					@foreach (var notification in eKosova.Custom.Helpers.LogedUser.GetNotifications().Take(5))
					{
						<a href="#@notification.ID" class="notificationsLink">
							<div class="notificationsBody@(notification.IsRead ? "" : " highlight")">
								<span class="notificationsMessage">@notification.Message</span>
								<span class="notificationsTime">@notification.SentDate.ToString(@"HH\:mm, dd\/MM\/yyyy")</span>
							</div>
						</a>
					}
					<div id="notificationFooter"><a href="#">Shiko te gjitha</a></div>
				</div>
				@Html.CustomDropdown("Profile", new SelectListItem[] {
					new SelectListItem{ Text = "Historiku", Value = "1" },
					new SelectListItem{ Text = "Dalja", Value = "2" } },
							 eKosova.Custom.Helpers.LogedUser.GetLoggedUserFull(), "0", "profile")
			}
		</div>
	</div>
	<div class="io-content">
		<div class="tab" id="listing">
		</div>
	</div>
</section>
@section scripts {
	<script src="~/js/cache.js"></script>
	<script>

		checkCache('Informations');

		var cache = JSON.parse(window.localStorage.getItem('InformationsCache'));

		var items = JSON.parse(cache.Data);

		// listing foreach
		items.forEach(function (arrayItem) {
			//if (arrayItem.informationCategories.length > 0) {
				var divTag = document.createElement("div");
				divTag.setAttribute('class', 'multi-tablinks');
				var setClass = 'tablinks is-parent-' + arrayItem.id;
				var btnTag = document.createElement("button");
				btnTag.setAttribute('class', setClass);
				btnTag.setAttribute('onclick', `openInfo(event,"${setClass}")`);
				btnTag.setAttribute('id', `section-${arrayItem.id}`);
				var text = document.createTextNode(arrayItem.name);
				btnTag.appendChild(text);

				divTag.appendChild(btnTag);

			arrayItem.informationCategories.forEach(function (subItem) {
					var setChildClass = 'tablinks is-child-' + subItem.idInformation;
					var btn2Tag = document.createElement("button");
					btn2Tag.setAttribute('class', setChildClass);
					btn2Tag.setAttribute('style', 'display:none;')
					btn2Tag.setAttribute('onclick', `openInfo(event,"${subItem.name}")`);

					var text2 = document.createTextNode(subItem.name);
					btn2Tag.appendChild(text2);
					divTag.appendChild(btn2Tag);
				});
				var element = document.getElementById("listing");
				element.appendChild(divTag);
			//}
		});

		// io-content foreach
		var mainDiv = document.getElementsByClassName("io-content")[0];

		items.forEach(function (arrayItem) {
			//if (arrayItem.informationCategories.length > 0) {
				var divTag = document.createElement("div");
				divTag.setAttribute('class', 'tabcontent');
				divTag.setAttribute('id', arrayItem.id);
				var pTag = document.createElement("p");
				pTag.innerHTML = arrayItem.description;
				divTag.appendChild(pTag);

				mainDiv.appendChild(divTag);

				arrayItem.informationCategories.forEach(function (subItem) {
					var div2Tag = document.createElement("div");
					div2Tag.setAttribute('class', 'tabcontent');
					div2Tag.setAttribute('id', subItem.name);
					var pTag = document.createElement("p");
					var pText = document.createTextNode(subItem.description);
                    pTag.innerHTML = subItem.description;//
					div2Tag.appendChild(pTag);
					mainDiv.appendChild(div2Tag);
				});
			//}
		});
	</script>
	<script type="text/javascript">
		document.getElementById("section-@Model").click();
		function openInfo(evt, info) {

			var isParent = info.includes("is-parent");
			if (isParent === true) {
				var infoName = info.split('-')[2];
			} else {
				var infoName = info;
            }
			
			// Declare all variables
			var i, tabcontent, tablinks;

			// Get all elements with class="tabcontent" and hide them
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}

			// Get all elements with class="tablinks" and remove the class "active"
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}

			if (isParent===true) {
                var nameHide = ".is-child-" + infoName;
                $(nameHide).toggle(0);
			}
            
            
			// Show the current tab, and add an "active" class to the link that opened the tab
			document.getElementById(infoName).style.display = "block";
			evt.currentTarget.className += " active";
		}

		document.getElementsByClassName("active")[0].click();
	</script>
}