﻿<section class="e-invoice">
    <div class="title">
        <h2>eFatura</h2>
    </div>
    <div class="text">
        <h2>Ekstrakti i lindjes</h2>
        <p>Ky dokument elektronik është i vlefshëm po aq sa ai fizik, sipas ligjit Nr. XX / L-XXX.</p>
        <p>I njejti plotëson të gjitha kriteret e rregullores eIDAS Nr. 910/2014 të Bashkimit Evropian.</p>
    </div>
    <div class="price-area">
        <h1>Çmimi:</h1>
        <div class="cost">
            <p class="price">€ 1</p>
            <span class="penny">00</span>
        </div>
    </div>
    <form class="pay" asp-action="OnlinePayment">
        <button class="btn-pay" type="submit"><img src="~/images/icons/pay.svg" alt="pay">&nbsp Paguaj</button>
    </form>
</section>