﻿<style>
	.loadDiv {
		display: none;
	}

	#loadMore {
		padding: 10px 50px;
		text-align: center;
		background-color: #244aa5;
		color: #fff;
		/* border-width: 0 1px 1px 0;
		border-style: solid;
		border-color: #fff;
		box-shadow: 0 1px 1px #ccc;*/
		transition: all 600ms ease-in-out;
		-webkit-transition: all 600ms ease-in-out;
		-moz-transition: all 600ms ease-in-out;
		-o-transition: all 600ms ease-in-out;
		width: 200px;
		border-radius: 50px;
	}

		#loadMore:hover {
			background-color: #244aa5;
			color: #ccc;
		}
</style>
<section class="faq">
	<div class="title">
		<h2>Pyetje të shpeshta</h2>
	</div>
</section>
<script src="~/js/cache.js"></script>
<script>
	checkCache('Faqs');

	var cache = JSON.parse(window.localStorage.getItem('FaqsCache'));

	var items = JSON.parse(cache.Data);

	var main = document.getElementsByClassName("faq")[0];

	items.forEach(function (item) {

		var imgTag = document.createElement("img");
		imgTag.setAttribute('class', 'play-video');
		imgTag.setAttribute('src', '/images/icons/play.svg');
		imgTag.setAttribute('alt', 'play video');
		var img2Tag = document.createElement("img");
		img2Tag.setAttribute('class', 'listen-audio');
		img2Tag.setAttribute('src', '/images/icons/face.svg');
		img2Tag.setAttribute('alt', 'listen');

		var aTag = document.createElement("a");
		var a2Tag = document.createElement("a");
		aTag.setAttribute('href', '#');
		a2Tag.setAttribute('href', '#');
		aTag.setAttribute('class', 'd-block');
		a2Tag.setAttribute('class', 'd-block');

		aTag.appendChild(imgTag);
		a2Tag.appendChild(img2Tag);

		var divTag = document.createElement("div");

		divTag.setAttribute('class', 'question-row');

		var div2Tag = document.createElement("div");
		div2Tag.setAttribute('class', 'help-icons d-inline-flex r-0 t-25');

		div2Tag.appendChild(aTag);
		div2Tag.appendChild(a2Tag);

		divTag.appendChild(div2Tag);

		var a3Tag = document.createElement("a");
		a3Tag.setAttribute('href', '#');
		a3Tag.setAttribute('class', 'togglefaq');
		a3Tag.innerHTML = item.question;

		var img3Tag = document.createElement("img");
		img3Tag.setAttribute('class', 'arrow-bottom');
		img3Tag.setAttribute('src', '/images/icons/arrow.svg');

		a3Tag.appendChild(img3Tag);
		divTag.appendChild(a3Tag);

		var div3Tag = document.createElement("div");
		div3Tag.setAttribute('class', 'faqanswer');

		var pTag = document.createElement("p");
		var textNode = document.createTextNode(item.answer);
		pTag.appendChild(textNode);

		div3Tag.appendChild(pTag);

		var loader = document.createElement("div");

		loader.setAttribute('class', 'loadDiv');

		loader.appendChild(divTag);

		loader.appendChild(div3Tag);

		main.appendChild(loader);
	});

	var aLoad = document.createElement("a");
	aLoad.setAttribute('href', '#');
	aLoad.setAttribute('id', 'loadMore');

	var textNode = document.createTextNode('Me shume');
	aLoad.appendChild(textNode);

	main.appendChild(aLoad);

	$('.togglefaq').click(function (e) {
		e.preventDefault();
		var notthis = $('.active').not(this);
		notthis.toggleClass('active').parent().next('.faqanswer').slideToggle(300);
		$(this).toggleClass('active').parent().next('.faqanswer').slideToggle("fast");
	});

	$(function () {
		$(".loadDiv").slice(0, 10).show();
		$("#loadMore").on('click', function (e) {
			e.preventDefault();
			$(".loadDiv:hidden").slice(0, 4).slideDown();
			if ($(".loadDiv:hidden").length == 0) {
				$("#loadMore").fadeOut('slow');
			}
			$('html,body').animate({
				scrollTop: $(this).offset().top
			}, 1500);
		});
	});
</script> 