﻿<section class="faq">

    <div class="title">
        <h2>Pyetje të shpeshta</h2>
    </div>

    <div class="question-row">
        <a href="#" class="togglefaq">
            Si mund të ...? <img class="arrow-bottom"
                                 src="~/images/icons/arrow.svg">
        </a>
    </div>
    <div class="faqanswer">
        <p>I/e nderuar,</p>
        <p>Shërbimin ju mund ta _____________________</p>
        <p>
            Ju mund ta shihni menyrën e realizimit të këtij shërbimi edhe nëpërmjet videos që gjendet në anën e
            djathtë të këtij njoftimi. Ose edhe ta dëgjoni me zë.
        </p>
        <p>Sincierisht, </p>
        <p>Agjencia E Shoqërisë së Informacionit</p>
    </div>

    <div class="question-row">
        <a href="#" class="togglefaq">
            Si mund të ...? <img class="arrow-bottom"
                                 src="~/images/icons/arrow.svg">
        </a>
    </div>
    <div class="faqanswer">
        <p>I/e nderuar,</p>
        <p>Shërbimin ju mund ta _____________________</p>
        <p>
            Ju mund ta shihni menyrën e realizimit të këtij shërbimi edhe nëpërmjet videos që gjendet në anën e
            djathtë të këtij njoftimi. Ose edhe ta dëgjoni me zë.
        </p>
        <p>Sincierisht, </p>
        <p>Agjencia E Shoqërisë së Informacionit</p>
    </div>

    <div class="question-row">
        <a href="#" class="togglefaq">
            Si mund të ...? <img class="arrow-bottom"
                                 src="~/images/icons/arrow.svg">
        </a>
    </div>

    <div class="faqanswer">
        <p>I/e nderuar,</p>
        <p>Shërbimin ju mund ta _____________________</p>
        <p>
            Ju mund ta shihni menyrën e realizimit të këtij shërbimi edhe nëpërmjet videos që gjendet në anën e
            djathtë të këtij njoftimi. Ose edhe ta dëgjoni me zë.
        </p>
        <p>Sincierisht, </p>
        <p>Agjencia E Shoqërisë së Informacionit</p>
    </div>
</section>

@section scripts {
    <script>
        $('.togglefaq').click(function (e) {
            e.preventDefault();
            var notthis = $('.active').not(this);
            notthis.toggleClass('active').parent().next('.faqanswer').slideToggle(300);
            $(this).toggleClass('active').parent().next('.faqanswer').slideToggle("fast");
        });
    </script>
}

