﻿@using eKosova.Custom.ExtensionMethods
@{
	bool loggedIn = eKosova.Custom.Helpers.LogedUser.LoggedIn();
}
@model IEnumerable<KeyValuePair<string, string>>
<section class="services">

	<div class="title">
		<h2>Sporteli virtual</h2>
	</div>

	<div class="navigation">

		@if (loggedIn)
		{
			<button class="btn-option" id="btnNotification">
				<span class="count">@eKosova.Custom.Helpers.LogedUser.GetNotificationCount()</span>
				<img src="~/images/icons/notifications.svg">
				Njoftimet
			</button>
			<div id="notificationContainer">
				<div id="notificationTitle">Njoftimet</div>
				@foreach (var notification in eKosova.Custom.Helpers.LogedUser.GetNotifications().Take(5))
				{
					<a href="#@notification.ID" class="notificationsLink">
						<div class="notificationsBody@(notification.IsRead ? "" : " highlight")">
							<span class="notificationsMessage">@notification.Message</span>
							<span class="notificationsTime">@notification.SentDate.ToString(@"HH\:mm, dd\/MM\/yyyy")</span>
						</div>
					</a>
				}
				<div id="notificationFooter"><a href="#">Shiko te gjitha</a></div>
			</div>
		}
		@Html.CustomDropdown("ServiceType", new SelectListItem[] {
			   new SelectListItem{ Text = "Qytetar", Value = "1", Selected = true },
			   new SelectListItem{ Text = "Biznes", Value = "2", Selected = false }
			}, null, new { @class = loggedIn ? "mr-20" : "push" }, "home")

		@if (loggedIn)
		{
			@Html.CustomDropdown("Profile", new SelectListItem[] {
				new SelectListItem{ Text = "Historiku", Value = "1" },
				new SelectListItem{ Text = "Dalja", Value = "2" } },
					 eKosova.Custom.Helpers.LogedUser.GetLoggedUserFull(), "0", "profile")
		}
	</div>

	<div class="searchbox">
		<input id="search" class="search" type="text" placeholder="Kërko shërbimin" name="search">
		<button class="btn-search">
			<img src="~/images/icons/search.svg">
		</button>
	</div>

	<div class="sv-content">
		@foreach (var item in Model)
		{
			<a asp-controller="Services" asp-action="Service" asp-route-service="@item.Key" class="btn-service">
				<span class="information-icon" data-service="@item.Key"></span>
				<p>@item.Value</p>
			</a>
		}
	</div>
</section>