﻿@model eKosovaInternal.Domain.InternalUsers.InternalUserIntro
@{
	Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<style>
	.prelative {
		position: relative;
	}

	.inputFix {
		display: block !important;
		width: 100%;
		margin-bottom: 10px;
		background-color: #f7f7f7;
		text-align: center;
	}
</style>
<script src="~/js/jquery.maskedinput.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<div class="card">
	<div class="card-body">
		@using (Html.BeginForm("CreateInternal", "Internal", FormMethod.Post, new { @class = "k-form k-form-vertical" }))
		{
			<div class="row">
				<div class="col">
					<label for="First" class="k-form-label">Emri</label>
					<input type="text" id="First" name="First" class="form-control" required onkeypress="return alphaOnly(event)" />
				</div>
				<div class="col">
					<label for="Last" class="k-form-label">Mbiemri</label>
					<input type="text" id="Last" name="Last" class="form-control" required onkeypress="return alphaOnly(event)" />
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="Account">Përdoruesi</label>
					<input name="Account" id="Account" type="text" class="form-control" required />
				</div>
				<div class="col">
					<label for="PhoneNumber">Numri i telefonit</label>
					<input name="PhoneNumber" id="PhoneNumber" type="text" class="form-control" placeholder="+383 (__) ___-___" required />
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="IDHierarchy">Departamenti</label>
					<select class="form-control" name="IDHierarchy" id="IDHierarchy" required>
						<option value="0">-- Zgjedh --</option>
						@foreach (var item in Model.ViewHierarchy)
						{
							<option value="@item.ID">@item.Title</option>
						}
					</select>
				</div>
				<div class="col">
					<label for="IDRole">Roli</label>
					<select class="form-control" name="IDRole" id="IDRole" required>
						<option value="0">-- Zgjedh --</option>
						@foreach (var item in Model.ViewRoles)
						{
							<option value="@item.ID">@item.Title</option>
						}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label dor="IDUserAuthorizationType">Autorizimi</label>
					<select class="form-control" name="IDUserAuthorizationType" id="IDUserAuthorizationType" required>
						<option value="0">-- Zgjedhe --</option>
						@foreach (var item in Model.ViewAuthorizationTypes)
						{
							<option value="@item.ID">@item.Title</option>
						}
					</select>
				</div>
				<div class="col">
					<div id="adLogin" class="hidden">
						<label for="IDActiveDirectoryDomain">AD Domain</label>
						<select class="form-control" name="IDActiveDirectoryDomain" id="IDActiveDirectoryDomain">
							<option value="0">-- Zgjedhe --</option>
							@foreach (var item in Model.ViewADDomains)
							{
								<option value="@item.ID">@item.Description (@item.Title)</option>
							}
						</select>
					</div>
				</div>
			</div>
			<div class="row" id="unLogin">
				<div class="col">
					<label for="Password" class="k-form-label">Fjalëkalimi</label>
					<input type="password" id="Password" name="Password" class="form-control"
						   autocomplete="off" />
				</div>
				<div class="col">
					<label for="ConfirmPassword" class="k-form-label">Konfirmimi i fjalëkalimit</label>
					<input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control"
						   autocomplete="off" />
				</div>
			</div>
			<button class="k-button k-primary" type="submit">Submit</button>
		}
	</div>
</div>
@section scripts{
	<script>
		$(document).ready(function () {
			$("#PhoneNumber").mask("+383 (99) 999-999");

			$("#adLogin").hide();
			$("#unLogin").hide();

			$("#IDUserAuthorizationType").on('change', function () {
				$("#adLogin").toggle(this.value == 2);
				$("#unLogin").toggle(this.value == 1);
			});
			var validator = $("form").kendoValidator({
				rules: {
					required: function (input) {
						var val = $.trim(input.val());
						if (input.is("[required]"))
							return val !== "" && val !== "0" && val !== 0;
						else if (input.is("[name=IDActiveDirectoryDomain]") && $("#IDUserAuthorizationType").val() == 2)
							return val !== "" && val !== "0" && val !== 0;
						return true;
					},
					passwords: function (input) {
						if (input.is("[type=password]") && $("#IDUserAuthorizationType").val() == 1) {
							console.log(input.val());
							if (input.is("[name=ConfirmPassword]")) {
								return $("#Password").val() == $("#ConfirmPassword").val();
							}
							return input.val().length > 0;
						}
						return true;
					},
					userExists: function (input) {
						if (input.is("[name=Account]")) {
							var exists = $("#Account").attr('class').includes('exists');
							return !exists;
						}
						return true;
					}
				},
				messages: {
					required: "Fusha duhet të plotësohet",
					passwords: "Fjalëkalimet duhen të përshtaten",
					userExists: "Përdoruesi tashmë ekziston"
				}
			}).data("kendoValidator");

			$("form").submit(function (event) {
				var validate = validator.validate();
				if (validate) {
					$("#PhoneNumber").unmask();
					$("#PhoneNumber").val($("#PhoneNumber").val().replace("383", "").replace(/\D/g, ""));
					return true;
				} else {
					console.log("INVALID DATA");
					return false;
				}
			});

			checkExists('Account', '/Internal/UserExists');
		});
	</script>
}
<style>
	select {
		margin-bottom: 10px;
		height: 52px !important;
	}

	.row .col * {
		width: 100%;
	}

	.row .col label {
		text-align: left;
		font-size: 18px;
		padding-left: 6px;
	}

	.row .col span {
		width: 50%;
		height: 20px;
	}

		.row .col span span {
			display: none;
		}

	.k-widget.k-tooltip-validation {
		border-color: #f00 !important;
		background-color: #f7f7f7 !important;
		color: #f00 !important;
	}
</style>