﻿@{
	Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
@model eKosovaInternal.Domain.InternalUsers.InternalUserIntro
<style>
	div label, div input {
		display: block;
	}

	div.k-edit-form-container {
		width: auto;
		height: auto;
	}

	.switch input {
		position: absolute;
		opacity: 0;
	}

	.switch {
		margin-left: -45%;
		display: inline-block;
		font-size: 20px;
		height: 1em;
		width: 2em;
		background: #f00;
		border-radius: 1em;
	}

		.switch div {
			height: 1em;
			width: 1em;
			border-radius: 1em;
			background: #FFF;
			box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
			-webkit-transition: all 300ms;
			-moz-transition: all 300ms;
			transition: all 300ms;
		}

		.switch input:checked + div {
			-webkit-transform: translate3d(100%, 0, 0);
			-moz-transform: translate3d(100%, 0, 0);
			transform: translate3d(100%, 0, 0);
		}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<div id="grid"></div>
			</div>
		</div>
	</div>
</div>
<script src="~/js/cache.js"></script>
<script>
	var internal = GetSyncWithOutLoader("@Url.Action("Data","Internal")").responseJSON;
	$(document).ready(function () {
		$("#grid").kendoGrid({
			dataSource: {
				data: internal,
				schema: {
					model: {
						id: "id",
						fields: {
							first: { type: "string" },
							last: { type: "string" },
							account: { type: "string" },
							phoneNumber: { type: "string" },
							idRole: { type: "int" },
							idHierarchy: { type: "int" },
							idUserAuthorizationType: { type: "int" },
							idActiveDirectoryDomain: { type: "int" },
							isActive: {type: "bool"}
						}
					}
				},
				pageSize: 10
			},
			scrollable: true,
			sortable: true,
			filterable: true,
			pageable: {
				input: true,
				numeric: false
			},
            excel: {
                fileName: "Lista e zyrtareve.xlsx",
                allPages: true
            },
            pdf: {
                fileName:  "List e zyrtareve.pdf",
                allPages: true,
                avoidLinks: true,
                landscape: true,
                scale: 0.7,
                paperSize: "A4",
                margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                repeatHeaders: true,
                forcePageBreak: "tr:nth-child(15n)"
				//, template: $("#page-template").html()
            },
            toolbar: [{
                template: `<div class='d-inline-flex w-100 justify-content-between'>
                                <a class='nav-link' href='@Url.Action("Create")' style='color: \\#b6b6b6;background-color: \\#fafafa;border: 1px solid \\#dedede;'><span class='k-icon k-i-plus' style='opacity: 1'></span></a>
                                <ul class="nav nav-tabs nav-tabs-bottom" style='border-bottom: 0 !important;'>
                                    <li class="nav-item"><button class="nav-link"><i class='la la-file-pdf-o' id='pdfExport'></i> PDF</button></li>
                                    <li class="nav-item"><button class="nav-link"><i class='la la-file-excel-o' id='xlsExport'></i> EXCEL</button></li>
                                </ul>
                            </div>` }],
			columns: [
				{ field: "first", title: "Emri", width: 30 },
				{ field: "last", title: "Mbiemri", width: 30 },
				{ field: "phoneNumber", title: "Numri i telefonit", width: 20, filterable: false, sortable: false },
				{ command: ['edit'], width: 10 }
			],
			editable: {
				mode: "popup",
				template: kendo.template($("#popup-editor").html())
			},
			edit: function (e) {
				$("#addAuth").toggle(e.model.idUserAuthorizationType == 2);
				//$("#pwdAuth").toggle(e.model.idUserAuthorizationType == 1);
				$("label.switch").css('background', e.model.isActive?'#0f0':'#f00');
			},
			save: function (e) {
				$.ajax({
					url: '/Internal/Update',
					type: 'POST',
					dataType: 'json',
					contentType: 'application/json',
					data: JSON.stringify({
						"ID": e.model.id,
						"First": e.model.first,
						"Last": e.model.last,
						"Account": e.model.account,
						"PhoneNumber": e.model.phoneNumber,
						"IDRole": e.model.idRole,
						"idHierarchy": e.model.idHierarchy,
						"IDActiveDirectoryDomain": e.model.idActiveDirectoryDomain,
						"IDUserAuthorizationType": e.model.idUserAuthorizationType,
						"IsActive": e.model.isActive
					}),
					success: function () {
						location.reload();
					},
					error: function (data) {
						console.log(data);
						location.reload();
					}
				});
			}
		});
		$(document).on('click', '#isActive', function (e) {
			$("label.switch").css('background', $('#isActive')[0].checked ? '#0f0' : '#f00');
		});

		$("#pdfExport").click(function(e) {
			var grid = $("#grid").data("kendoGrid");
			grid.saveAsPDF();
		});
		$("#xlsExport").click(function(e) {
			var grid = $("#grid").data("kendoGrid");
			grid.saveAsExcel();
		});
	});
</script>
<script id="popup-editor" type="text/x-kendo-template">
	<div class="ml-3 mr-5">
		<div class="row">
			<div class="col">
				<label>Emri:<input name="first" /></label>
			</div>
			<div class="col">
				<label>Mbiemri:<input name="last" /></label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label>Përdoruesi:<input name="account" /></label>
			</div>
			<div class="col">
				<label>Numri i telefonit:<input name="phoneNumber" /></label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="idHierarchy">
					Departamenti
					<select class="form-control" name="idHierarchy" id="idHierarchy">
						@foreach (var item in Model.ViewHierarchy)
						{
							<option value="@item.ID">@item.Title</option>
						}
					</select>
				</label>
			</div>
			<div class="col">
				<label for="idRole">
					Roli
					<select class="form-control" name="idRole" id="idRole">
						@foreach (var item in Model.ViewRoles)
						{
							<option value="@item.ID">@item.Title</option>
						}
					</select>
				</label>
			</div>
		</div>
		<div class="row" id="addAuth">
			<div class="col">
				<label for="idActiveDirectoryDomain">
					AD Domain
					<select class="form-control" name="idActiveDirectoryDomain" id="idActiveDirectoryDomain">
						@foreach (var item in Model.ViewADDomains)
						{
							<option value="@item.ID">@item.Description (@item.Title)</option>
						}
					</select>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label>
					Përdorues aktiv:
				</label>
			</div>
			<div class="col">
				<label class="switch" id="switch">
					<input type="checkbox" name="isActive" id="isActive" /><div></div>
				</label>
			</div>
		</div>
		@*<div class="row" id="pwdAuth">
				<div class="col">
					<label>Fjalëkalimi:<input name="password" id="password" type="password" /></label>
				</div>
				<div class="col" id="addDomain">
					<label>Konfirmo:<input name="confirmPassword" id="confirmPassword" type="password" /></label>
				</div>
			</div>*@
	</div>
</script>
<span class="error-message">@Html.ValidationMessage("Info")</span>