﻿<section class="online-payment">
    <div class="title">
        <h2>Paguaj Online</h2>
    </div>
    <p>
        Plotësoni të dhënat për pagesë nga kartela juaj bankare. Të dhënat tuaja për pagesë transmetohen
        përmes kanaleve të sigurta (enkriptuara) në bankën e autorizuar për pagesë.
    </p>
    <form class="payment-info" asp-action="ConfirmPayment">
        <label for="cname">Emri dhe Mbiemri</label>
        <input type="text" id="cname" name="cardname" placeholder="Emri Mbiemri">
        <label for="ccnum">Numri i kartelës</label>
        <input id="ccnum" type="tel" name="ccnum" data-mask="0000 0000 0000 0000"
               placeholder="**** **** **** ****">
        <div class="date-ccv">
            <div>
                <label for="expiredt">Data e skadimit</label>
                <br><img id="calendar" src="~/images/icons/calendar.svg" alt="calendar">
                <input id="expiredt" placeholder="mm-yyyy" data-mask="00-0000">
            </div>
            <div>
                <label for="ccv">Numri i CVC</label>
                <input id="ccv" name="ccv" placeholder="***" data-mask="000">
                <div class="ccv-icons">
                    <img id="lock" src="~/images/icons/lock.svg" alt="lock">
                    <img id="exc-mark" src="~/images/icons/exclamation-mark.svg" alt="exclamation mark">
                </div>
            </div>
        </div>
        <button class="btn-pay" type="submit">
            <img src="~/images/icons/pay.svg" alt="finish payment">&nbsp Përfundo
            pagesën
        </button>
    </form>
</section>