﻿@model eKosova.Domain.Credentials
<section class="login">
	<div class="title">
		<h2>Kyçu në llogarinë tuaj</h2>
	</div>
	@using (Html.BeginForm("Login", "Security", FormMethod.Post, new { @class = "signin" }))
	{
		<div class="mb-20">
			<label for="user">Përdoruesi</label>
			<div class="p-relative user">
				<input type="text" asp-for="@Model.Account" placeholder="Përdoruesi">
			</div>
		</div>
		<div class="mb-20">
			<label for="password">Fjalëkalimi</label>
			<div class="p-relative password">
				<input type="password" asp-for="@Model.Password" placeholder="Fjalëkalimi" autocomplete="on">
			</div>
		</div>
		<div class="custom-checkbox">
			<input type="checkbox" id="rememberme">
			<label for="rememberme" class="rememberme">
				Më mbaj në mend
			</label>
		</div>
		<span class="error-message">@Html.ValidationMessage("Credentials")</span><br />
		<button class="btn-signin" type="submit">Hyr</button>
	}
	<div>
		<p>Nuk jeni të regjistruar?</p>
		<a asp-controller="Security" asp-action="Registration">
			<div class="btn-signup">Regjistrohu</div>
		</a>
	</div>
</section>
<script>
	$().ready(function () {
		$("form").validate({
			rules: {
				Account: {
					required: true
				},
				Password: {
					required: true
				}
			},
			messages: {
				Account: "Përdoruesi (numri personal) duhet shkruar",
				Password: "Fjalëkalimi duhet shkruar"
			},
			submitHandler: function (form) {
				$('.loader').show();
				form.submit();
			}
		});
	});
	$("inpuy").on('keyup', function () {
		$("input").css('border', '0');
	});
</script>