﻿<section class="login">

	<div class="title">
		<h2>Kyçu në llogarinë tuaj</h2>
	</div>

	@using (Html.BeginForm("Login", "Security", FormMethod.Post, new { @class = "signing" }))
	{
		<div>
			<label for="user">Përdoruesi</label>
			<img src="~/images/icons/user.svg" id="user2">
			<input type="text" id="user" name="user" placeholder="Përdoruesi">
		</div>
		<div>
			<label for="password">Fjalëkalimi</label>
			<img src="~/images/icons/lock2.svg" id="lock2">
			<input type="password" id="password" name="password" placeholder="Fjalëkalimi">
		</div>
		<div class="custom-checkbox">
			<input type="checkbox" id="rememberme">
			<label for="rememberme" class="rememberme">
				Më mbaj në mend
			</label>
		</div>
		<span class="error-message">@Html.ValidationMessage("Credentials")</span><br />
		<button class="btn-signin" type="submit">Hyr</button>
	}
	<div>
		<p>Nuk jeni të regjistruar?</p>
		<a asp-controller="Security" asp-action="Registration">
			<div class="btn-signup">Regjistrohu</div>
		</a>
	</div>
</section>