﻿@model eKosovaInternal.SharedModel.Faqs.CreateFaqModel
@using Newtonsoft.Json;

<form method="post" asp-action="" asp-controller="Faq">
    <input type="text" id="question" />
    <input type="text" id="answer" />

    <button class="btn btn-primary">Send</button>

</form>

<form class="faq-form" asp-action="AddFaqs" asp-controller="Faq" method="post">
    <div class="d-inline-flex">
        <div>
            <label asp-for="@Model.Question">Question</label>
            <input asp-for="@Model.Question" type="text" id="Question" name="Question" placeholder="Question">
        </div>
        <div>
            <label asp-for="@Model.Answer">Answer</label>
            <input asp-for="@Model.Answer" type="text" id="Answer" name="Answer" placeholder="Answer">
        </div>
        <div>
            <label asp-for="@Model.MediaVideo">ID Media</label>
            <input asp-for="@Model.MediaVideo" name="IdMedia" id="IdMedia" value="1">
        </div>
        <div>
            <label asp-for="@Model.IDInternalUser">ID Internal User</label>
            <input asp-for="@Model.IDInternalUser" name="IdUser" id="IdUser" value="4">
        </div>
        <div>
            <label asp-for="@Model.InsertionDate">Date</label>
            <input asp-for="@Model.InsertionDate" name="Date" id="Date" value="2009-06-15T13:45:30">
        </div>
    </div>
   
    <button class="btn-continue" type="submit">Dërgo</button>
</form>
<script type="text/javascript">
    $().ready(function () {
        $(".faq-form").validate({
            rules: {
                Question: {
                    required: true
                },
                Answer: {
                    required: true
                }
            },
            errorPlacement: function () {
                return false;
            }
        });
    });
</script>