﻿@model eKosovaInternal.SharedModel.Faqs.CreateFaqModel
@using Newtonsoft.Json;
@*<script src="~/js/jquery-3.5.0.min.js"></script>*@
@*<script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>*@ 
<style>
    .uploadfileclass {
        position: relative;
    }

    .inputclassupload {
        display: block !important;
        width: 100%;
        margin-bottom: 10px;
    }

    .labelClass {
        float: left;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 17px;
        font-weight: 500;
    }

    input[type="file"] {
        height: auto;
        width: 109px;
        margin-top: 12px;
        margin-left: 131px;
    }

    input[type=text], input[type=password] {
        border-radius: 0px;
        border: 1px solid #ccc;
    }

    input[type=number], input[type=password] {
        border-radius: 0px;
        border: 1px solid #ccc;
    }

    .submitButton {
        float: left;
        margin-top: 50px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <form class="faq-form" asp-action="AddFaqs" asp-controller="Faq" method="post" style="background-color: #fafafa;
        padding: 20px; border: 1px solid">

                    <div class="row">

                        <div class="col-12">
                            <label class="labelClass" asp-for="@Model.Question">Pytje</label>
                            <input asp-for="@Model.Question" type="text" id="Question" name="Question" class="inputclassupload">
                            <label class="labelClass" asp-for="@Model.Answer">Pergjigje</label>
                        </div>

                        @*<textarea id="editorr" asp-for="@Model.Answer"></textarea>*@
                        @*<input asp-for="@Model.Answer" type="text" id="Answer" name="Answer" class="inputclassupload">*@
                        <div class="demo-section k-content wide col-12" style="background-color: transparent !important;">
                            <textarea id="editor" name="Answer" rows="3" cols="15" style="width:100%; height:840px" aria-label="editor">   </textarea>
                        </div>
                        <div class=" uploadfileclass col-6" style="margin-top: 29px;">
                            <label class="labelClass" asp-for="@Model.MediaVideo">Ngarko Video</label>
                            <input type="file" name="MediaVideo" class="inputclassupload" asp-for="@Model.MediaVideo" />

                            @*<input type="file" name="files" id="photos" />*@
                        </div>
                        <div class=" uploadfileclass col-6">
                            <label class="labelClass" asp-for="@Model.MediaVoice">Ngarko Voice</label>
                            <input type="file" name="MediaVoice" class="inputclassupload" asp-for="@Model.MediaVoice" />
                        </div>
                        <div class="col-12">
                            <label class="labelClass" asp-for="@Model.MediaDescription">Media Description</label>
                            <input asp-for="@Model.MediaDescription" type="text" id="Answer" name="MediaDescription" class="inputclassupload">
                        </div>
                        @*<div>
                                <label asp-for="@Model.MediaVideo">ID Media</label>
                                <input asp-for="@Model.MediaVideo" name="IdMedia" id="IdMedia" value="1">
                            </div>*@
                        <div class="col-12">
                            <label class="labelClass" asp-for="@Model.IDInternalUser">ID Internal User</label>
                            <input asp-for="@Model.IDInternalUser" name="IDInternalUser" id="IdUser" value="4" class="inputclassupload">
                        </div>
                    </div>

                    <button class="btn-continue submitButton" id="dergo" type="submit">Dërgo</button>
                </form>

            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    //$("#photos").kendoUpload({
    //    async: {
    //        saveUrl: "http://localhost:5001/",
    //        removeUrl: "http://localhost:5001/"
    //    }
    //}); 
    $(function createFAQ() {
        $("#dergo").kendoButton();
    });
    

    var editor = $("#editor").kendoEditor({
        stylesheets: [
            "../content/shared/styles/editor.css",
        ],
        tools: [
            "bold",
            "italic",
            "underline",
            "justifyLeft",
            "justifyCenter",
            "justifyRight",
            "insertUnorderedList",
            "createLink",
            "unlink",
            "insertImage",
            "tableWizard",
            "createTable",
            "addRowAbove",
            "addRowBelow",
            "addColumnLeft",
            "addColumnRight",
            "deleteRow",
            "deleteColumn",
            "mergeCellsHorizontally",
            "mergeCellsVertically",
            "splitCellHorizontally",
            "splitCellVertically",
            "formatting",
            {
                name: "fontName",
                items: [
                    { text: "Andale Mono", value: "Andale Mono" },
                    { text: "Arial", value: "Arial" },
                    { text: "Arial Black", value: "Arial Black" },
                    { text: "Book Antiqua", value: "Book Antiqua" },
                    { text: "Comic Sans MS", value: "Comic Sans MS" },
                    { text: "Courier New", value: "Courier New" },
                    { text: "Georgia", value: "Georgia" },
                    { text: "Helvetica", value: "Helvetica" },
                    { text: "Impact", value: "Impact" },
                    { text: "Symbol", value: "Symbol" },
                    { text: "Tahoma", value: "Tahoma" },
                    { text: "Terminal", value: "Terminal" },
                    { text: "Times New Roman", value: "Times New Roman" },
                    { text: "Trebuchet MS", value: "Trebuchet MS" },
                    { text: "Verdana", value: "Verdana" },
                ]
            },
            "fontSize",
            "foreColor",
            "backColor",
        ]
    });
    //$().ready(function () { 
    //    $(".faq-form").validate({
    //        rules: {
    //            Question: {
    //                required: true
    //            },
    //            Answer: {
    //                required: true
    //            }
    //        },
    //        errorPlacement: function () {
    //            return false;
    //        }
    //    });
    //}); ;
    //ClassicEditor
    //    .create(document.querySelector('#editorr'))
    //    .catch(error => {
    //        console.error(error);
    //    });
</script> 