﻿@model IEnumerable<eKosovaInternal.SharedModel.Faqs.FaqModel>
@using Newtonsoft.Json;
@*<script src="~/js/jquery-3.5.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@

@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
@*<a asp-action="AddQuestion" asp-controller="Faq">Create Faq</a>*@

@*<a href="/Faq/AddQuestion">All Speakers</a*@

<style>
    .loadDiv {
        display: none;
    }

    #loadMore {
        padding: 10px;
        text-align: center;
        background-color: #244aa5;
        color: #fff;
        /* border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #fff;
        box-shadow: 0 1px 1px #ccc;*/
        transition: all 600ms ease-in-out;
        -webkit-transition: all 600ms ease-in-out;
        -moz-transition: all 600ms ease-in-out;
        -o-transition: all 600ms ease-in-out;
        width: 200px;
        border-radius: 50px;
    }

        #loadMore:hover {
            background-color: #244aa5;
            color: #ccc;
        }

    .editinput {
        width: 100%;
        border-color: aquamarine;
    }
</style>
@*<div style="padding: 15px;">


        <a class="btn" href="@Url.Action("AddQuestion", "Faq")" style="margin-bottom: 20px">Krijo Pytje</a>
        @foreach (var item in Model)
        {
            <div class="loadDiv">
                <div class="question-row">
                    <div class="help-icons d-inline-flex r-0 t-25">
                        <a href="#" class="d-block"><img class="play-video" src="~/images/icons/play.svg" alt="play video"></a>
                        <a href="#" class="d-block"><img class="listen-audio" src="~/images/icons/face.svg" alt="listen"></a>
                        <button class="btn" onclick="deleteModal(@item.Id)">X</button>
                        <button class="btn" onclick="editModal(@JsonConvert.SerializeObject(item))">Edit</button>
                    </div>
                    <a href="#" class="togglefaq">
                        @item.Question <img class="arrow-bottom"
                                            src="~/images/icons/arrow.svg">
                    </a>
                </div>
                <div class="faqanswer">

                    @Html.Raw(item.Answer)
                </div>
            </div>

        }
    </div>
    <a href="#" id="loadMore">Më shume</a>

    <div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <p>Aje sigurt qe deshironi me e fshi</p>
                </div>
                <div class="modal-footer">
                    <button id="deletefaq" type="button" class="btn btn-primary">PO</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">JO</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade " id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg  " role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="flex">
                        <div>
                            <label>Question</label>
                            <input type="text" id="Question" name="Question" placeholder="" class="editinput">
                        </div>
                        <div>
                            <label>Answer</label>
                            <input type="text" id="Answer"  name="Answer" placeholder="Answer" class="editinput">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="ruajFaq" type="button" class="btn btn-primary">Ruaj</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">JO</button>
                </div>
            </div>
        </div>
    </div>*@
<script src="~/js/cache.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div style="margin-right: 22px;text-align:right; ">  
                <a class="btn" asp-action="AddQuestion" asp-controller="Faq" id="createFaq">Create Faq</a>
            </div>
            <div class="card-body"> 
                <div id="grid"></div>
            </div>
        </div>

    </div>
</div>
<div style="display:none">
    <div id="popup-editor">
        <div class="ml-3 mr-3">

            <textarea id="question" rows="5" class="w-100" name="question"> </textarea>
            <textarea id="answer" rows="5" class="w-100" name="answer"> </textarea>
        </div>
    </div>
</div>

@section Scripts{
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>*@

<script>
    $(function createFAQ() { 
        $("#createFaq").kendoButton();
    });
    
    var faqlist = GetSyncWithOutLoader("@Url.Action("Data","Faq")").responseJSON;
     console.log(faqlist);
    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                data: faqlist,
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            question: { type: "string" },
                            answer: { type: "string" }
                        }
                    }
                },
                pageSize: 10
            },
            scrollable: true,
            sortable: true,
            filterable: true, 
            pageable: {
                input: true,
                numeric: false
            },
            columns: [
                { field: "question", title: "Pytja" },
                { field: "answer", title: "Pergjigje", encoded: false },
                { command: ['destroy', 'edit'] }
            ],
            editable: {
                mode: "popup",
                template: kendo.template($("#popup-editor").html())
            },
            save: function (e) {
                var question = document.querySelectorAll("#question")[1].value;
                var answer = document.querySelectorAll("#answer")[1].value;
                 
                $.ajax({
                    url: 'Faq/EditFaqs',
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",

                    data: JSON.stringify({
                        "id": e.model.id,
                        "question": question,
                        "answer": answer
                    }), 
                    
                });
            },

            remove: function (e) {
                //var question = document.querySelectorAll("#question")[1].value;
                //var answer = document.querySelectorAll("#answer")[1].value;
                console.log(e.model.id)
                debugger
                $.ajax({
                    url: 'Faq/Delete', 
                    dataType: 'json',
                    contentType: "application/json", 
                    data: {
                        "ID": e.model.id
                    }, 
                    

                });
            }, 


        });
    });


        //function deleteModal(id) {
        //    //$("#personal-number").html(data.PersonalNumber);
        //    $('#deleteModal').modal('show');
        //    $('#deletefaq').click(function () {
        //        var eu = { 'ID': id };
        //        console.log(eu);
        //        $.ajax({
        //            url: 'Faq/Delete?id=' + id,
        //            success: function (result) {
        //                setTimeout(function () {// wait for 5 secs(2)
        //                    location.reload(); // then reload the page.(3)
        //                }, 1000);
        //            }
        //        });

        //        //$.post('api/Faq/delete', { id });
        //    });
        //}
        //function editModal(data) {
        //    $('#editModal').modal('show');
        //    $("#Question").val(data.Question);
        //    $("#Answer").val(data.Answer);
        //    $('#ruajFaq').click(function () {

        //        $.ajax({
        //            url: 'Faq/EditFaqs',
        //            type: 'POST',
        //            dataType: 'json',
        //            contentType: "application/json",
        //            data: JSON.stringify({
        //                "Id": data.Id,
        //                "Question": $("#Question").val(),
        //                "Answer": $("#Answer").val()
        //            }),
        //            success: function (data) {
        //                setTimeout(function () {// wait for 5 secs(2)
        //                    location.reload(); // then reload the page.(3)
        //                }, 0);
        //            },
        //            error: function (data) {
        //                console.log(data);
        //                setTimeout(function () {// wait for 5 secs(2)
        //                    location.reload(); // then reload the page.(3)
        //                }, 0);
        //            }
        //        });
        //    }
        //    )
        //}
        //$('.togglefaq').click(function (e) {
        //    e.preventDefault();
        //    var notthis = $('.active').not(this);
        //    notthis.toggleClass('active').parent().next('.faqanswer').slideToggle(300);
        //    $(this).toggleClass('active').parent().next('.faqanswer').slideToggle("fast");
        //});
        //$(function () {
        //    $(".loadDiv").slice(0, 10).show();
        //    $("#loadMore").on('click', function (e) {
        //        e.preventDefault();
        //        $(".loadDiv:hidden").slice(0, 10).slideDown();
        //        if ($(".loadDiv:hidden").length == 0) {
        //            $("#loadMore").fadeOut('slow');
        //        }
        //        $('html,body').animate({
        //            scrollTop: $(this).offset().top
        //        }, 1500);
        //    });
        //});



    @*$(document).ready(function () {

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("Data","Faq")',
                        dataType: 'json'
                    },

                    destroy: {
                        url: '@Url.Action("Delete","Faq")',
                        dataType: 'jsonp'
                    },
                    //create: {
                    //    url: 'https://data.cityofnewyork.us/api/views/8pnn-kkif/rows.json',
                    //    dataType: 'json'
                    //}
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }

                },
                batch: true,
                schema: {
                    parse: function (response) {
                        console.log(response)
                        return response.map(function (item) {
                            return {
                                id: item.id,
                                question: item.question,
                                answer: item.answer

                            };
                        });
                    },
                    model: {
                        id: 'ID',
                        fields: {
                            ID: { editable: false, nullable: true },
                            question: { type: "string"},
                            answer: { type: "string"}
                        }
                    }
                },
                pageSize: 10
            });


            $('#grid').kendoGrid({
                dataSource: dataSource,
                scrollable: true,
                sortable: true,
                filterable: true,
                pageable: {
                    input: true,
                    numeric: false
                },
                editable: 'inline',
                columns: [
                    { field: 'question', title: "Pytje"},
                    { field: 'answer', title: "Pergjigje", encoded: false },
                    { command: ['destroy', 'edit'] },
                ],
                //save: function (e) {
                //    alert('update');
                //    $.ajax({
                //    url: 'Faq/EditFaqs',
                //    type: 'POST',
                //    dataType: 'json',
                //        contentType: "application/json",
                //        data: JSON.stringify({
                //        "Id": data.id,
                //        "Question": $("#Question").val(),
                //        "Answer": $("#Answer").val()
                //    }),
                //    success: function (data) {
                //        setTimeout(function () {// wait for 5 secs(2)
                //            location.reload(); // then reload the page.(3)
                //        }, 0);
                //    },
                //    error: function (data) {
                //        console.log(data);
                //        setTimeout(function () {// wait for 5 secs(2)
                //            location.reload(); // then reload the page.(3)
                //        }, 0);
                //    }
                //});
                //}

                //toolbar: ['create']


            });
        });*@
</script>
}

