﻿<section class="registration">
	<div class="title">
		<h2>Mirë se erdhët!</h2>
	</div>
	<div class="text">
		<p>Për të filluar procesin e regjistrimit ju duhet të plotësoni të dhënat në vazhdim:</p>
	</div>
	@using (Html.BeginForm("Verification", "Security"))
	{
		<div class="register-row">
			<label for="phone">Numri i telefonit/Adresa elektronike</label>
			<div>
				<input type="text" id="phone" name="phone">
			</div>
		</div>
		<div class="register-row">
			<label for="personal-number">Numri personal</label>
			<div>
				<input id="personal-number" name="personalnumber" data-mask="0000000000">
			</div>
		</div>
		<div class="register-row">
			<label for="password">Vendosni fjalëkalimin</label>
			<div>
				<input type="password" id="password">
			</div>
		</div>
		<div class="register-row">
			<label for="confirm-password">Konfirmojeni fjalëkalimin</label>
			<div>
				<input type="password" id="confirm-password">
			</div>
		</div>
		<div class="terms">
			<a href="#">Kushtet dhe teremt e marrëveshjes</a>
		</div>
		<div>
			<button class="btn-cancel" type="submit" formaction="@Url.Action("Index")">Ndërpreje</button>
			<button class="btn-continue" type="submit">Vazhdo</button>
		</div>
	}
</section>