﻿<script src="~/js/jquery.maskedinput.min.js"></script>
@model PartialRegister
<section class="registration">
	<div class="title p-relative">
		<h2>Mirë se erdhët!</h2>
		<div class="help-icons d-inline-flex p-absolute r-0 t-25">
			<a href="#" class="d-block"><img class="play-video" src="~/images/icons/play.svg" alt="play video"></a>
			<a href="#" class="d-block"><img class="listen-audio" src="~/images/icons/face.svg" alt="listen"></a>
		</div>
	</div>
	<div class="text">
		<p>Për të filluar procesin e regjistrimit ju duhet të plotësoni të dhënat në vazhdim:</p>
	</div>
	@using (Html.BeginForm("Verification", "Security", FormMethod.Post))
	{
		<div class="register-row">
			<div>
				<label asp-for="@Model.Phone">Numri i telefonit</label>
				<input asp-for="@Model.Phone" placeholder="+383 (__) ___-___">
			</div>

			<div>
				<label asp-for="@Model.PersonalNumber">Numri personal</label>
				<input asp-for="@Model.PersonalNumber" placeholder="Numri Personal">
				@Html.ValidationMessageFor(_ => _.PersonalNumber)
			</div>
		</div>
		<div class="register-row mb-0">
			<div>
				<label asp-for="@Model.Password">Vendosni fjalëkalimin</label>
				<input asp-for="@Model.Password" name="Password" type="password" placeholder="********" autocomplete="off">
			</div>
			<div>
				<label for="ConfirmPassword">Konfirmojeni fjalëkalimin</label>
				<input id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="********" autocomplete="off">
			</div>
		</div>
		<div id="pwd-result"></div>
		<div class="terms" id="terms">
			<a href="#">Kushtet dhe termet e marrëveshjes</a>
		</div>
		<span class="error-message">@Html.ValidationMessage("RegistrationError")</span><br />
		<div>
			<button class="btn-cancel" onclick="javascript:history.go(-1)">Ndërpreje</button>
			<button class="btn-continue" type="submit">Vazhdo</button>
		</div>
	}
</section>
<script src="~/js/formPw.js"></script>
<script>
	jQuery.validator.addMethod("modulo11", function () {
		var personalNumber = $('#PersonalNumber').val();
		var result = false;
		if (personalNumber.length == 10 && personalNumber.isNumber()) {
			var newValue = personalNumber.substring(0, 9);
			var checkDigit = parseInt(personalNumber.substring(9, 10));
			var sum = 0;
			var j = 2;
			for (var i = newValue.length - 1; i >= 0; i--) {
				var temp = parseInt(newValue[i].toString());
				sum += temp * j;
				j++;
				if (j > 7)
					j = 2;
			}
			var reminder = 11 - (sum % 11);
			result = parseInt(reminder.toString().substring(reminder.toString().Length - 1, 1)) == checkDigit;
		}
		return result;
	});

	jQuery.validator.addMethod("phoneFormat", function () {
		return /^\+383\s\(\d{2}\)\s\d{3}-\d{3}$/.test($('#Phone').val());
	});

	$().ready(function () {
		$("#PersonalNumber").mask("9999999999");
		$("#Phone").mask("+383 (99) 999-999");
		$("form").validate({
			rules: {
				Phone: {
					required: true,
					phoneFormat: true
				},
				PersonalNumber: {
					modulo11: true
				},
				Password: {
					required: true,
					strongEnough: true
				},
				ConfirmPassword: {
					required: true,
					passwordsMatch: true
				}
			},
			messages: {
				Password: "",
				ConfirmPassword: "",
				Phone: "Numri i telefonit duhet shkruar",
				PersonalNumber: "Numri personal nuk është valid"
			},
			submitHandler: function (form) {
				$('#Phone').unmask();
				$('.loader').show();
				form.submit();
			}
		});
	});
</script>