﻿@model IList<eKosovaInternal.Domain.Services.ServiceCategory>

<div class="form-group col-6" style="display: inline-block !important; float: left">
    <label class="float-left">Emri i formes dinamike</label>
    <input type="text" class="form-control" id="name">
    <span style="color: red; float: left !important; display: none" id="error-message-name">Emri eshte obligativ!</span>
</div>
<div class="form-group col-3" style="display: inline-block !important; float: left !important">
    <label class="float-left">Zgjedh servisin</label>
    <div>
        <select class="form-control" id="service">
            <option>-- Zgjedh --</option>
            @foreach (var item in Model)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
        <span style="color: red; float: left; display: none" id="error-message-service">Lloji i servisit eshte obligativ!</span>
    </div>
</div>
<div class="form-group col-3" style="display: inline-block !important; visibility: hidden !important">
    <label style="float: left !important">Dokumenti</label>
    <input type="text" class="form-control">
</div>
<div class="form-group col-12" style="margin-top: 30px">
    <label style="float: left !important">Pershkrimi</label>
    <textarea rows="10" cols="30" id="description"></textarea>
    @*<textarea rows="4" class="form-control summernote"  style="border: 1px solid"></textarea>*@
    <span style="color: red; float: left; display: none" id="error-message-description">Pershkrimi eshte obligativ!</span>
</div>
<div class="col-3 form-group">
    <button type="button" class="btn btn-info" style="height: unset !important" onclick="clickForQuestion()">Kliko per te shtuar pyetje</button>
</div>

<script>
    $(document).ready(function () {
        $("#description").kendoEditor();
    });
</script>