﻿
<style>
    .k-input {
        text-align: left !important;
    }

    .card {
        color: unset !important;
    }
</style>

<div class="form-group col-12">
    <label class="float-left">Pyetja</label>
    <textarea rows="4" class="form-control summernote" id="question"></textarea>
</div>

<div class="col-4">
    <h4 style="color: black; text-align: left">Zgjedh formatin e pergjigjes:</h4>
    <input id="answerType" style="width: 100%;" />
</div>

<div id="downSide" style="display: none">
    <h1 style="color: rebeccapurple">geader</h1>
</div>


<script>
    $(document).ready(function () {
        $("#saveButton").hide();
    });
</script>