﻿<div id="grid" style="margin-top: 50px; margin-bottom: 50px">

</div>

<div class="d-flex">

    <div class="col-3">
        <div class="form-group float-left">
            <label style="font-size: 20px">Is Required</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="gender" id="isRequired" value="option1" checked>
                <label class="form-check-label" for="gender_male"></label>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group">
            <label class="float-left">Pershkrimi</label>
            <textarea rows="6" class="form-control summernote" id="descriptionQuestion"></textarea>
        </div>
    </div>

</div>
<div class="col-3 form-group">
    <button type="button" class="btn btn-info" style="width: unset !important; height: unset !important" onclick="saveQuestion()">Ruaj</button>
</div>

<script>
    $(document).ready(function () {
        $("#grid").kendoGrid({
            columns: [
                { field: "name" },
                { command: "edit" }
            ],
            dataSource: {
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            "id": { type: "number" }
                        }
                    }
                }
            },
            editable: "inline",
            toolbar: [{ name: "create", text: "Add Option" }],
            edit: function (e) {
                var container = e.container;
                container.css("background-color", "#90EE90");
            }
        });
    });
</script>