﻿
@{
    ViewData["Title"] = "CreateDynamicForm";
    Layout = "~/Views/Shared/_DynamicFormLayout.cshtml";
}

<div class="page-wrapper" style="padding-top: 10px !important; margin: unset">
    <div class="content container-fluid">
        @*<div id="dynamicFormMetadata"></div>
            <div>
                <div id="dynamicFormQuestion"></div>
            </div>*@

        <div class="row">
            <div class="col-xl-12 d-flex">
                <div class="card flex-fill" style="height: unset !important">
                    <div class="card-header">
                        <h4 class="card-title mb-0 float-left">Krijo formen dinamike</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="col-12" style="display: flex">
                                <ul style="padding: 0px; text-align: left">
                                    <li id="list-order" style="display:none"></li>
                                </ul>
                            </div>
                            <div style="display: flex">
                                <div class="form-group addNew">
                                    <button type="button" class="btn btn-info" style="width: unset !important; height: unset !important; float: left" onclick="openQuestionBody()">Pyetje e re</button>
                                </div>
                                <div class="form-group" id="saveButton">
                                    <button type="button" class="btn btn-info" style="width: unset !important; height: unset !important" onclick="saveQuestionare()">Ruaj formen</button>
                                </div>
                            </div>
                            @*<div class="form-group col-12 addNew" id="session">
                                    <label class="float-left">Sesioni</label>
                                    <input type="text" class="form-control">
                                </div>*@

                            <div class="form-group addNew" id="session">
                                <select id="Section" style="width: 100%;"></select>
                                @*<span class="error-message" id="Section-error" style="color: red !important;">Sesioni</span>*@
                            </div>

                            <div id="dynamicFormMetadata"></div>
                            <div>
                                <div id="dynamicFormQuestion"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script id="noDataTemplate" type="text/x-kendo-tmpl">
    # var value = instance.input.val(); #
    # var id = instance.element[0].id; #
    <div>
        Nuk u gjet asnje e dhene. Deshironi te shtoni ndonje te re? - '#: value #' ?
    </div>
    <br />
    <button class="k-button" onclick="appendToSelect('#: id #', '#: value #')" ontouchend="appendToSelect('#: id #', '#: value #')">Shto</button>
</script>

<script>

    var objectQuestions = [];
    var currentId = 1;

    $(document).ready(function () {
        $(".addNew").hide();
        GetEmpty("@Url.Action("_CreateMetadataDynamicForm", "DynamicForm")").done(function (result) {
            $("#dynamicFormMetadata").html(result);
        });
        GetEmpty("@Url.Action("_QuestionDynamicForm", "DynamicForm")").done(function (result) {
            $("#dynamicFormQuestion").html(result);
            $("#dynamicFormQuestion").hide();
            //$("#bodyQuestion").hide();
            $("#answerType").kendoDropDownList({
                autoBind: false,
                cascadeFrom: "categories",
                optionLabel: "Zgjedh...",
                dataTextField: "name",
                change: changeAnswerType,
                dataValueField: "id",
                dataSource: [
                    { id: 1, name: "InputTextField" },
                    { id: 2, name: "TextArea" },
                    { id: 3, name: "Dropdown" },
                    { id: 4, name: "MultiChoiceDropdown" },
                    { id: 5, name: "RadioButton" },
                    { id: 6, name: "Checkbox" },
                    { id: 7, name: "Grid" },
                    { id: 8, name: "MultipleTextArea" },
                ]
            }).data("kendoDropDownList");
        });

            function onDataBound(e) {
                $('.k-multiselect .k-input').unbind('keyup');
                $('.k-multiselect .k-input').on('keyup', onClickEnter);
            }
            function onClickEnter(e) {
                if (e.keyCode === 13) {
                    var widget = $('#Section').getKendoMultiSelect();
                    var dataSource = widget.dataSource;
                    var input = $('.k-multiselect .k-input');
                    var value = input.val().trim();
                    if (!value || value.length === 0) {
                        return;
                    }
                    var newItem = {
                        Value: currentId++,
                        Title: value
                    };

                    dataSource.add(newItem);
                    var newValue = newItem.Value;
                    widget.value(widget.value().concat([newValue]));
                }
            }
            $("#Section").kendoMultiSelect({
                dataTextField: "Title",
                dataValueField: "Value",
                dataSource: {
                    data: []
                },
                maxSelectedItems: 1,
                dataBound: onDataBound,
                noDataTemplate: $("#noDataTemplate").html()
            });

    });

    function appendToSelect() {
        var widget = $('#Section').getKendoMultiSelect();
        var dataSource = widget.dataSource;
        var input = $('.k-multiselect .k-input');
        var value = input.val().trim();
        if (!value || value.length === 0) {
            return;
        }
        var newItem = {
            Value: currentId++,
            Title: value
        };

        dataSource.add(newItem);
        var newValue = newItem.Value;
        widget.value(widget.value().concat([newValue]));
    }

    function clickForQuestion() {

        var dynamicFormName = $("#name").val();
        var dynamicFormService = $("#service").val();
        var dynamicFormDescription = $("#description").val();
        if (dynamicFormName != "") {
            $("#error-message-name").hide();
            if (dynamicFormService != "" && dynamicFormService != "-- Zgjedh --") {
                $("#error-message-service").hide();
                if (dynamicFormDescription != "") {
                    $("#dynamicFormMetadata").hide();
                    //$("#dynamicFormQuestion").show();
                    $("#error-message-description").hide();
                    $(".addNew").show();
                    $("#session").hide();
                } else {
                    $("#error-message-description").show();
                }
            } else {
                $("#error-message-service").show();
            }
        } else {
            $("#error-message-name").show();
        }

    }

    function openQuestionBody() {
        $("#session").show();
        $("#dynamicFormQuestion").show();
                GetEmpty("@Url.Action("_QuestionDynamicForm", "DynamicForm")").done(function (result) {
            $("#dynamicFormQuestion").html(result);
            $("#answerType").kendoDropDownList({
                autoBind: false,
                cascadeFrom: "categories",
                optionLabel: "Zgjedh...",
                dataTextField: "name",
                change: changeAnswerType,
                dataValueField: "id",
                dataSource: [
                    { id: 1, name: "InputTextField" },
                    { id: 2, name: "TextArea" },
                    { id: 3, name: "Dropdown" },
                    { id: 4, name: "MultiChoiceDropdown" },
                    { id: 5, name: "RadioButton" },
                    { id: 6, name: "Checkbox" },
                    { id: 7, name: "Grid" },
                    { id: 8, name: "MultipleTextArea" },
                ]
            }).data("kendoDropDownList");
        });
    }

    function changeAnswerType() {
        var answerTypeId = $("#answerType").val();
        Get({ ID: answerTypeId }, "@Url.Action("AnswerType", "DynamicForm")").done(function (result) {
            $("#downSide").show();
            $("#downSide").html(result);
        });
    }

    function saveQuestionare() {
        var description = $('#description').getKendoEditor() != undefined ? $('#description').getKendoEditor().value() : "";
        var regexForDescription = description.replace(/(<([^>]+)>)/ig, "");
        var dynamicFormData = {
            Title: $("#name").val(),
            Description: regexForDescription,
            IDServiceCategory: $("#service").val(),
        };
        var finalObject = {
            DynamicForm: dynamicFormData,
            Questions: objectQuestions
        };

        Post({ model: finalObject }, "@Url.Action("AddDynamicForm", "DynamicForm")").done(function (result) {
            window.location.href = '@Url.Action("CreateDynamicForm")';
        });

    }

    function saveQuestion() {
        var options = [];
        var optionsGridX = [];
        var optionsGridY = [];

        var answerType = parseInt($("#answerType").val());

        switch (answerType) {
            case 3:
            case 4:
            case 5:
            case 6:
                var obj = $("#grid").data("kendoGrid").dataSource.data();
                $.each(obj, function (key, value) {
                    options.push({
                        Title: value.name
                    })
                });
                break;
            case 7:
                var rows = $("#gridRow").data("kendoGrid").dataSource.data();
                $.each(rows, function (key, value) {
                    optionsGridX.push({
                        Title: value.name
                    })
                });
                var columns = $("#gridColumn").data("kendoGrid").dataSource.data();
                $.each(columns, function (key, value) {
                    optionsGridY.push({
                        Title: value.name
                    })
                });
                break;
        }
        $("#list-order").before("<li style='color: black'>" + $("#question").val() + "</li>");
        var number = $("#Section")[0].value;
        var section2 = $("#Section")[0][number - 1].innerHTML;
        objectQuestions.push({
            Title: $("#question").val(),
            Description: $("#descriptionQuestion").val(),
            IsRequired: $("#isRequired").prop("checked"),
            Section: section2,
            IDDynamicFormQuestionType: answerType,
            //ShowQuestion: $(""),
            //HasAnswer: $(""),
            //IDDynamicFormQuestionParent: $(""),
            LevelOfQuestion: 1,
            QuestionOptions: options,
            QuestionGridOptionsX: optionsGridX,
            QuestionGridOptionsY: optionsGridY,
        });
        $("#dynamicFormQuestion").html("");
        $("#saveButton").show();
        $("#session").hide();

    }

    //function saveQuestionare() {
    //    var DynamicForm = {};
    //    var model = { DynamicForm: DynamicForm, Questions: objectQuestions };
    //}

</script>