﻿
@{
    ViewData["Title"] = "DynamicFormList";
    Layout = "~/Views/Shared/_DynamicFormLayout.cshtml";
}

    <div id="example">
        <div id="grid"></div>

        <script>
        $(document).ready(function() {
            var element = $("#grid").kendoGrid({
                dataSource: {
                    type: "odata",
                    transport: {
                        read: "@Url.Action("ListOfDynamicPlan", "DynamicForm")"
                    },
                    pageSize: 5,
                    serverPaging: true,
                    serverSorting: true
                },
                height: 800,
                sortable: true,
                pageable: true,
                detailInit: detailInit,
                dataBound: function() {
                    //this.expandRow(this.tbody.find("tr.k-master-row").first());
                },
                columns: [
                    {
                        field: "Title",
                        title: "Emri i formes",
                        width: "200px"
                    },
                    {
                        field: "NewQuestion",
                        title: "test",
                        width: "110px"
                    },
                    {
                        field: "DeleteDynamicForm",
                        title: "test",
                        width: "110px"
                    }
                ]
            });
        });

        function detailInit(e) {
            $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    type: "odata",
                    transport: {
                        read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders"
                    },
                    serverPaging: true,
                    serverSorting: true,
                    serverFiltering: true,
                    pageSize: 10,
                    filter: { field: "EmployeeID", operator: "eq", value: e.data.EmployeeID }
                },
                scrollable: false,
                sortable: true,
                pageable: true,
                columns: [
                    { field: "OrderID", width: "110px" },
                    { field: "ShipCountry", title:"Ship Country", width: "110px" },
                    { field: "ShipAddress", title:"Ship Address" },
                    { field: "ShipName", title: "Ship Name", width: "300px" }
                ]
            });
        }
        </script>
    </div>

