﻿@using eKosova.Custom.ExtensionMethods
@model eKosova.Domain.PublicUsers.VerificationModel
<style>
	.radiobtn {
		display: inline;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

		.radiobtn input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

			.radiobtn input:checked ~ .checkmark {
				background-color: #2196F3;
			}

				.radiobtn input:checked ~ .checkmark:after {
					display: block;
				}

		.radiobtn:hover input ~ .checkmark {
			background-color: #ccc;
		}

		.radiobtn .checkmark:after {
			top: 9px;
			left: 9px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: white;
		}

	.select div {
		display: block !important;
		text-align: center !important;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #eee;
		border-radius: 50%;
	}

		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}
</style>

<section class="verification">
	@using (Html.BeginForm("Confirmation", "Security", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<input type="hidden" name="Identification" value="@Model.Identification" />
		<div class="register-row select">
			<div class="rdbtn-div">
				<h1>Zgjedhni tipin e llogarisë</h1>
				<label class="radiobtn">
					Individ
					<input type="radio" checked="checked" name="AccountType" value="1" required>
					<span class="checkmark"></span>
				</label>
				<label class="radiobtn">
					Biznes
					<input type="radio" name="AccountType" value="2">
					<span class="checkmark"></span>
				</label>
			</div>
		</div>
		<div class="text">
			<p>
				Për të aktivizuar llogarinë tuaj ju duhet të ngarkoni dokumentet e identifikimit tuaj dhe të
				entitetit nëse jeni duke hapur llogari për entitet juridik.
			</p>
		</div>
		<div id="message"></div>
		<br />
		<div class="register-row attach">
			<div class="attach-row">
				@Html.CustomInputFile("FrontID", "Klikoni këtu për të ngarkuar foton e përparme të ID-së suaj", false, new { required = "required", accept = "image/png,image/jpeg" })
			</div>
			<div class="attach-row">
				@Html.CustomInputFile("BackID", "Klikoni këtu për të ngarkuar foton e prapme të ID-së suaj", false, new { required = "required", accept = "image/png,image/jpeg" })
			</div>
		</div>
		<div class="register-row attach">
			<div class="attach-row">
				@Html.CustomInputFile("Selfie", "Klikoni këtu për të ngarkuar foton e juaj", false, new { required = "required", accept = "image/png,image/jpeg" })
			</div>
			<div class="attach-row" id="documents">
				@Html.CustomInputFile("BizDokument", "Klikoni këtu për të ngarkuar dokumentet e organizatës suaj", true, new { accept = "image/png,image/jpeg" })
			</div>
		</div>
		<span class="error-message">@Html.ValidationMessage("Pictures")</span><br />
		<div>
			<button class="btn-cancel" type="submit" formaction="@Url.Action("Registration")">Ndërpreje</button>
			<button class="btn-continue" type="submit">Vazhdo</button>
		</div>
	}
</section>

<script>
	var True = true; var False = false;

	document.querySelector(".select label:nth-child(2)").click();

	$('#message').hide();

	if (@Model.FrontID)
		verified($("#FrontID"));
	if (@Model.BackID)
		verified($("#BackID"));
	if (@Model.Selfie)
		verified($("#Selfie"));
	if (!@Model.IsIndividual) {
		document.querySelector(".select label:nth-child(3)").click();
		if (@Model.BizDokument)
			verified($("#BizDokument"));
	}
	else
		$('#documents').hide();

	function verified(e) {
		e.parent().addClass('done');
		e.prev().text("Ngarkuar dhe verifikuar");
		e.attr('disabled', 'disabled');
	}

	$("input[name='AccountType']").on('change', function () {
		$("#documents").toggle(this.value == 2);
		if (this.value == 2) {
			$('#BizDocument').prev().text("Klikoni këtu për të ngarkuar dokumentet e organizatës suaj");
			$('#BizDocument').parent().removeClass('done');
			$('#BizDocument').attr('required', 'required');
		}
		else {
			$('#BizDocument').val('');
			$('#BizDocument').removeAttr('required');
		}
	});

	$('.btn-continue').on('click', function () {
		$('#message').hide();
		$('#message').html("");
		return manualValidation();
	});

	function manualValidation() {
		var elements = document.querySelectorAll("input[type=file]:not([disabled])");
		var x = 'Fotoja ', y = 'otoja ';
		var showX = false, showY = false;
		for (var i = 0; i < elements.length; i++) {
			var elv = elements[i].value;
			if (elv != '') {
				var parts = elv.split('.');
				var extension = parts[parts.length - 1];
				switch (extension) {
					case 'jpg':
					case 'jpeg':
					case 'png':
						break;
					default:
						y = add_elem(y, elements[i].name);
						showY = true;
						break;
				}
			}
			else
				if (elements[i].name != 'BizDokument' ||
					document.querySelector('input[name="AccountType"]:checked').value == 2) {
					x = add_elem(x, elements[i].name);
					showX = true;
				}
		}
		x += ' duhet ngarkuar.';
		y += ' është në formatin e gabuar.';
		x = read_friendly(x);
		y = read_friendly(y);
		var noError = !(showX || showY);
		if (!noError) {
			var msg = (showX ? x : '') + (showY ? (showX ? ' Gjithashtu, f':'F') + y : '');
			var messagePlaceholder = document.getElementById('message');
			var textTag = document.createElement('p');
			textTag.setAttribute('style', 'color:red');
			var textNode = document.createTextNode(msg);
			textTag.appendChild(textNode);
			messagePlaceholder.appendChild(textTag);
			$('#message').show();
		}
		return noError;
	}

	function add_elem(a, e) {
		return a + (a.length > 7 ? ', ' : '') + e;
	}

	function read_friendly(e) {
		if (e.includes(",")) {
			var n = e.lastIndexOf(",");
			e = e.slice(0, n) + e.slice(n).replace(",", " dhe");
		}
		e = e.replace('FrontID', 'e përparme');
		e = e.replace('BackID', 'e pasme');
		e = e.replace('Selfie', 'e profilit');
		e = e.replace('BizDokument', 'e biznesit');
		return e;
	}

	$("form").on('submit', function () {
		$('.loader').show();
		return true;
	});
</script>