﻿@using eKosova.Custom.ExtensionMethods
@model string
<style>
	.custom-dropdown {
		width: 100%;
	}

	.language > .custom-dropdown {
		width: auto;
	}

	.custom-dropdown select:not(#Language) + .btn-option {
		background-color: #fff;
		color: #303030;
		width: 100%;
	}

	.custom-dropdown .options span.option {
		width: 100%;
	}
</style>
<section class="verification">
	@using (Html.BeginForm("Verification", "Security"))
	{
		<div class="register-row">
			<label>Shkruani kodin e konfirmimit</label>
			<div>
				<input id="confirm-code" name="confirmcode" data-mask="00000">
			</div>
		</div>
		<p class="m0">
			Për të aktivizuar llogarinë tuaj ju duhet të ngarkoni dokumentet e identifikimit tuaj dhe
			të
			entitetit nëse jeni duke hapur llogari për entitet juridik.
		</p>
		<div class="register-row">
			<label class="mb-10">Zgjedhni tipin e llogarisë</label>
			@Html.CustomDropdown("accountType", new SelectListItem[] {
				new SelectListItem{ Text = "Individual", Value = "1" },
				new SelectListItem{ Text = "Biznes", Value = "2" } }, "Zgjedhni tipin e llogarisë", null)
		</div>
		<div class="register-row hidden">
			<label>Shkruani emrin e biznesit</label>
			<input type="text" name="businessname" />
		</div>
		<div class="register-row attach">
			@Html.CustomInputFile("id-front", "Klikoni këtu për të ngarkuar foton e përparme të ID-së suaj")
		</div>
		<div class="register-row attach">
			@Html.CustomInputFile("id-rear", "Klikoni këtu për të ngarkuar foton e prapme të ID-së suaj")
		</div>
		<div class="register-row attach">
			@Html.CustomInputFile("selfie", "Kliko këtu për të ngarkuar foton(selfie) tuaj")
		</div>
		<div class="register-row">
			@Html.CustomInputFile("invoiceImage", "Kliko për të ngarkuar një faturë të adresës suaj")
		</div>
		<div class="register-row attach" id="documents">
			@*  <div class="register-row attach hidden">*@
			@Html.CustomInputFile("id-documents", "Klikoni këtu për të ngarkuar dokumentet e organizatës suaj", allowMultiple: true)
		</div>
		<div>
			<button class="btn-cancel" type="submit" formaction="@Url.Action("Registration")">Ndërpreje</button>
			<button class="btn-continue" type="submit">Vazhdo</button>
		</div>
	}
</section>

<script>
    $(document).ready(() => {
        if (!$("input[type='file']").length)
            return;
        $("input[type='file']").each(function () {
        });
    });
    @*$("#accountType").change(function () {
        if ($(this).val() == 2) {
            $("input[name='businessname']").parent().removeClass('hidden');
            $("label[for='id-documents']").parent().removeClass('hidden');
        }
        else {
            $("input[name='businessname']").parent().addClass('hidden');
            $("label[for='id-documents']").parent().addClass('hidden');
        }
    });*@

    const messages = [
        { Id: "id-front", Message: "Fotografia e përparme e ID-së suaj është ngarkuar" },
        { Id: "id-rear", Message: "Fotografia e përparme e ID-së suaj është ngarkuar" },
        { Id: "selfie", Message: "Fotoja (selfie) juaj është ngarkuar" },
        { Id: "invoceImage", Message: "Fotoja e faturës është ngarkuar" }
    ];

    $('#documents').hide();

	$('#document-type').on('change', function () {
		if (this.value == 2) {
			$('#documents').show();
			$('#BizDocument').prev().text("Klikoni këtu për të ngarkuar dokumentet e organizatës suaj");
			$('#BizDocument').parent().removeClass('done');
		}
		else {
			$('#documents').hide();
			if ($('#BizDocument').value)
				$('#BizDocument').value = '';
		}
	});
</script>