﻿<section class="home">
    <div class="welcome">
        <h2>Mirë se vini në platformën e shërbimeve online</h2>
        <p>
            E-Kosova është portali qeveritar ku shërbimet publike që gjenden në zyrat dhe sportelet
            fizike të institucioneve ofrohen në mënyrë elektronike.
        </p>
    </div>
    <div>
        <a asp-controller="Security" asp-action="Registration" class="btn sign-up">Regjistrohu</a>
        <a asp-controller="Security" asp-action="Index" class="btn sign-in">Hyr</a>
    </div>
    <div class="card-container">
        <div class="card bg-pink">
            <div class="info-icon">
                <img src="~/images/icons/certificate.svg" alt="certificate">
            </div>
            <h1>12,193</h1>
            <p>Certifikate familjare</p>
        </div>
        <div class="card bg-yellow">
            <div class="info-icon">
                <img src="~/images/icons/insurance.svg" alt="insurance">
            </div>
            <h1>60,301</h1>
            <p>Sigurime shëndetësore</p>
        </div>
        <div class="card bg-orange">
            <div class="info-icon">
                <img src="~/images/icons/passport.svg" alt="passport">
            </div>
            <h1>34,258</h1>
            <p>Aplikime për pasaportë</p>
        </div>
        <div class="card bg-blue">
            <div class="info-icon">
                <img src="~/images/icons/payment.svg" alt="contributions">
            </div>
            <h1>8,929</h1>
            <p>Pagesa dhe kontribute</p>
        </div>
        <div class="card bg-green">
            <div class="info-icon">
                <img src="~/images/icons/driver-license.svg" alt="driver-license">
            </div>
            <h1>17,366</h1>
            <p>Aplikime për leje të vozitjes</p>
        </div>
    </div>
</section>