﻿<section class="confirmation">
	<div class="title">
		<h2>Konfirmimi</h2>
	</div>
	@using (Html.BeginForm("Activation", "Security", FormMethod.Post))
	{
		<input type="hidden" value="1" name="Identification" />
		<div class="d-inline-flex p-relative justify-space-between w-100">
			<div class="confirm-code w-100">
				<label for="confirm-code" class="d-block mb-10">Shkruani kodin e konfirmimit që keni pranuar përmes SMS-it</label>
				<input id="confirm-code" class="d-block w-100" name="SMSToken" data-mask="00000" required>
			</div>
		</div>
		<button class="btn-continue" type="submit">VAZHDO</button>
	}
	<span class="error-message">@Html.ValidationMessage("Token")</span>
	<div><p>Vlefshmëria e kodit konfirmues: <span id="smsCounter" class="attention"></span></p></div>
	<div id="resend">
		Nëse SMS-in me kodin konfirmues nuk e keni pranuar brenda dy (2) minutave atëherë klikoni <span id="regenToken" class="attention pointer">këtu</span> që të ridërgoni kodin konfirmues.
	</div>
</section>
<script src="~/js/countdown.js"></script>
<script>
	count(120, 'smsCounter', 'resend');
	$('#regenToken').click(function () {
		$.post('https://localhost:5001/Security/RegenSMS?ID=1')
	});
</script>