﻿@model eKosova.SharedModel.Contacts.CreateContactModel
@{
	bool loggedIn = eKosova.Custom.Helpers.LogedUser.LoggedIn();
}
<style>
	.help {
		width: 100%;
	}

	.contact-info, .map {
		height: 100%;
		width: 100%;
		box-sizing: border-box;
	}

	.map {
		min-height: 350px;
		border-radius: 1em;
	}
</style>
<section class="contact">
	<div class="help">
		<div class="title">
			<h2>Kontakti</h2>
		</div>
		<span class="error-message">@Html.ValidationMessage("Received")</span><br />
		@using (@Html.BeginForm("AddContact", "Contact", FormMethod.Post, new { @class = "contact-form" }))
		{
			<div class="d-inline-flex">
				<div>
					<label asp-for="@Model.FullName">Emri dhe mbiemri</label>
					<input asp-for="@Model.FullName" type="text" placeholder="Emri dhe mbiemri" onkeypress="return alphaOnly(event)" value="@(loggedIn ? eKosova.Custom.Helpers.LogedUser.GetLoggedUserFull() : "")">
				</div>
				<div>
					<label asp-for="@Model.Email">Email adresa</label>
					<input asp-for="@Model.Email" type="email" placeholder="Email adresa" required="" value="@(loggedIn ? eKosova.Custom.Helpers.LogedUser.GetLoggedUserEmail() : "")">
				</div>
			</div>
			<div class="description">
				<label asp-for="@Model.Description">Shkruaj mesazhin</label>
				<textarea asp-for="@Model.Description" rows="10" placeholder="Shkruaj mesazhin"></textarea>
			</div>
			<button class="btn-continue" type="submit">Dërgo</button>
		}
	</div>
	<div class="map"></div>
</section>
<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQgLyb04QZ5qp2hfp8Vzm7uJTYTt4v4Ds&callback=initMap">
</script>
<script type="text/javascript">
	$().ready(function () {
		$(".contact-form").validate({
			rules: {
				FullName: {
					required: true,
					onlyLetters: true,
					minlength: 3,
					normalizer: function (value) {
						var temp = value.trim();
						return temp.replaceAll("  ", "");
					}
				},
				Email: {
					required: true
				},
				Description: {
					required: true,
					normalizer: function (value) {
						var temp = value.trim();
						return temp.replaceAll("  ", "");
					}
				}
			},
			messages: {
				FullName: "Shkruani emrin dhe mbiemrin tuaj!",
				Email: "Shkruani email adresën tuaj!",
				Description: "Shkruani mesazhin!"
			},
			submitHandler: function (form) {
				$('.loader').show();
				form.submit();
			}
		});
		$('#Description').val('');
	});
</script>