﻿
<style>
    .help {
        width: 100%;
    }

    .help-row:last-of-type {
        margin: 0 !important;
    }

    .contact-info, .map {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .map {
        min-height: 350px;
    }
</style>

<section class="contact">
    <div class="help">
        <div class="title">
            <h2>Kontakti</h2>
        </div>
        <form class="contact-form">
            <div>
                <label class="d-block" for="name">Emri dhe mbiemri</label>
                <input type="text" id="name" name="name" placeholder="Emri dhe mbiemri">
            </div>
            <div>
                <label class="d-block" for="email">Email adresa</label>
                <input type="email" id="email" name="email" placeholder="Email adresa" required="">
            </div>
            <div class="help-row description">
                <label for="description">Shkruaj mesazhin</label>
                <textarea name="description" id="description" rows="10" placeholder="Shkruaj mesazhin"></textarea>
            </div>
            <button class="btn-continue" type="submit">Dërgo</button>
        </form>
    </div>
    <div class="map"></div>
</section>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQgLyb04QZ5qp2hfp8Vzm7uJTYTt4v4Ds&callback=initMap">
</script>