﻿@model eKosova.SharedModel.Helps.CreateHelpModel
@{
	bool loggedIn = eKosova.Custom.Helpers.LogedUser.LoggedIn();
}

<section class="help">
	<div class="title">
		<h2>Ndihma</h2>
	</div>
	<span class="error-message">@Html.ValidationMessage("Received")</span><br />
	@using (@Html.BeginForm("AddHelp", "Help", FormMethod.Post, new { @class = "help-form" }))
	{
		<div class="help-row">
			<div>
				<label asp-for="@Model.FullName">Emri dhe mbiemri</label>
				<input asp-for="@Model.FullName" type="text" placeholder="Emri dhe mbiemri" onkeypress="return alphaOnly(event)" value="@(loggedIn ? eKosova.Custom.Helpers.LogedUser.GetLoggedUserFull() : "")">
			</div>
			<div>
				<label asp-for="@Model.Email">Email adresa</label>
				<input asp-for="@Model.Email" type="email" placeholder="Email adresa" value="@(loggedIn ? eKosova.Custom.Helpers.LogedUser.GetLoggedUserEmail() : "")">
			</div>
		</div>
		<div class="help-row description">
			<label asp-for="@Model.Description">Si mundemi me ju ndihmu?</label>
			<textarea asp-for="@Model.Description" rows="10" placeholder="Si mundemi me ju ndihmu?"></textarea>
		</div>
		<button class="btn-continue" type="submit">Dërgo</button>
	}
</section>

<script type="text/javascript">
	$().ready(function () {
		$(".help-form").validate({
			rules: {
				FullName: {
					required: true,
					onlyLetters: true,
					normalizer: function (value) {
						var temp = value.trim();
						return temp.replaceAll("  ", "");
					}
				},
				Email: {
					required: true
				},
				Description: {
					required: true,
					normalizer: function (value) {
						var temp = value.trim();
						return temp.replaceAll("  ", "");
					}

				}
			},
			messages: {
				FullName: "Shkruani emrin dhe mbiemrin tuaj!",
				Email: "Shkruani email adresen tuaj!",
				Description: "Shkruani mesazhin!"
			},
			submitHandler: function (form) {
				$('.loader').show();
				form.submit();
			}
		});
		$('#Description').val('');
	});
</script>