﻿<section class="help">
    <div class="title">
        <h2>Ndihma</h2>
    </div>
    <form class="help-form">
        <div>
            <label for="name">Emri dhe mbiemri</label>
            <input type="text" id="name" name="name" placeholder="Emri dhe mbiemri">
        </div>
        <div>
            <label for="email">Email adresa</label>
            <input type="email" id="email" name="email" placeholder="Email adresa" required>
        </div>
        <div>
            <label for="description">Si mundemi me ju ndihmu?</label>
            <textarea name="description" id="description" rows="10"
                      placeholder="Si mundemi me ju ndihmu?"></textarea>
        </div>
        <button class="btn-submit" type="submit">Dërgo</button>
    </form>
</section>