﻿@model IList<eKosovaInternal.Domain.Edergesa.SubmissionPublicUser>
@using Newtonsoft.Json;
<style>
    .putPersonalnumber {
        width: 70%; 
    }
    input[type=text] { 
        border: 1px solid;
        border-color: #c1c1c1;
    }
    .kerkoPersonalNumber {
        padding: 12px;
        border: 1px solid #f7f7f7; 
        float: left;
        width: 650px;
        background-color: #f7f7f7;
    }
    #search {
        width: 140px;
        margin-left: 20px;
    }
    #pn-invalid {
        float: left;
        margin-top: 10px;
        padding-left: 20px;
    }
    .submissionForm {
        color: #000;
        margin-top: 60px;
        background-color: #f7f7f7;
    }
    }

</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <label id="status" style="width: 100%">
                    <div class="kerkoPersonalNumber">
                        <input class="putPersonalnumber" type="text" id="personalNumber" />
                        <button class="btn " id="search">Kerko</button><br />
                        <span id="pn-invalid" class="text-danger"></span>
                    </div>
                </label>
                <table style="color: #6b6868">
                    <tbody> 
                            <tr style="padding-bottom:50px"> 
                                <td class="tdName">Emri: </td>
                                <td class="tdData"><input type="text" id="first" /></td>
                                <td class="tdName">Mbiemri: </td>
                                <td class="tdData"><input type="text" id="last" /></td>
                                <td class="tdName">Numri Personal: </td>
                                <td class="tdData"><input type="text" id="nrPersonal" /></td>
                                <td class="tdName">Email: </td>
                                <td class="tdData"><input type="text" id="email" /></td>
                                <td class="tdName">Numri i Telefonit: </td>
                                <td class="tdData"><input type="text" id="nrTel" /></td>
                            </tr> 
                        <tr>
                            <td class="tdName">Emri Biznesit: </td>
                            <td class="tdData"><input type="text" id="bizName" /></td>
                            <td class="tdName">Numri Biznesit: </td>
                            <td class="tdData"><input type="text" id="nrBiz" /></td>
                        </tr>
                        <tr>
                            <td class="tdName">Foto para: </td>
                            <td class="tdData"><input type="text" id="fotoPara" /></td>
                            <td class="tdName">Foto Mbrapa: </td>
                            <td class="tdData"><input type="text" id="fotoMprapa" /></td>
                            <td class="tdName">Foto Selfi: </td>
                            <td class="tdData"><input type="text" id="fotoSelfi" /></td>
                            <td class="tdName">Certifikata Biznesit: </td>
                            <td class="tdData"><input type="text" id="fotoBiz" /></td>

                        </tr>
                    </tbody>
                </table>
                 
                    <div class="submissionForm" style="color:#000">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <table>
                                        <thead>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label>
                                                        Title:    <input type="text" id="titleSubmit" />
                                                    </label>
                                                    <label>
                                                        Subject:    <input type="text" id="submitSubmit" />
                                                    </label>
                                                    <label>
                                                        Permbajtja:    <input type="text" id="permbajtjaSubmit" />
                                                    </label>
                                                    <label>
                                                        Dokumentet:    <input type="text" id="documentsSubmit" />
                                                    </label>
                                                </td>
                                               
                                            </tr>
                                        </tbody>
                                    </table> 
                                </div>
                                <div class="col-6">
                                    <<div class="dropdown show">
                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Kategorit
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div>
                 
               
                @*<div class=" " style="color: #000; margin-top:20px">
                    <div class="d-flex flex-nowrap align-content-start mb-3">
                        <div class="p-2  bd-highlight">
                            Emri: <input type="text" id="first" />
                        </div>
                        <div class="p-2   bd-highlight">
                            Mbiemri: <input type="text" id="last" />
                        </div>
                        <div class="p-2  bd-highlight">
                            Numri Personal: <input type="text" id="nrPersonal" />
                        </div>
                        <div class="p-2  bd-highlight">
                            Email: <input type="text" id="email" />
                        </div>
                        <div class="p-2   bd-highlight">
                            Numri i Telefonit: <input type="nrTel" id="nrTel" />
                        </div>
                    </div>
                </div>*@

                @*<div class=" " style="color: #000; margin-top:20px">
                    <div class="d-flex flex-nowrap align-content-start mb-3">
                        <div class="p-2   bd-highlight">
                            Emri Biznesit: <input type="text" id="bizName" />
                        </div>
                        <div class="p-2   bd-highlight">
                            Numri Biznesit: <input type="text" id="nrBiz" />
                        </div> 
                    </div>
                </div>*@

                @*<div class=" " style="color: #000; margin-top:20px">
                    <div class="d-flex flex-nowrap align-content-start mb-3"> 
                        <div class="p-2   bd-highlight">
                            Foto para: <input type="text" id="fotoPara" />
                        </div>
                        <div class="p-2   bd-highlight">
                            Foto Mbrapa: <input type="text" id="fotoMprapa" />
                        </div>
                        <div class="p-2   bd-highlight">
                            Foto Selfi: <input type="text" id="fotoSelfi" />
                        </div>
                        <div class="p-2   bd-highlight">
                            Certifikata Biznesit: <input type="text" id="fotoBiz" />
                        </div>
                    </div>
                </div>*@

            </div>
        </div>

    </div>
</div>
<script>

    $("#search").click(function () {
        var id = parseInt($("#personalNumber").val())

        if (id) {
            $("#pn-invalid").text("");
            Get({ personalNumber: id }, "@Url.Action("Data", "Submission")").done(function (result) {
                console.log(result);
                if (result.status == 0) {
                    $("#first").val(result.data.first);
                    $("#last").val(result.data.last);
                    $("#nrPersonal").val(result.data.personalNumber);
                    $("#email").val(result.data.email);
                    $("#nrTel").val(result.data.phoneNumber);
                    $("#bizName").val(result.data.businessName);
                    $("#nrBiz").val(result.data.businessNumber);
                    $("#fotoPara").val(result.data.pathIDFront);
                    $("#fotoMprapa").val(result.data.pathIDBack);
                    $("#fotoSelfi").val(result.data.pathSelfie);
                    $("#fotoBiz").val(result.data.pathBusinessCertificate); 

                } else {
                    console.log("Something went wrong!")
                }
            });
        }
        else
        {
            $("#pn-invalid").text("Ne kete fushe lejohen vetem numra!")
        }
    })

</script>