﻿<section class="finish">
    <img src="~/images/icons/check.svg" alt="check">
    <h3>Pagesa dhe shërbimi u kryen me sukses.</h3>
    <h3>Shtypni butonin përkatës për versionin e faturës</h3>
    <div class="button-area">
        <button class="btn-finish"><img src="~/images/icons/print.svg" alt="print">&nbsp Fizike</button>
        <button class="btn-finish"><img src="~/images/icons/electronic.svg" alt="electronic">&nbsp Elektronike</button>
    </div>
</section>