﻿@using eKosova.Custom.ExtensionMethods
@model IEnumerable<eKosova.Domain.Faqs.Faq>
<section class="informations">

    <div class="info-content">
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td asp-controller="Faq" asp-action="InformationsOpen">@item.Question</td>
                <td asp-controller="Faq" asp-action="InformationsOpen">@item.Answer</td>
            </tr>
        }
    </div>
</section> 