﻿@font-face {
	font-family: Samsung sans;
	src: url(../fonts/samsung-sans/SamsungSans-Bold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Samsung sans;
	src: url(../fonts/samsung-sans/SamsungSans-Medium.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Samsung sans;
	src: url(../fonts/samsung-sans/SamsungSans-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Samsung sans;
	src: url(../fonts/samsung-sans/SamsungSans-Light.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

/* ----- Shared Layout ---------- */

body {
	font-family: "Lato", sans-serif;
}


.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

		.sidenav a:hover {
			color: #f1f1f1;
		}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		font-size: 36px;
	}

#main {
	transition: margin-left .5s;
	padding: 16px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

		.sidenav a {
			font-size: 18px;
		}
}

/* ------- Body | Header | Footer ------- */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Samsung sans', sans-serif;
	margin: 0;
	display: grid;
	grid-template-areas: "header" "main" "footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
	grid-gap: 30px;
	height: 100vh;
	min-width: 768px;
}

.error-message {
	color: #f00;
	text-align: center
}

header {
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	grid-area: header;
}

.container {
	padding: 0 2%;
	grid-area: main;
}

footer {
	width: 100%;
	height: 130px;
	background-color: white;
	grid-area: footer;
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 2%;
	height: inherit;
	height: inherit;
}

	.footer-content .item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
		font-weight: 300;
		color: #5a5a5a;
	}

		.footer-content .item a {
			margin: 3px 0;
			text-decoration: none;
			color: #5a5a5a;
		}

		.footer-content .item p {
			margin: 3px 0;
		}

		.footer-content .item.last p {
			font-size: 75%;
			margin: 3px 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}

.social-icons {
	display: flex;
	justify-content: space-between;
}

.item > a:hover {
	color: #244ba5;
}

h1, h2, h3 {
	font-weight: 500;
}

.top-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	background-color: #244ba5;
	color: white;
	width: 100%;
	height: 60px;
	padding: 0 2%;
	font-size: small;
}

	.top-bar > a, .top-bar > p {
		margin-right: 20px;
		text-decoration: none;
		color: white;
	}

		.top-bar > a:hover {
			color: #b4b4b4;
		}

	.top-bar > p {
		cursor: default;
	}

	.top-bar > a:last-child, .top-bar > a:nth-child(4) {
		margin-right: 0;
	}

.menu nav ul {
	display: flex;
}

	.menu nav ul li {
		margin: 0 15px;
		list-style: none;
		cursor: pointer;
	}

		.menu nav ul li a {
			text-decoration: none;
			color: #244ba5
		}

			.menu nav ul li a:hover {
				color: #000;
			}

		.menu nav ul li:before {
			content: '';
			display: inline-block;
			background-image: url('../images/icons/right_arrow.svg');
			background-repeat: no-repeat;
			height: 0.8em;
			width: 0.8em;
		}

		.menu nav ul li:hover:before {
			filter: brightness(0);
		}

		.menu nav ul li:first-child {
			margin-left: 0;
		}

		.menu nav ul li:last-child {
			margin-right: 0;
		}

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	background-color: white;
	color: #244ba5;
	width: 100%;
	height: 113px;
	padding: 0 2%;
}

#logo > a {
	font-size: 3em;
	text-decoration: none;
	color: inherit;
}

	#logo > a:active {
		color: inherit;
	}

#pbc-logo {
	width: 96px;
}

/* ------- Home Page ------- */

.home, .services, .my-family, .informations, contact {
	display: grid;
	align-content: baseline;
	grid-template-columns: 100%;
	grid-row-gap: 30px;
	height: 100%;
}

.welcome {
	color: #000000;
}

	.welcome > h1 {
		font-size: 2em;
		color: #244ba5;
	}

.btn {
	cursor: pointer;
	border-radius: 2em;
	border: 1px solid #244ba5;
}

.sign-up {
	background-color: #244ba5;
	color: white;
	margin-right: 20px;
	padding: 10px 48px;
	font-size: small;
	text-decoration: none;
}

.sign-in {
	background-color: transparent;
	color: #244ba5;
	padding: 10px 72px;
	font-size: small;
	text-decoration: none;
}

.home:nth-child(2) {
	margin-bottom: 10px;
}

.card-container {
	display: flex;
	justify-content: space-between;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-radius: 1em;
	color: white;
	padding: 0 10px;
}

.info-icon {
	display: flex;
	text-align: center;
	justify-content: center;
	min-height: 70px;
}

.card > * {
	margin: 8px 0;
}

.bg-pink {
	background-color: #ff4655;
}

.bg-yellow {
	background-color: #e5b000;
}

.bg-orange {
	background-color: #f67423;
}

.bg-blue {
	background-color: #00959d;
}

.bg-green {
	background-color: #4cbf22;
}

/* ------- Services ------- */

.sv-header {
	display: flex;
	flex-direction: column;
}

	.sv-header .navigation {
		display: flex;
		flex-direction: row;
		margin-bottom: 30px;
		align-content: center;
		align-items: center;
	}

.navigation .title h2 {
	margin: 0;
	color: #244ba5;
	font-weight: 300;
}

.navigation > *:not(:last-child) {
	margin-right: 20px;
}

.arrow-bottom {
	transform: rotate(90deg);
	transition: transform .25s ease-in;
}

.count {
	position: absolute;
	left: 30px;
	top: 5.5px;
	color: white;
	font-size: smaller;
}

.btn-option {
	width: 140px;
	height: 32px;
	margin-right: 20px;
	border: none;
	border-radius: 1.5em;
	background-color: #f0f0f0;
	color: #244ba5;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

	.btn-option.notifications {
		position: relative;
	}

		.btn-option.notifications:before {
			content: '';
			background-image: url(../images/icons/notifications.svg);
			height: 20px;
			width: 20px;
			background-repeat: no-repeat;
			background-size: contain;
		}

	.btn-option:hover, .custom-dropdown .options span:hover {
		background-color: white;
		color: #193575;
	}

	.btn-option:last-child {
		margin-right: 0;
	}

.btn-service {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	width: 182px;
	height: 154px;
	border: 1px solid white;
	border-radius: 0.7em;
	text-decoration: none;
}

	.btn-service > * {
		margin: 6px 0;
		color: #244ba5;
		font-weight: bold;
	}

	.btn-service p {
		width: 80%;
		margin: 0 auto;
	}

	.btn-service > span {
		transition: transform 0.25s;
		background-position: center;
		max-height: 66px;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.btn-service:hover > span {
		transform: scale(1.2);
	}

	.btn-service > .information-icon[data-service="family"] {
		background-image: url(../images/icons/family.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="property"] {
		background-image: url(../images/icons/property.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="work"] {
		background-image: url(../images/icons/work.svg);
		background-size: 60px 52.31px;
		height: 52.31px;
	}

	.btn-service > .information-icon[data-service="business"] {
		background-image: url(../images/icons/business.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="education"] {
		background-image: url(../images/icons/education.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="vehicle"] {
		background-image: url(../images/icons/vehicle.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="taxes"] {
		background-image: url(../images/icons/taxes.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="customs"] {
		background-image: url(../images/icons/customs.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="police"] {
		background-image: url(../images/icons/police.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="judiciary"] {
		background-image: url(../images/icons/judiciary.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="communal"] {
		background-image: url(../images/icons/communal.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="idcard"] {
		background-image: url(../images/icons/id-card.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="permission"] {
		background-image: url(../images/icons/permission.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="health"] {
		background-image: url(../images/icons/health.svg);
		background-size: 60px 52.31px;
		height: 52.31px;
	}

	.btn-service > .information-icon[data-service="ngo"] {
		background-image: url(../images/icons/ngo.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-service > .information-icon[data-service="consul"] {
		background-image: url(../images/icons/consul.svg);
		background-size: 60px 61.22px;
		height: 61.22px;
	}

.sv-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, 184px);
	justify-content: space-between;
	column-gap: 20px;
	row-gap: 40px;
}

.navigation > p {
	color: white;
	margin: 0 0;
}

.searchbox > button img {
	transition: transform 0.25s;
}

.searchbox button:hover > img {
	transform: scale(1.2);
}

.searchbox button:focus {
	outline: none;
}

.searchbox {
	height: 60px;
	width: 100%;
	background-color: #f0f0f0;
	border-radius: 1em;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: flex;
}

	.searchbox > .search {
		border-radius: inherit;
		border: none;
		width: 100%;
		height: inherit;
		background-color: transparent;
		padding-left: 30px;
	}

	.searchbox > .btn-search {
		padding: 16px;
		background: transparent;
		border: none;
		cursor: pointer;
	}

	.searchbox > input::placeholder {
		color: #b4b4b4;
		font-weight: 500;
		font-size: 1.2em;
	}

/* ------- My family ------- */

.mf-content {
	display: flex;
	flex-direction: column;
}

.btn-mf {
	display: flex;
	align-items: center;
	width: 100%;
	height: 126px;
	border: 1px solid white;
	border-radius: 0.7em;
	margin-bottom: 30px;
	text-decoration: none;
	color: #244ba5;
	box-sizing: border-box;
	position: relative;
}

	.btn-mf > h1 {
		font-weight: 300;
	}

	.btn-mf:hover:before {
		transform: scale(1.2);
	}

	/*.btn-mf > :nth-child(odd) {
        flex-grow: 1;
    }*/

	.btn-mf:before {
		content: '';
		background-repeat: no-repeat;
		background-size: contain;
		transition: transform 0.25s;
		width: 64px;
		height: 64px;
		margin: 0 50px 0 70px;
	}

	.btn-mf[data-family-service="birth-extract"]:before {
		background-image: url(../images/icons/birth-extract.svg);
	}

	.btn-mf[data-family-service="birth-certificate"]:before {
		background-image: url(../images/icons/birth-certificate.svg);
	}

	.btn-mf[data-family-service="marriage-certificate"]:before {
		background-image: url(../images/icons/marriage-certificate.svg);
	}

	.btn-mf[data-family-service="residence-certificate"]:before {
		background-image: url(../images/icons/residence-certificate.svg);
	}

	.btn-mf[data-family-service="citizenship-certificate"]:before {
		background-image: url(../images/icons/citizenship-certificate.svg);
	}

	.btn-mf:after {
		content: '';
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url(../images/icons/arrow-right.svg);
		height: 40px;
		width: 40px;
		position: absolute;
		right: 45px;
	}

.info {
	width: 32px;
	height: 32px;
	background-color: white;
	color: #244ba5;
	border-radius: 50%;
	text-align: center;
	font-size: small;
	align-items: center;
	line-height: 32px;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	cursor: help;
}

.mf-icon {
	flex-grow: 1;
	width: 80px;
	text-align: center;
}

/* ------- Loading ------- */

.loader {
	display: none;
	background-color: #ffffffe3;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 99999;
}

	.loader > img {
		top: 50%;
		position: absolute;
		margin-top: -135px;
		width: 100%;
		height: 150px;
	}

	.loader > h3 {
		text-align: center;
		font-weight: 300;
		margin-top: 0;
		color: #244ba5;
		position: absolute;
		top: 50%;
		width: 100%;
		font-size: 1.5em;
	}

/* ------- e Invoice ------- */

.e-invoice {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 400px;
	text-align: center;
	margin: 0 auto;
	color: #244ba5;
}

	.e-invoice > * {
		border-bottom: 1px solid #b4b4b4;
	}

	.e-invoice > :last-child {
		border: none;
	}

.title > h2, .text > h2 {
	font-weight: 300;
}

.text {
	color: #5a5a5a;
}

.cost {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.price {
	font-size: 5em;
	margin: 0;
}

.penny {
	font-size: 2em;
	margin-left: 15px;
	margin-top: 20px;
}

.btn-pay {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 260px;
	height: 68px;
	color: white;
	background-color: #244ba5;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin: 20px auto;
}

	.btn-pay > img {
		margin-left: 3px;
	}

.price-area > h1 {
	font-weight: 300;
}

/* ------- Online Payment ------- */

.online-payment {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 400px;
	text-align: center;
	margin: 0 auto;
	color: #244ba5;
}

	.online-payment > .title {
		border-bottom: 1px solid #b4b4b4;
	}

	.online-payment > .text > p {
		font-size: small;
	}

.payment-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 30px;
}

	.payment-info > input, .date-ccv > div > input {
		height: 52px;
		width: 100%;
		background-color: white;
		border-radius: 1.5em;
		border: none;
		margin-bottom: 20px;
		text-align: center;
	}

		.payment-info > input::placeholder, .date-ccv > div > input::placeholder {
			text-align: center;
		}

	.payment-info > label, .date-ccv > div > label {
		margin-bottom: 10px;
	}

.date-ccv {
	display: flex;
}

	.date-ccv > :first-child {
		margin-right: 20px;
	}

#calendar {
	position: absolute;
	margin-top: 42px;
	margin-left: -136px;
}

#expiredt {
	text-align: center;
}

input[type=month]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	display: none;
}

input[type=month]::-webkit-calendar-picker-indicator {
	-webkit-appearance: none;
	display: none;
}

#lock {
	position: absolute;
	margin-top: 42px;
	margin-left: -90px;
}

#exc-mark {
	position: absolute;
	margin-top: 42px;
	margin-left: -20px;
}

/* ------- Finish ------- */

.finish {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 400px;
	text-align: center;
	margin: 50px auto;
	color: #244ba5;
}

	.finish > h3 {
		font-weight: 400;
	}

.button-area {
	display: flex;
	margin-right: -20px;
}

.btn-finish {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 205px;
	height: 68px;
	color: white;
	background-color: #244ba5;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin: 20px auto;
	margin-right: 20px;
}

/* ------- Registeration ------- */

.registration {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	text-align: center;
	color: #244ba5;
}

	.registration > .title > h2 {
		font-size: 2em;
		margin-bottom: 0px;
	}

	.registration > .text {
		margin-bottom: 20px;
	}

.register-row.code, .register-row.select {
	width: 50%;
}

.register-row.attach {
	align-items: center;
}

.register-row {
	display: flex;
	text-align: left;
	align-items: flex-end;
	margin-bottom: 20px;
	margin-right: -20px;
}

	.register-row > div {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

		.register-row > div > input {
			margin-bottom: 20px;
			text-indent: 30px;
		}

		.register-row > div > * {
			margin-right: 20px;
		}

.play-video {
	margin-right: 10px;
}

.play-video, .listen-audio {
	height: 48px;
}

.terms {
	display: flex;
	margin-bottom: 20px;
	width: 50%;
}

	.terms > a {
		align-self: center;
		margin-top: 15px;
		text-decoration: none;
		color: #5a5a5a;
	}

	.terms a:first-child {
		margin-right: 20px;
		margin-bottom: 20px;
		width: 100%;
		text-align: left;
		color: #000;
	}

	.terms a:last-child {
		margin-right: -10px;
	}

	.terms > a:active {
		color: #5a5a5a;
	}

.btn-continue, .btn-cancel {
	width: 170px;
	height: 42px;
	cursor: pointer;
	border-radius: 2em;
	border: none;
	color: white;
	margin-top: 20px;
}

.btn-continue {
	background-color: #244ba5;
}

.btn-cancel {
	background-color: red;
	margin-right: 20px;
}

.registeration > form:last-child {
	margin-bottom: 30px;
}

/* ------- Verification ------- */

.verification {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	text-align: center;
	color: #244ba5;
	justify-content: center;
}

	.verification > form:last-child {
		margin-bottom: 30px;
	}

.confirm-code {
	width: 48%;
}

	.confirm-code input {
		text-indent: 20px;
	}

form > .text {
	text-align: left;
}

.register-row > label {
	width: 100%;
	align-self: center;
}

.register-row > select {
	align-self: center;
	margin-right: 20px;
	margin-left: 170px;
	width: 100%;
}

.register-row.select > div {
	margin-bottom: 20px;
	width: 50%;
}

.register-row.select a:last-child, .register-row.code a:last-child {
	margin-right: 10px;
}

.select {
	margin: 30px 0;
}

.attach-row {
	flex-direction: row !important;
	margin-bottom: 20px;
	align-items: center;
}

	.attach-row a {
		margin-bottom: 3px;
	}

.attachment {
	display: flex;
	align-items: center;
}

	.attachment > img:first-child {
		margin-right: 10px;
	}

.attach-row > a > img {
	margin: 0;
}

#document-type {
	padding-left: 30px;
	font-size: medium;
	color: #5a5a5a;
}

	#document-type > option {
		line-height: 52px;
	}

option:disabled {
	color: #bebebe;
}

/* ------- Login ------- */

.login {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 400px;
	text-align: left;
	margin: 0 auto;
	color: #2249a5;
}

	.login .text {
		margin-bottom: 20px;
	}

	.login .title h2 {
		color: #244ba5;
		text-align: center;
		margin-bottom: 30px;
		/*margin-top: 0;*/
	}

	.login a {
		text-decoration: none;
	}

.signin, .signin > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: left;
}

	.signin div > input {
		text-align: left;
		width: 100%;
	}

	.signin > div > label {
		margin-bottom: 10px;
	}

	.signin > div > input::placeholder {
		text-align: left;
	}

	.signin .user img, .signin .password img {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 15px;
	}

.rememberme {
	margin-bottom: 20px;
}

.forgot-password {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

	.forgot-password > * {
		margin: 10px 0;
		color: #2249a5;
	}

	.forgot-password > a:last-child {
		text-decoration: none;
	}

.btn-signin {
	height: 42px;
	line-height: 42px;
	cursor: pointer;
	border-radius: 2em;
	border: 1px solid #244ba5;
	color: #244ba5;
	font-size: medium;
	background-color: transparent;
}

.btn-signup {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 42px;
	background-color: #244ba5;
	color: white;
	border-radius: 2em;
}

input[type="checkbox"] {
	height: auto;
}

.custom-checkbox input[type=checkbox] {
	display: none;
}

.custom-checkbox label {
	display: flex;
	align-items: center;
	padding-left: 30px;
	position: relative;
}

	.custom-checkbox label:before {
		content: '';
		height: 20px;
		width: 20px;
		border: 1px solid #555;
		background-color: transparent;
		position: absolute;
		left: 0;
		border-radius: 4px;
	}

.custom-checkbox input[type=checkbox]:checked + label:before {
	background-color: #244ba5;
	background-image: url(../images/icons/check-white.svg);
	background-size: cover;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: center;
	border-color: #244ba5;
	transition: background-color .1s cubic-bezier(0,.5,.5,.1);
}

.custom-dropdown {
	position: relative;
}

	.custom-dropdown select {
		display: none;
	}

	.custom-dropdown .btn-option {
		margin: 0;
		position: relative;
		z-index: 1000;
		border: 1px solid #b8ccec;
		border-bottom: none;
	}

	.custom-dropdown.open .btn-option {
		border-radius: 1em 1em 0 0;
	}

	.custom-dropdown .btn-option.profile:before {
		content: '';
		background-image: url(../images/icons/profile.svg);
		height: 14px;
		width: 14px;
		background-repeat: no-repeat;
	}

	.custom-dropdown .btn-option.home:before {
		content: '';
		background-image: url(../images/icons/home.svg);
		height: 14px;
		width: 14px;
		background-repeat: no-repeat;
	}

	.custom-dropdown .btn-option:after {
		content: '';
		background-image: url(../images/icons/arrow.svg);
		transform: rotate(90deg);
		transition: transform .25s ease-in;
		height: 12px;
		width: 8px;
		background-repeat: no-repeat;
	}

	.custom-dropdown.open .btn-option:after {
		transform: rotate(270deg);
	}

	.custom-dropdown .options {
		box-sizing: border-box;
		background-color: #f0f0f0;
		max-height: 0;
		opacity: 0;
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
		border-radius: 0 0 1em 1em;
		transition: max-height .1s ease, opacity .1s ease;
		visibility: hidden;
		border: 1px solid #b8ccec;
	}

	.custom-dropdown.open .options {
		position: absolute;
		max-height: 300px;
		opacity: 1;
		width: 100%;
		z-index: 999;
		visibility: visible;
	}

	.custom-dropdown .options span {
		font-size: .8em;
		text-align: center;
		padding: 5px;
		color: #244ba5;
		user-select: none;
		cursor: pointer;
	}

		.custom-dropdown .options span.option.selected {
			background-color: #fff;
		}

		.custom-dropdown .options span.option.disabled {
			background-color: #d9d9d9;
			color: #777;
			cursor: not-allowed;
		}

		.custom-dropdown .options span:not(:last-child) {
			border-bottom: 1px solid #b8ccec;
		}

		.custom-dropdown .options span:last-child {
			border-radius: 0 0 1em 1em;
		}
/* ------- FAQ ------- */
.faq {
	margin-top: 20px;
}

	.faq .title h2 {
		color: #244ba5;
		text-align: center;
		margin-bottom: 30px;
		margin-top: 0;
		font-size: 2em;
	}

.faqanswer {
	display: none;
	width: auto;
	margin-right: 144px;
	margin-bottom: 20px;
	margin-top: -10px;
	border: 1px solid #244ba5;
	border-radius: 1.5em;
	padding: 20px 20px 0 30px;
	background-color: white;
}

	.faqanswer p {
		line-height: 17px;
	}

.faq a.active {
	font-weight: bold;
}

.togglefaq {
	text-decoration: none;
	color: #333;
	background-color: white;
	padding: 0 30px;
	line-height: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #244ba5;
	border-radius: 1.5em;
	width: 100%;
	margin-bottom: -1px;
	margin-right: 20px;
	height: 52px;
}

	.togglefaq > img {
		width: 20px;
	}

	.togglefaq.active > img {
		transform: rotate(-90deg);
	}

.faq p {
	margin: 0;
	padding-bottom: 20px;
}

.question-row {
	display: flex;
	flex-direction: row-reverse;
	margin-right: -20px;
	margin-bottom: 20px;
}

	.question-row > a > img {
		margin-bottom: 0;
		margin-top: 1px;
	}

.register input {
	/* padding: 0 30px; */
	padding-left: 30px;
}

/* ------- Help ------- */

.help {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 70%;
	text-align: center;
	margin: 0 auto;
	color: #244ba5;
	margin-bottom: 20px;
}

	.help .title h2 {
		font-size: 2em;
	}

.help-row {
	display: flex;
	text-align: left;
	margin-bottom: 20px;
}

	.help-row label {
		margin-bottom: 10px;
	}

	.help-row div:first-child {
		margin-right: 20px;
	}

	.help-row > div, .help-row.description {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

		.help-row > div > input {
			padding-left: 30px;
		}

#description {
	border: none;
	border-radius: 1.5em;
	padding-left: 30px;
	padding-top: 20px;
}

/* ------- Contact -------*/

.contact-form {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 100%;
}

	.contact-form > div:first-child > div {
		width: 100%;
	}

		.contact-form > div:first-child > div:first-child {
			margin-right: 20px;
		}

	.contact-form label {
		display: block;
		text-align: left;
		margin-bottom: 10px;
	}

	.contact-form input[type=text], .contact-form input[type=email] {
		width: 100%;
		text-indent: 20px;
	}

	.contact-form button {
		justify-self: center;
	}

	.contact-form textarea {
		resize: none;
		width: 100%;
		border: none;
		border-radius: 1.5em;
		padding-left: 30px;
		padding-top: 20px;
		box-sizing: border-box;
	}

/* ------- Informations ------- */
.info-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, 184px);
	justify-content: space-between;
	column-gap: 20px;
	row-gap: 40px;
}

.btn-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	width: 182px;
	height: 154px;
	border: 1px solid white;
	border-radius: 0.7em;
	text-decoration: none;
}

	.btn-info > * {
		margin: 6px 0;
		color: #244ba5;
		font-weight: bold;
	}

	.btn-info p {
		width: 80%;
		margin: 0 auto;
	}

	.btn-info > span {
		/*width: 60px;
        max-height: 66px;
        margin: 0 auto;*/
		transition: transform 0.25s;
		background-position: center;
		max-height: 66px;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.btn-info:hover > span {
		transform: scale(1.2);
	}

	.btn-info > .information-icon[data-name="benefits"] {
		background-image: url(../images/icons/benefits.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-info > .information-icon[data-name="motion"] {
		background-image: url(../images/icons/motion.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-info > .information-icon[data-name="family"] {
		background-image: url(../images/icons/family2.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-info > .information-icon[data-name="security"] {
		background-image: url(../images/icons/security.svg);
		background-size: 60px 66px;
		height: 66px;
	}

	.btn-info > .information-icon[data-name="health"] {
		background-image: url(../images/icons/health2.svg);
		background-size: 60px 52.31px;
		height: 52.31px;
	}

	.btn-info > .information-icon[data-name="nature"] {
		background-image: url(../images/icons/nature.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-info > .information-icon[data-name="education"] {
		background-image: url(../images/icons/education2.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-info > .information-icon[data-name="diaspora"] {
		background-image: url(../images/icons/diaspora.svg);
		background-size: 60px 61.22px;
		height: 61.22px;
	}

	.btn-info > .information-icon[data-name="work"] {
		background-image: url(../images/icons/work2.svg);
		background-size: 60px 52.31px;
		height: 52.31px;
	}

	.btn-info > .information-icon[data-name="property"] {
		background-image: url(../images/icons/property2.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-info > .information-icon[data-name="informations"] {
		background-image: url(../images/icons/informations.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-info > .information-icon[data-name="culture"] {
		background-image: url(../images/icons/culture.svg);
		background-size: 60px 60px;
		height: 60px;
	}

	.btn-info > .information-icon[data-name="documents"] {
		background-image: url(../images/icons/document.svg);
		background-size: 60px 41.28px;
		height: 41.28px;
	}

	.btn-info > .information-icon[data-name="freedom"] {
		background-image: url(../images/icons/freedom.svg);
		background-size: 60px 66px;
		height: 66px;
	}

.links a {
	text-decoration: none;
	color: #244ba5;
}

	.links a:active {
		color: white;
	}

.links span {
	margin: 0 10px;
	color: white;
}

/* ------- Informations Open ------- */

.io-content {
	display: flex;
	height: 100%;
	margin: 30px 0;
}

.tab {
	flex: 1;
}

	.tab button {
		display: block;
		background-color: rgba(90, 90, 90, 0.2);
		color: black;
		padding: 10px 16px;
		width: 100%;
		border: none;
		outline: none;
		text-align: left;
		cursor: pointer;
		transition: 0.3s;
	}

		.tab button:hover {
			background-color: #ddd;
		}

		.tab button.active {
			color: white;
			background-color: #244ba5;
			border-radius: 5px;
		}

.tabcontent {
	padding: 0px 20px;
	flex: 4;
	border-left: none;
	background-color: rgba(255, 255, 255, 0.2);
	margin-left: 3px;
}

.tablinks {
	margin-bottom: 3px;
}

.multi-tablinks {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}

	.multi-tablinks button {
		padding: 10px 0 10px 30px;
		background-color: unset;
	}

		.multi-tablinks button:first-child {
			background-color: rgba(90, 90, 90, 0.2);
			padding: 10px 16px;
		}

			.multi-tablinks button:first-child.active {
				background-color: #244ba5;
			}

/* ------- General ------- */

.k-window .k-header {
	background-color: #fafafa;
	color: #4c4b4b;
}
.k-header .k-button.k-bare {
	min-width: 30px;
}
.k-edit-form-container .k-edit-buttons { 
	display: flex; 
	justify-content: flex-end;
}
/*.k-edit-form-container .k-primary, .k-popup .k-primary {
	color: #ffffff !important; 
}*/
input, select {
	height: 52px;
	width: auto;
	background-color: white;
	border-radius: 1.5em;
	border: none;
}

	input[type="file"] {
		display: none;
	}

input, select, textarea, button {
	font-family: inherit;
	outline: none;
}

label {
	color: #5a5a5a;
	margin-bottom: 10px;
}

.android {
	height: 40px;
	margin: 0 !important;
	margin-bottom: 4px !important;
	margin-top: 8px !important;
	display: flex;
}

	.android img {
		height: 40px;
	}

.ios {
	height: 40px;
	margin: 0 !important;
	margin-top: 4px !important;
}

.m0 {
	margin: 0;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.p0 {
	padding: 0;
}

.push {
	margin-left: auto;
}

.w-100 {
	width: 100%;
}

.d-block {
	display: block;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-align-end {
	align-items: flex-end;
}

.justify-space-between {
	justify-content: space-between;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.r-0 {
	right: 0;
}

.t-25 {
	top: 25px;
}

.text-left {
	text-align: left;
}

.hidden {
	display: none;
}

.file {
	display: flex;
	align-items: center;
	margin: 0 !important;
	cursor: pointer;
}

	.file.done:before {
		background-image: url(../images/icons/check-white.svg);
		background-position: center;
		background-color: #07b150;
		background-size: 24px;
		border-radius: 1.5em;
	}

	.file span {
		padding: 0 15px 0 55px;
		word-break: break-word;
	}

	.file:before {
		content: '';
		background-image: url(../images/icons/attach.svg);
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: 10px;
		height: 42px;
		width: 44px;
		position: absolute;
	}

	.file input[type=file] {
		display: none;
	}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 768px) {
	.top-bar {
		padding: 0 5%;
	}

	.menu {
		padding: 0 5%;
	}

	.container {
		padding: 0 5%;
	}

	.footer-content {
		padding: 0 5%;
	}

	.card, .info-icon {
		width: 133px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
	.top-bar {
		padding: 0 10%;
	}

	.menu {
		padding: 0 10%;
	}

	.container {
		padding: 0 10%;
	}

	.footer-content {
		padding: 0 10%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
	.top-bar {
		padding: 0 18%;
	}

	.menu {
		padding: 0 18%;
	}

	.container {
		padding: 0 18%;
	}

	.footer-content {
		padding: 0 18%;
	}
}

@media only screen and (min-width: 1600px) {
	.top-bar {
		padding: 0 25%;
	}

	.menu {
		padding: 0 25%;
	}

	.container {
		padding: 0 0%;
	}

	.footer-content {
		padding: 0 0;
	}
}

/* Retina display */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
	body::before {
		background-image: url('../images/background@2x.png');
	}
}

/* Internet Explorer */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	footer {
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.home > *, .services > *, .my-family > *, .informations > * {
		margin: 30px 0;
	}

	.sv-content, .info-content {
		display: flex;
		flex-wrap: wrap;
		flex: 1;
		justify-content: space-between;
		margin-left: -20px;
	}

		.info-content::after {
			content: "";
			flex: auto;
		}

	.btn-service, .btn-info {
		margin: 0 0 40px 20px;
	}

	.btn-mf > img {
		width: 70px;
		height: 70px;
	}

	.loading {
		margin: 60px 0;
	}

	.e-invoice > *, .online-payment > *, .finish > * {
		margin: 12px 0;
	}

	.finish > img {
		width: 400px;
		height: 76px;
	}

	.count {
		margin-left: 29px;
		margin-top: -13px;
	}

	#calendar {
		position: absolute;
		margin-top: 18px;
		margin-left: 30px;
	}

	#lock {
		position: absolute;
		margin-top: 18px;
		margin-left: 40px;
	}

	#exc-mark {
		position: absolute;
		margin-top: 18px;
		margin-left: 120px;
	}

	.faq {
		height: 60vh;
		margin-top: 60px;
	}

	.btn-signin {
		padding-bottom: 42px;
	}

	.login {
		margin: 30px auto;
	}

	.register-row > select {
		margin-left: 100px;
	}
}

/* Microsoft Edge Browser 15+ */

@supports (-ms-ime-align:auto) and (-webkit-text-stroke:initial) {
	.btn-mf > img {
		width: 70px;
		height: 70px;
	}

	.finish > img {
		width: 400px;
		height: 76px;
	}

	.count {
		margin-left: -67px;
		margin-top: -12px;
	}
}

/* Firefox */

@-moz-document url-prefix() {
	.count {
		left: 31px;
	}

	.btn-mf > img {
		width: 70px;
		height: 70px;
	}

	button:focus,
	a:focus, a:active,
	button::-moz-focus-inner,
	input[type="reset"]::-moz-focus-inner,
	input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	select::-moz-focus-inner,
	input[type="file"] > input[type="button"]::-moz-focus-inner {
		outline: none !important;
	}

	select:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}
}


.exists {
	border: 1px solid #f00
}