﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Komunikimet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/line-awesome.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery-3.5.0.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Kendo -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>

    <link href="~/kendo-files/kendo.material.min.css" rel="stylesheet" />
    <link href="~/kendo-files/kendo.common-material.min.css" rel="stylesheet" />


    <script src="~/kendo-files/js/kendo.all.min.js"></script>
    <script src="~/kendo-files/js/kendo.jssor.all.min.js"></script>
    <script src="~/kendo-files/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/kendo-files/js/kendoGridColumnsVisibility.js"></script>
    <!-- Kendo -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <style>
        .parsley-required {
            list-style-type: none;
            color: darkred;
        }

        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: block; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        .spinner {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 60px;
            width: 60px;
            margin: 0px auto;
            -webkit-animation: rotation .6s infinite linear;
            -moz-animation: rotation .6s infinite linear;
            -o-animation: rotation .6s infinite linear;
            animation: rotation .6s infinite linear;
            border-left: 6px solid rgba(255,155,68,.15);
            border-right: 6px solid rgba(255,155,68,.15);
            border-bottom: 6px solid rgba(255,155,68,.15);
            border-top: 6px solid rgba(255,155,68,.8);
            border-radius: 100%;
        }

        @@-webkit-keyframes rotation {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(359deg);
            }
        }

        @@-moz-keyframes rotation {
            from {
                -moz-transform: rotate(0deg);
            }

            to {
                -moz-transform: rotate(359deg);
            }
        }

        @@-o-keyframes rotation {
            from {
                -o-transform: rotate(0deg);
            }

            to {
                -o-transform: rotate(359deg);
            }
        }

        @@keyframes rotation {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(359deg);
            }
        }
    </style>
</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div id="overlay">
            <div class="spinner"></div>
        </div>
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a href="@Url.Action("Index","Home")" class="logo">
                    <img src="~/images/eKosova_logo-01.svg" height="60" alt="">
                </a>
            </div>
            <!-- /Logo -->

            <a id="toggle_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <!-- Header Title -->
            <div class="page-title-box">
                @*<h3>Fondi i Sigurimeve Shëndetsore</h3>*@
            </div>
            <!-- /Header Title -->

            <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>

            <!-- Header Menu -->
            <ul class="nav user-menu">

                <!-- Search -->
                <!-- /Search -->
                <!-- Flag -->
                <li class="nav-item dropdown has-arrow flag-nav">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                        <span id="currentLangaugeName">Shqip</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a onclick="changeLanugage('sq-AL')" asp-for class="dropdown-item" style="cursor:pointer;">
                            Shqip
                        </a>
                        <a onclick="changeLanugage('en-US')" class="dropdown-item" style="cursor:pointer;">
                            Anglisht
                        </a>
                        <a onclick="changeLanugage('sr-Latn-RS')" class="dropdown-item" style="cursor:pointer;">
                            Serbisht
                        </a>
                    </div>
                </li>
                <!-- /Flag -->
                <!-- Notifications -->
                <li class="nav-item dropdown" id="notifications">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i> <span class="badge badge-pill"></span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Njoftimet</span>
                            @*<a href="javascript:void(0)" class="clear-noti"> Clear All </a>*@
                        </div>

                        <div class="topnav-dropdown-footer">
                            <a asp-controller="Notifications" asp-action="Index" id="view-all">Te gjitha njoftimet</a>
                        </div>
                    </div>
                </li>
                <!-- /Notifications -->


                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img src="~/img/profiles/avatar-21.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>Test1</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profili</a>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Home")">Dil</a>
                    </div>
                </li>
            </ul>
            <!-- /Header Menu -->
            <!-- Mobile Menu -->
            <div class="dropdown mobile-user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">Profili</a>
                    <a class="dropdown-item" href="@Url.Action("Logout", "Home")">Dil</a>
                </div>
            </div>
            <!-- /Mobile Menu -->

        </div>
        <!-- /Header -->
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index"><i class="la la-home"></i> <span>Kthehu në menu kryesore</span></a>
                        </li>

                        <li class="menu-title">
                            <span>Komunikimet</span>
                        </li>
                        <li>
                            <a asp-controller="Contact" asp-action="Index"><i class="la la-sms"></i><span>Kontaktet</span></a>
                        </li>
                        <li>
                            <a asp-controller="Help" asp-action="Index"><i class="las la-info-circle"></i><span>Ndihmat</span></a>
                        </li>
                        <li>
                            <a asp-controller="Faq" asp-action="Index"><i class="las la-question-circle"></i><span>Pyetjet e shpeshta</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
    </div>



    <div class="page-wrapper">
        <div id="general-alert-area"></div>
        <!-- Page Content -->
        <div class="content container-fluid">
            @RenderBody()
        </div>

    </div>


    <script src="~/js/app.js"></script>
    <script src="~/js/requests.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
<script>
    $(document).ready(function () {

        $("#overlay").css('display', 'none');
        //$.fn.datepicker.defaults.format = "DD.MM.YYYY";

        //setTimeout(function () { getUnreadNotificationsCount() }, 500);
    });
</script>


