﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Forma Dinamike</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/eKosova_logo-01.svg">

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="~/css/line-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css">



    @*<link href="~/css/select2.min.css" rel="stylesheet" />*@
    @RenderSection("Styles", required: false)

    <script src="~/js/jquery-3.5.0.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Kendo -->
    <link href="~/kendo-files/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/kendo-files/kendo.material.min.css" rel="stylesheet" />

    <script src="~/kendo-files/js/kendo.all.min.js"></script>

    <script src="~/kendo-files/js/kendo.jssor.all.min.js"></script>
    <script src="~/kendo-files/js/kendo.aspnetmvc.min.js"></script>
    <!-- Kendo -->
    <style>
        /*.k-button {
            background-color: #ff9b44;
            border: 1px solid #ff9b44;
            color: #fff;
            font-weight: 500;
            min-width: 140px;
        }*/
        .parsley-required {
            list-style-type: none;
            color: darkred;
        }

        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: block; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        .spinner {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 60px;
            width: 60px;
            margin: 0px auto;
            -webkit-animation: rotation .6s infinite linear;
            -moz-animation: rotation .6s infinite linear;
            -o-animation: rotation .6s infinite linear;
            animation: rotation .6s infinite linear;
            border-left: 6px solid rgba(255,155,68,.15);
            border-right: 6px solid rgba(255,155,68,.15);
            border-bottom: 6px solid rgba(255,155,68,.15);
            border-top: 6px solid rgba(255,155,68,.8);
            border-radius: 100%;
        }

        @@-webkit-keyframes rotation {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(359deg);
            }
        }

        @@-moz-keyframes rotation {
            from {
                -moz-transform: rotate(0deg);
            }

            to {
                -moz-transform: rotate(359deg);
            }
        }

        @@-o-keyframes rotation {
            from {
                -o-transform: rotate(0deg);
            }

            to {
                -o-transform: rotate(359deg);
            }
        }

        @@keyframes rotation {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(359deg);
            }
        }
    </style>
</head>
<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div id="overlay">
            <div class="spinner"></div>
        </div>
        <!-- Header -->
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a href="@Url.Action("Index", "Home")" class="logo">
                    <img src="~/images/eKosova_logo-01.svg" height="60" alt="">
                </a>
            </div>
            <!-- /Logo -->

            <a id="toggle_btn" href="javascript:void(0);" onclick="$('body').toggleClass('mini-sidebar')">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <!-- Header Title -->
            <div class="page-title-box">
                @*<h3>Dreamguy's Technologies</h3>*@
            </div>
            <!-- /Header Title -->

            <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>

            <!-- Header Menu -->
            <ul class="nav user-menu">

                <!-- Search -->
                <li class="nav-item">
                    <div class="top-nav-search">
                        <a href="javascript:void(0);" class="responsive-search">
                            <i class="fa fa-search"></i>
                        </a>
                        <form action="#">
                            <input class="form-control" type="text" placeholder="Search here">
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </li>
                <!-- /Search -->
                <!-- Flag -->
                <li class="nav-item dropdown has-arrow flag-nav">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                        <span id="currentLangaugeName">Shqip</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a onclick="changeLanugage('sq-AL')" asp-for class="dropdown-item" style="cursor:pointer;">
                            Shqip
                        </a>
                        <a onclick="changeLanugage('en-US')" class="dropdown-item" style="cursor:pointer;">
                            Anglisht
                        </a>
                        <a onclick="changeLanugage('sr-Latn-RS')" class="dropdown-item" style="cursor:pointer;">
                            Serbisht
                        </a>
                    </div>
                </li>
                <!-- /Flag -->
                <!-- Notifications -->
                <li class="nav-item dropdown" id="notifications">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i> <span class="badge badge-pill"></span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Njoftimet</span>
                            @*<a href="javascript:void(0)" class="clear-noti"> Clear All </a>*@
                        </div>

                        <div class="topnav-dropdown-footer">
                            <a asp-controller="Notifications" asp-action="Index" id="view-all">Te gjitha njoftimet</a>
                        </div>
                    </div>
                </li>
                <!-- /Notifications -->


                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img src="~/img/profiles/avatar-21.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>Test1</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profili</a>
                        <a class="dropdown-item" href="@Url.Action("SignOut", "User")">Dil</a>
                    </div>
                </li>
            </ul>
            <!-- /Header Menu -->
            <!-- Mobile Menu -->
            <div class="dropdown mobile-user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">Profili</a>
                    <a class="dropdown-item" href="@Url.Action("SignOut", "User")">Dil</a>
                </div>
            </div>
            <!-- /Mobile Menu -->

        </div>
        <!-- /Header -->
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index"><i class="la la-home"></i> <span>Kthehu në menu kryesore</span></a>
                        </li>
                        <li class="menu-title">
                            <span>Main</span>
                        </li>
                        @*<li class="submenu">
            <a href="#"><i class="la la-dashboard"></i> <span> @SharedLocalizer["DashboardMenu"]</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a class="@((action == "index" && controller == "home") ? "active" : "")" href="index.html">Admin Dashboard</a></li>
             </ul>
        </li>*@
                        <li>
                            <a asp-controller="DynamicForm" asp-action="CreateDynamicForm"><i class="la la-plus"></i><span>Krijo forme dinamike</span></a>
                        </li>
                        <li>
                            <a asp-controller="DynamicForm" asp-action="DynamicFormList"><i class="la la-list"></i><span>Lista e formave te krijuara</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <!-- Page Content -->
            <div class="content container-fluid">
                @RenderBody()
            </div>
            <!-- Page Content -->
            <!-- /Page Content -->

        </div>
        <div class="col-lg-12" style="text-align:center; padding-bottom:20px;"> <a href="https://pbc.group/" target="_blank"> powered by pbc</a></div>
        <!-- /Page Wrapper -->

    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/js/requests.js"></script>
    @*<script src="~/js/select2.min.js"></script>*@
    <!-- Slimscroll JS -->
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $("#notifications").click(function () {
            $("#view-all").click(function (e) { e.stopPropagation(); });
            GetPartialWithoutStopLoader("@Url.Action("GetNotifications", "Notifications")").done(function (data) {
                $(".noti-content").html(data);
            });
        });

        @*function datePickerScript(element) {
            element.kendoDatePicker({
                format: '{0: dd.MM.yyyy}',
                culture: "@culture"
            })
        }*@
        $(document).ready(function () {
            setTimeout(function () {
                $("#overlay").css('display', 'none');
                // $.fn.datepicker.defaults.format = "DD.MM.YYYY";
            });
        }, 2000);

        function changeLanugage(lang) {
            Post({ culture: lang }, "@Url.Action("SetLanguage", "Administration")").done(function () {
                location.reload();
            });
        }

        function getUnreadNotificationsCount() {
            if (!localStorage.getItem("notificationsCount")) {
                GetWithoutLoader({}, "@Url.Action("GetUnreadNotificationsCount", "Notifications")").done(function (result) {
                    if (result > 0)
                        $(".badge").html(result);
                    else
                        $(".badge").html('');

                    localStorage.setItem("notificationsCount", result)
                });
            } else {
                if (localStorage.getItem("notificationsCount") > 0)
                    $(".badge").html(localStorage.getItem("notificationsCount"));
                else
                    $(".badge").html('');
            }
        }

    </script>
    @RenderSection("Scripts", required: false)
    <script src="~/kendo-files/js/kendoGridColumnsVisibility.js"></script>
</body>
</html>

