﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewData["Title"] - eKosova</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/eKosova_logo-02.svg">

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Fontawesome CSS -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Main CSS -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Favicon -->
    <!-- Lineawesome CSS -->
    <link href="~/css/line-awesome.min.css" rel="stylesheet" />


    <!-- Chart CSS -->
    <!-- Main CSS -->
    <script src="~/js/jquery-3.5.0.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/js/app.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        .parsley-required {
            list-style-type: none;
            color: darkred;
        }

        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: block; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        .spinner {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 60px;
            width: 60px;
            margin: 0px auto;
            -webkit-animation: rotation .6s infinite linear;
            -moz-animation: rotation .6s infinite linear;
            -o-animation: rotation .6s infinite linear;
            animation: rotation .6s infinite linear;
            border-left: 6px solid rgba(255,155,68,.15);
            border-right: 6px solid rgba(255,155,68,.15);
            border-bottom: 6px solid rgba(255,155,68,.15);
            border-top: 6px solid rgba(255,155,68,.8);
            border-radius: 100%;
        }

        @@-webkit-keyframes rotation {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(359deg);
            }
        }

        @@-moz-keyframes rotation {
            from {
                -moz-transform: rotate(0deg);
            }

            to {
                -moz-transform: rotate(359deg);
            }
        }

        @@-o-keyframes rotation {
            from {
                -o-transform: rotate(0deg);
            }

            to {
                -o-transform: rotate(359deg);
            }
        }

        @@keyframes rotation {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(359deg);
            }
        }
    </style>
</head>
<body class="account-page">

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div id="overlay">
            <div class="spinner"></div>
        </div>
        <div class="account-content">
            <div class="container">

                <!-- Account Logo -->
                <div class="account-logo">
                    <a href="#"><img src="~/images/eKosova_logo-01.svg" height="150" alt="eKosova"></a>
                </div>
                <!-- /Account Logo -->

                <div class="account-box">
                    <div class="account-wrapper">
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12" style="text-align:center; padding-bottom:20px;"> <a href="https://pbc.group/" target="_blank"> powered by pbc</a></div>
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->


    <script>
        $(document).ready(function () {


            $("#overlay").css('display', 'none');
            //$.fn.datepicker.defaults.format = "DD.MM.YYYY";
        });
    </script>
</body>
</html>
