﻿@model Int32

<div class="modal fade" id="updateContact">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editContactLabel">Edit Contact</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("Edit","Contact")" id="eu">
                    <input type="hidden" value="@Model" name="ID"/>
                    <div class="form-group">
                        <label name="FullName">Name</label>
                        <input name="Email" type="email"/>
                    </div>
                    <div class="form-group">
                        <label name="Description">Mesazhi</label>
                        <input name="Answer" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary close" data-dismiss="modal">Close</button>
                @*<a href="@Url.Action("Index", "Contact")">*@<button type="submit" class="btn btn-primary close" data-save="modal" form="eu">Save</button>@*</a>*@
            </div>
        </div>
    </div>

</div>

