﻿@model IEnumerable<eKosovaInternal.Domain.Contacts.Contact>
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CommunicationLayout.cshtml";
}

@section scripts{
    @*<script type="text/javascript">
            //modal
            $(document).ready(function () {
                var PlaceHolderElement = $('#PlaceHolderHere');
                $('button').click(function (event){
                    var url = $(this).data('url');
                    $.get(url).done(function (data) {
                        $(".modal").remove();
                        PlaceHolderElement.html(data);
                        console.log(PlaceHolderElement.find('.modal'));
                        PlaceHolderElement.find('.modal').modal('show');
                    })
                })
            })
        </script>*@
}

<h1>Index</h1>
<style>
    textarea{
        resize:none;
    }
    @@media only screen and (min-width: 992px) {
        .container {
            padding: unset;
        }
    }

    @@media only screen and (min-width: 1200px) {
        .container {
            padding: unset;
        }
    }

    .form-group textarea {
        resize: none;
    }

    

</style>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">              
                
                <div id="grid"></div>

            </div>
        </div>
    </div>
</div>



<script src="~/js/cache.js"></script>
<script id="popup-editor" type="text/x-kendo-template">
    <div class="ml-3 mr-3">
        <p>
            <label>Emri dhe mbiemri: <input id="fullName" name="fullName" readonly /></label>
        </p>
        <label>Mesazhi: <input name="message" /></label>
        <textarea rows="5" class="w-100" name="description" readonly></textarea>
        <label>Pergjigja: <input name="message" /></label>
        <textarea rows="5" id="answer" class="w-100" name="answer"></textarea>
    </div>
</script>
<script type="text/javascript">
    var contacts = GetSyncWithOutLoader("@Url.Action("Data","Contact")").responseJSON;
        console.log(contacts);
    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                data: contacts,
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            fullName: { type: "string" },
                            email: { type: "string" },
                            description: { type: "string" }
                        }
                    }
                },
                pageSize: 10
            },
            sortable: false,
            filterable: {
                mode: "menu"
            },
            pageable: {
                input: true,
                numeric: false
            },
            excel: {
                fileName: "Lista e kontakteve.xlsx",
                allPages: true
            },
            pdf: {
                fileName: "Lista e kontakteve.pdf",
                allPages: true,
                avoidLinks: true,
                landscape: true,
                scale: 0.7,
                paperSize: "A4",
                margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                repeatHeaders: true,
                forcePageBreak: "tr:nth-child(15n)"
                //, template: $("#page-template").html()
            },
            toolbar: [{
                template: `<div class='d-inline-flex w-100 justify-content-between'>
                                <div></div>                                
                                <ul class="nav nav-tabs nav-tabs-bottom" style='border-bottom: 0 !important;'>
                                    <li class="nav-item" id='pdfExport'><button class="nav-link"><i class='la la-file-pdf-o' id='pdfExport'></i> PDF</button></li>
                                    <li class="nav-item" id='xlsExport'><button class="nav-link"><i class='la la-file-excel-o' id='xlsExport'></i> EXCEL</button></li>
                                </ul>
                            </div>` }],
            columns: [                
                {
                    field: "fullName", title: "Emri dhe mbiemri",
                    filterable: {
                        messages: {
                            info: 'Shfaq të dhënat me vlerën:',
                            filter: "Filtro",
                            clear: "Anulo"
                        },
                        extra: false,
                        operators: {
                            string: {
                                contains: "Përmban",
                                startswith: "Fillon me",
                                eq: "Barabartë me"
                            }
                        }
                    }
                },
                {
                    field: "email", title: "Email adresa",
                    filterable: {
                        messages: {
                            info: 'Shfaq të dhënat me vlerën:',
                            filter: "Filtro",
                            clear: "Anulo"
                        },
                        extra: false,
                        operators: {
                            string: {
                                contains: "Përmban",
                                startswith: "Fillon me",
                                eq: "Barabartë me"
                            }
                        }
                    },
                },
                {
                    field: "description", title: "Mesazhi",
                    height: 20,
                    filterable: {
                        messages: {
                            info: 'Shfaq të dhënat me vlerën:',
                            filter: "Filtro",
                            clear: "Anulo"
                        },
                        extra: false,
                        operators: {
                            string: {
                                contains: "Përmban",
                                startswith: "Fillon me",
                                eq: "Barabartë me"
                            }
                        }
                    },
                },
                { command: "edit", title: "&nbsp;", width: "250px" }],
            editable: {
                mode: "popup",
                template: kendo.template($("#popup-editor").html())
            },
            columnMenu: {
                messages: {
                    columns: "Kolonat",
                    sortAscending: "Renditja A-Z",
                    sortDescending: "Renditja Z-A"
                }
            },
            save: function (e) {


                var fullname = document.querySelector("#fullName").value;
                var answer = document.querySelector("#answer").value;
                var idInt = 5;
                $.ajax({
                    url: 'Contact/Edit',
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    data: JSON.stringify({
                        "ID": e.model.id,
                        "iDInternalUser": idInt,
                        "fullName": fullname,
                        "email": e.model.email,
                        "answer": answer

                    })
                });
                location.reload();
            }



        });
        $("#pdfExport").click(function(e) {
			var grid = $("#grid").data("kendoGrid");
			grid.saveAsPDF();
		});
		$("#xlsExport").click(function(e) {
			var grid = $("#grid").data("kendoGrid");
			grid.saveAsExcel();
		});
    });
</script>