﻿
<div class="p-fixed fixed-icons">
    <a href="#"><img class="listen-audio" src="~/images/icons/face.svg" alt="listen"></a>
    <a href="#"><img class="play-video" src="~/images/icons/play.svg" alt="play video"></a>
</div>