﻿@using eKosova.Custom.ExtensionMethods
@{ 
    string actionResult = this.ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>eKosova Portal</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/style.mobile.css">
    <script src="~/js/jquery-3.5.0.min.js"></script>
    <script src="~/lib/jquery-mask/jquery.mask.min.js"></script>
</head>

<body>
    <div class="loader">
        <img src="~/images/icons/loading.svg" alt="loading">
        <h3>Ju lutem prisni, kërkesa juaj është në proces e sipër.</h3>
    </div>
    @if (new string[] { "registration", "verification", "faq" }.Any(_ => _ == actionResult))
    {
        await Html.RenderPartialAsync("~/Views/Shared/_HelpIcons.cshtml");
    }
    <div class="mobile-menu">
        <div class="menu">
            <div id="logo">
                <a asp-controller="Home" asp-action="Index">
                    <span>eKo</span><span style="color: #7c92c9">sova</span>
                </a>
            </div>
            <div class="menu-toggle">
                <div class="menu-icon"></div>
            </div>
        </div>
        <div class="mobile-nav">
            <a class="menu-home" asp-controller="Home" asp-action="Index">Kryesore</a>
            <a class="menu-services" asp-controller="Services" asp-action="Index">Shërbime</a>
            <a class="menu-informations" asp-controller="Informations" asp-action="Index">Informata</a>
            <a class="menu-help" asp-controller="Home" asp-action="Help">Ndihmë</a>
            <a class="menu-faq" asp-controller="Home" asp-action="FAQ">FAQ</a>
            <a class="menu-contact" asp-controller="Home" asp-action="Contact">Kontakti</a>
            <div>
                <platform include="android"><a href="#"><img class="app-icon" src="~/images/Google_Play_Store_Badge.svg" alt="Get it on Google Play"></a></platform>
                <platform include="ios"><a href="#"><img class="app-icon" src="~/images/Download_on_the_App_Store_Badge.svg" alt="Download on the App Store"></a></platform>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="item mobile-app">
            <platform include="android"><a href="#"><img src="~/images/Google_Play_Store_Badge.svg" alt="Get it on Google Play"></a></platform>
            <platform include="ios"><a href="#"><img src="~/images/Download_on_the_App_Store_Badge.svg" alt="Download on the App Store"></a></platform>
        </div>
        <div class="item">
            <a href="#">Rreth portalit</a>
            <a href="#">Privatësia</a>
            <a href="#">Kushtet e përdorimit</a>
        </div>
        <div class="item">
            <p>Kontakti</p>
            <p><a href="tel:0800 888 880">0800 888 880</a></p>
            <div class="social-icons">
                <a href="#"><img src="~/images/icons/fb.svg" alt="facebook"></a>
                <a href="#"><img src="~/images/icons/twitter.svg" alt="twitter"></a>
                <a href="#"><img src="~/images/icons/instagram.svg" alt="instagram"></a>
            </div>
        </div>
        <div class="item language">
            <p>Gjuha aktive:</p>
            @Html.CustomDropdown("Language", new SelectListItem[] {
           new SelectListItem() { Text = "Shqip", Value = "1", Selected = true },
           new SelectListItem() { Text = "Serbisht", Value = "2" },
           new SelectListItem() { Text = "Anglisht", Value = "3" },
       }, "Zgjedh gjuhën", null)
        </div>
        <div class="item last">
            @*<p>Agjecia e shoqërisë së informacionit</p>
                <p>Republika e Kosovës</p>
                <p>Implementuar nga &nbsp;<img id="pbc-logo" src="~/images/icons/pbc.svg" alt="pbc logo"></p>*@
            <img id="pbc-logo" src="~/images/icons/pbc.svg" alt="pbc logo">
        </div>
    </footer>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)

    <script>
        (function () {
            var menuToggle = document.querySelector('.menu-toggle'),
                menu = document.querySelector('.mobile-menu'),
                body = document.querySelector('body');


            menuToggle.onclick = function () {
                menu.classList.toggle('menu-opened');
                body.classList.toggle('menu-opened');
            }
        }());
    </script>
</body>
</html>