﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>eKosova Portal</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
	<script src="~/js/jquery-3.5.0.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>
</head>

<body>
	<div class="loader">
		<img src="~/images/icons/loading.svg" alt="loading">
		<h3>Ju lutem prisni, kërkesa juaj është në proces e sipër.</h3>
	</div>
	<header>
		<div class="top-bar">
			<a asp-controller="Home" asp-action="Help">Ndihmë</a>
			<a asp-controller="Home" asp-action="FAQ">FAQ</a>
			<a asp-controller="Home" asp-action="Contact">Kontakti</a>
			<a href="https://mail.rks-gov.net/owa/" target="_blank">Webmail</a>
			<p class="push">Gjuha:</p>
			<a href="#">Shq</a>
			<a href="">Eng</a>
			<a href="">Srb</a>
		</div>
		<div class="menu">
			<a asp-controller="Home" asp-action="Index"><div id="logo"></div></a>
			<nav class="push">
				<ul>
					<li><a asp-controller="Home" asp-action="Index">Kryesore</a></li>
					<li><a asp-controller="Services" asp-action="Index">Shërbime</a></li>
					<li><a asp-controller="Informations" asp-action="Index">Informata</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="container">
		@RenderBody()
	</div>

	<footer>
		<div class="footer-content">
			<div class="item">
				<a href="#">Rreth portalit</a>
				<a href="#">Privatësia</a>
				<a href="#">Kushtet e përdorimit</a>
			</div>
			<div class="item">
				<p>Kontakti</p>
				<p>0800 888 880</p>
				<div class="social-icons">
					<img src="~/images/icons/fb.svg" alt="facebook">
					<img src="~/images/icons/twitter.svg" alt="twitter">
					<img src="~/images/icons/instagram.svg" alt="instagram">
				</div>
			</div>
			<div class="item">
				<a href="#" class="android"><img src="~/images/Google_Play_Store_Badge.svg" alt="Get it on Google Play"></a>
				<a href="#" class="ios"><img src="~/images/Download_on_the_App_Store_Badge.svg" alt="Download on the App Store"></a>
			</div>
			<div class="item last">
				@*<p>Republika e Kosovës</p>
					<p>Agjecia e shoqërisë së informacionit</p>
					<p>Implementuar nga &nbsp;<img id="pbc-logo" src="~/images/icons/pbc.svg" alt="pbc logo"></p>*@
				<img id="pbc-logo" src="~/images/icons/pbc.svg" alt="pbc logo">
			</div>
		</div>
	</footer>
	<script src="~/lib/jquery-mask/jquery.mask.min.js"></script>
	<script src="~/js/site.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>