﻿@using eKosova.Custom.ExtensionMethods
@model eKosova.Models.ResetPassword
<section class="reset">
	<div class="sv-header">
		<div class="navigation">
			<div class="title">
				<h2>Profili Im</h2>
			</div>
			<button class="push btn-option notifications" id="btnNotification">
				<span class="count">@eKosova.Custom.Helpers.LogedUser.GetNotificationCount()</span>
				Njoftimet
			</button>
			@if (eKosova.Custom.Helpers.LogedUser.GetNotificationCount() > 0)
			{
				<div id="notificationContainer">
					<div id="notificationTitle">Njoftimet</div>
					@foreach (var notification in eKosova.Custom.Helpers.LogedUser.GetNotifications().Take(5))
					{
						<a href="#@notification.ID" class="notificationsLink">
							<div class="notificationsBody@(notification.IsRead?"":" highlight")">
								<span class="notificationsMessage">@notification.Message</span>
								<span class="notificationsTime">@notification.SentDate.ToString(@"HH\:mm, dd\/MM\/yyyy")</span>
							</div>
						</a>
					}
					<div id="notificationFooter"><a href="#">Shiko te gjitha</a></div>
				</div>
			}
			@Html.CustomDropdown("Profile", new SelectListItem[] {
				new SelectListItem{ Text = "Historiku", Value = "1" },
				new SelectListItem{ Text = "Dalja", Value = "2" } },
				eKosova.Custom.Helpers.LogedUser.GetLoggedUserFull(), "0", "profile")
		</div>
	</div>
	<div class="text">
		<p>Për të ndryshuar fjalekalimin ju duhet të plotësoni të dhënat në vazhdim:</p>
	</div>
	@using (Html.BeginForm("Update", "Profile", FormMethod.Post))
	{
		<input type="hidden" name="Identification" value="@eKosova.Custom.Helpers.LogedUser.GetLoggedUserId()" />
		<div class="register-row">
			<div>
				<label for="confirm-password">Fjalëkalimi i tanishëm</label>
				<input type="password" required class="text-center" style="text-indent: unset" asp-for="@Model.OldPassword" autocomplete="off">
			</div>
		</div>
		<div class="register-row">
			<div>
				<label for="password">Vendosni fjalëkalimin e ri</label>
				<input type="password" asp-for="@Model.Password" required class="newPassword" autocomplete="off">
			</div>
			<div>
				<label for="confirm-password">Konfirmojeni fjalëkalimin e ri</label>
				<input type="password" id="ConfirmPassword" name="ConfirmPassword" required class="newPassword" autocomplete="off">
			</div>
		</div>
		<div id="pwd-result"></div>
		<div class="error-message">@Html.ValidationMessage("Credentials")</div><br />
		<div class="text-center">
			<button class="btn-cancel" type="submit" formaction="@Url.Action("Index","Home")">Ndërpreje</button>
			<button class="btn-continue" type="submit">Vazhdo</button>
		</div>
	}
</section>
<style>
	#notificationContainer {
		margin-right: 5%;
	}

	@@media only screen and (min-width: 992px) {
		#notificationContainer {
			margin-right: 16%;
		}
	}

	@@media only screen and (min-width: 1200px) {
		#notificationContainer {
			margin-right: 21%;
		}
	}

	@@media only screen and (min-width: 1600px) {
		#notificationContainer {
			margin-right: 26%;
		}
	}

	.reset {
		grid-row-gap: unset;
	}

	#Password-error, #ConfirmPassword-error {
		display: none !important;
	}
</style>
<script src="~/js/formPw.js"></script>
<script>
	$().ready(function () {
		$("form").validate({
			rules: {
				CurrentPassword: {
					required: true
				},
				Password: {
					required: true,
					strongEnough: true
				},
				ConfirmPassword: {
					required: true,
					passwordsMatch: true
				}
			},
			messages: {
				CurrentPassword: "Fjalekalimi i tanishëm duhet shkruar",
				Password: "",
				ConfirmPassword: ""
			},
			submitHandler: function (form) {
				$('.loader').show();
				form.submit();
			}
		});
	});
</script>