﻿@model Int32
@using eKosova.Custom.ExtensionMethods
<section class="services">
	<div class="sv-header">
		<div class="navigation">
			<div class="title">
				<h2>Njoftimet</h2>
			</div>
			<button class="push btn-option notifications" id="btnNotification">
				<span class="count">@eKosova.Custom.Helpers.LogedUser.GetNotificationCount()</span>
				Njoftimet
			</button>
			@if (eKosova.Custom.Helpers.LogedUser.GetNotificationCount() > 0)
			{
				<div id="notificationContainer">
					<div id="notificationTitle">Njoftimet</div>
					@foreach (var notification in eKosova.Custom.Helpers.LogedUser.GetNotifications().Take(5))
					{
						<a href="#@notification.ID">
							<div class="notificationsBody@(notification.IsRead?"":" highlight")">
								<span class="notificationsMessage">@notification.Message</span>
								<span class="notificationsTime">@notification.SentDate.ToString(@"HH\:mm, dd\/MM\/yyyy")</span>
							</div>
						</a>
					}
					<div id="notificationFooter"><a href="#">Shiko te gjitha</a></div>
				</div>
			}
			@Html.CustomDropdown("Profile", new SelectListItem[] {
				new SelectListItem{ Text = "Historiku", Value = "1" },
				new SelectListItem{ Text = "Dalja", Value = "2" } },
				eKosova.Custom.Helpers.LogedUser.GetLoggedUserFull(), "0", "profile")
		</div>
	</div>
	<div class="sv-content">
		LANDING PAGE PER NOTIFICATION
	</div>
</section>
<style>
	#notificationContainer {
		margin-right: 5%;
	}

	@@media only screen and (min-width: 992px) {
		#notificationContainer {
			margin-right: 16%;
		}
	}

	@@media only screen and (min-width: 1200px) {
		#notificationContainer {
			margin-right: 21%;
		}
	}

	@@media only screen and (min-width: 1600px) {
		#notificationContainer {
			margin-right: 26%;
		}
	}
</style>