﻿@using eKosova.Custom.ExtensionMethods
@{
	bool loggedIn = eKosova.Custom.Helpers.LogedUser.LoggedIn();
}
@model Int32
<section class="my-family">
	<div class="sv-header">
		<div class="navigation">
			<div class="title">
				<h2 id="subserviceTitle"></h2>
			</div>
			@if (loggedIn)
			{
				<button class="push btn-option notifications" id="btnNotification">
					<span class="count">@eKosova.Custom.Helpers.LogedUser.GetNotificationCount()</span>
					Njoftimet
				</button>
				<div id="notificationContainer">
					<div id="notificationTitle">Njoftimet</div>
					@foreach (var notification in eKosova.Custom.Helpers.LogedUser.GetNotifications().Take(5))
					{
						<a href="#@notification.ID" class="notificationsLink">
							<div class="notificationsBody@(notification.IsRead?"":" highlight")">
								<span class="notificationsMessage">@notification.Message</span>
								<span class="notificationsTime">@notification.SentDate.ToString(@"HH\:mm, dd\/MM\/yyyy")</span>
							</div>
						</a>
					}
					<div id="notificationFooter"><a href="#">Shiko te gjitha</a></div>
				</div>
				@Html.CustomDropdown("Profile", new SelectListItem[] {
					new SelectListItem{ Text = "Historiku", Value = "1" },
					new SelectListItem{ Text = "Dalja", Value = "2" } },
						 eKosova.Custom.Helpers.LogedUser.GetLoggedUserFull(), "0", "profile")
			}
		</div>
		<div class="searchbox">
			<input id="search" class="search" type="text" placeholder="Kërko shërbimin" name="search">
			<button class="btn-search">
				<img src="~/images/icons/search.svg">
			</button>
		</div>
	</div>
	<style>
		.btn-mf:before {
			content: '';
			background-repeat: no-repeat;
			background-size: contain;
			transition: transform 0.25s;
			width: 64px;
			height: 64px;
			margin: 0 50px 0 70px;
		}
	</style>
	<div class="mf-content">
	</div>
</section>


<script src="~/js/cache.js"></script>
<script>
	checkCache('Services');
	var protoCache = JSON.parse(window.localStorage.getItem('ServicesCache'));
	var protoItems = JSON.parse(protoCache.Data);
	document.getElementById('subserviceTitle').innerHTML = protoItems[@(Model-1)].name;

	checkCache(`Service/${@Model}`);

	var cache = JSON.parse(window.localStorage.getItem(`Service/${@Model}Cache`));
	var items = JSON.parse(cache.Data);
	items.forEach(function (arrayItem) {
		var divTag = document.createElement("div");
		var sTag = document.createElement("span");
		sTag.setAttribute('class', 'info');
		var sText = document.createTextNode('i');
		sTag.appendChild(sText);

		var aTag = document.createElement("a");
		aTag.setAttribute('href', '#');
		aTag.setAttribute('class', 'btn-mf');
		aTag.setAttribute('data-family-service', `i${arrayItem.id}`);

		var h1Tag = document.createElement("h1");
		var hText = document.createTextNode(arrayItem.name);
		h1Tag.appendChild(hText);

		aTag.appendChild(h1Tag);
		divTag.appendChild(aTag);

		var element = document.getElementsByClassName("mf-content")[0];
		element.appendChild(divTag);

		const styleTag = document.createElement("style");
		const cssTemplateString = `.btn-mf[data-family-service="i${arrayItem.id}"]:before {background-image: url(/images/icons/${arrayItem.iconPath});}`;
		styleTag.innerHTML = cssTemplateString;
		document.head.insertAdjacentElement('beforeend', styleTag);
	});
</script>